#top-header .display-heading { box-sizing: border-box; display: inline-block; width: 100%; height: 66rem; background: url( "../../multimedia/images/extra-large/ll-architecture-1.jpg" ) center bottom/cover; box-shadow: unquote( nth( $bs, 3 ) );
  & .content-container { @include set-grid;
    & .heading-container { margin: 20.5rem auto 9.3rem; text-align: center;
      & .heading-set {
        & .title { font: { size: 13rem; weight: 700 }; color: nth( $c-0, 1 ); letter-spacing: -.2rem; margin-bottom: 4.6rem;
          @media ( max-width: 67.45em /* 1079px */ ) { font-size: 11.5rem }
          @media ( max-width: 43.7em /* 699px */ ) { font-size: 9rem; margin-bottom: 3.8rem }
          @media ( max-width: 33.7em /* 539px */ ) { font-size: calc( 15vw + .4rem ); margin-bottom: 2.5rem } }
        & .subtitle { font: { size: 2.5rem; weight: 100 }; color: nth( $c-0, 5 );
          @media ( max-width: 67.45em /* 1079px */ ) { font-size: 2.4rem }
          @media ( max-width: 43.7em /* 699px */ ) { font-size: 2.1rem }
          @media ( max-width: 33.7em /* 539px */ ) { font-size: 1.9rem }
          @media ( max-width: 24.95em /* 399px */ ) { font-size: 1.8rem } } } }
    & .button-container { text-align: center;
      & button { font: { size: 1.4rem; weight: 700 }; text-transform: uppercase; color: nth( $c-0, 5 ); padding: 3.1rem 4.5rem 2.7rem; border-bottom: solid .4rem nth( $c-1, 2 ); border-radius: .4rem .4rem 0 0; text-indent: 4.7rem; background: url( "../../multimedia/images/extra-small/ss-email-1.png" ) no-repeat 4.3rem center/3.3rem nth( $c-1, 1 ); box-shadow: unquote( nth( $bs, 2 ) ); transition: all nth( $a-dt, 2 );
        @media ( max-width: 67.45em /* 1079px */ ) { padding: 2.8rem 4rem 2.4rem }
        @media ( max-width: 43.7em /* 699px */ ) { padding: 2.5rem 3.5rem 2rem; text-indent: 5rem }
        @media ( max-width: 24.95em /* 399px */ ) { padding: 2.2rem 2.5rem 1.8rem; text-indent: 6rem }
        &:hover, &:focus { transform: translateY( -.1rem ) scale( 1.008 ) }
        &:active { transform: translateY( -.2rem ) scale( 1.012 ) } } } } }
