#fee-schedule { border-bottom: solid .4rem nth( $c-0, 5 );
  & .content-container { @include set-grid( ( 8rem, 6.2rem ) );
    & .heading-container {
      @include title-1( 4.6rem ) {
        @media ( max-width: 49.95em /* 799px */ ) { font-size: 4rem }
        @media ( max-width: 34.95em /* 559px */ ) { font-size: 3.5rem; margin-bottom: 3.5rem }
        @media ( max-width: 24.95em /* 399px */ ) { font-size: 3rem } } }
    & .display-options { display: table; border-collapse: collapse; margin-bottom: 2.1rem; position: relative;
        @media ( max-width: 24.95em /* 399px */ ) { width: 100% }
      & li { display: table-cell; font-size: 2rem; color: nth( $c-0, 12 ); height: 5.8rem; padding: 0 3rem; vertical-align: middle; border: solid .1rem nth( $c-0, 11 ); background-color: lighten( nth( $c-0, 11 ), 10% ); cursor: pointer; transition: filter nth( $a-dt, 2 ); outline: none;
        @media ( max-width: 49.95em /* 799px */ ) { font-size: 1.7rem; padding: 0 2rem }
        @media ( max-width: 34.95em /* 559px */ ) { font-size: 1.3rem; height: 4.5rem; padding: 0 1rem }
        @media ( max-width: 24.95em /* 399px */ ) {
          & .removable { display: none } }
        &.current { color: nth( $c-1, 1 ); background-color: darken( white, 1% ) }
        &:not( .current ):hover, &:not( .current ):focus { filter: brightness( 102% ); outline: none } } }
    & .schedule-table { text-align: left; border-collapse: collapse; border-radius: .5rem .5rem 0 0; overflow: hidden; cursor: default; margin-bottom: 4.4rem;
      @media ( max-width: 69.95em /* 1119px */ ) { width: 100% }
      & thead { font: { size: 1.6rem; weight: 700 }; text-transform: uppercase; color: white; background-color: nth( $c-0, 7 ); border-right: solid .1rem nth( $c-0, 7 );
        @media ( max-width: 69.95em /* 1119px */ ) { font-size: 1.3rem }
        @media ( max-width: 49.95em /* 799px */ ) { font-size: 1.1rem }
        & th { @include table-measures-1 } }
      & tbody { font-size: 1.6rem;
        @media ( max-width: 69.95em /* 1119px */ ) { font-size: 1.4rem }
        @media ( max-width: 49.95em /* 799px */ ) { font-size: 1.2rem }
        & tr { border: solid .1rem nth( $c-0, 11 );
          &:not( :first-child ) { border-top: none }
          & td { color: nth( $c-0, 10 ); @include table-measures-1; background-color: nth( $c-0, 2 );
            &:first-child { color: nth( $c-0, 7 ); background-color: darken( nth( $c-0, 2 ), 1% ) } } } } }
    & .table-nav { @include pages-nav-1 } } }
