@charset "UTF-8";
/* Pré-Configurações Gerais */
/* Predefinições Globais */
/* Elementos */
*, *::before, *::after { padding: 0; border: none; margin: 0; }

html { font-size: 62.5%; }

h1, h2, h3, h4, h5, h6, caption, legend { cursor: default; }

p:not(:last-child) { margin-bottom: 0.6em; }

a:link, a:visited, a:hover, a:active { color: inherit; -webkit-hyphens: none; -ms-hyphens: none; hyphens: none; text-decoration: none; -webkit-transition: color 0.4s ease-out; transition: color 0.4s ease-out; }

ol, ul { list-style: none; }

dt { display: inline; }
dt::after { content: ": "; }

dd { display: inline; }
dd::after { content: "\0A"; white-space: pre; }

picture { display: inline-block; }
picture img { width: 100%; height: auto; }

img { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

abbr { font-style: normal; -webkit-hyphens: none; -ms-hyphens: none; hyphens: none; text-decoration: none; }
abbr[title] { border-bottom: dashed .1rem; border-color: inherit; cursor: help; }
@media (max-device-width: 899px) { abbr[title] { border: none; } }
abbr[data-title]::after { content: " (" attr(data-title) ")"; }

address, cite:not([lang]) { font-style: normal; }

button { -webkit-box-sizing: content-box; box-sizing: content-box; font-family: inherit; line-height: 1; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; outline: none; background-color: transparent; }

input, textarea, select { font-family: inherit; font-weight: inherit; font-stretch: inherit; outline: none; resize: none; }

template { display: none; }

/* Classes */
.line { display: block; }

/* Pré-Configurações do Site */
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 100"), local("MuseoSans-100"), url("../../multimedia/fonts/museo-sans/MuseoSans-100.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-100.otf"); font-weight: 100; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 300"), local("MuseoSans-300"), url("../../multimedia/fonts/museo-sans/MuseoSans-300.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-300.otf"); font-weight: 300; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 500"), local("MuseoSans-500"), url("../../multimedia/fonts/museo-sans/MuseoSans-500.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-500.otf"); font-weight: 500; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 700"), local("MuseoSans-700"), url("../../multimedia/fonts/museo-sans/MuseoSans-700.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-700.otf"); font-weight: 700; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 900"), local("MuseoSans-900"), url("../../multimedia/fonts/museo-sans/MuseoSans-900.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-900.otf"); font-weight: 900; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 100 Italic"), local("MuseoSans-100Italic"), url("../../multimedia/fonts/museo-sans/MuseoSans-100Italic.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-100Italic.otf"); font-weight: 100; font-style: italic; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 300 Italic"), local("MuseoSans-300Italic"), url("../../multimedia/fonts/museo-sans/MuseoSans-300Italic.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-300Italic.otf"); font-weight: 300; font-style: italic; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 500 Italic"), local("MuseoSans-500Italic"), url("../../multimedia/fonts/museo-sans/MuseoSans-500Italic.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-500Italic.otf"); font-weight: 500; font-style: italic; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 700 Italic"), local("MuseoSans-700Italic"), url("../../multimedia/fonts/museo-sans/MuseoSans-700Italic.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-700Italic.otf"); font-weight: 700; font-style: italic; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 900 Italic"), local("MuseoSans-900Italic"), url("../../multimedia/fonts/museo-sans/MuseoSans-900Italic.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-900Italic.otf"); font-weight: 900; font-style: italic; font-stretch: normal; }
@-webkit-keyframes rotate-to-backface { 0% { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); }
  97.5% { -webkit-transform: rotateY(90deg); transform: rotateY(90deg); }
  100% { -webkit-transform: rotateY(90deg); transform: rotateY(90deg); } }
@keyframes rotate-to-backface { 0% { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); }
  97.5% { -webkit-transform: rotateY(90deg); transform: rotateY(90deg); }
  100% { -webkit-transform: rotateY(90deg); transform: rotateY(90deg); } }
@-webkit-keyframes rotate-from-backface { 0% { -webkit-transform: rotateY(-90deg); transform: rotateY(-90deg); }
  2.5% { -webkit-transform: rotateY(-90deg); transform: rotateY(-90deg); }
  100% { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); } }
@keyframes rotate-from-backface { 0% { -webkit-transform: rotateY(-90deg); transform: rotateY(-90deg); }
  2.5% { -webkit-transform: rotateY(-90deg); transform: rotateY(-90deg); }
  100% { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); } }
/* Configurações Locais */
body { font: 300 1.6rem/1 "Museo Sans", sans-serif; background-color: whitesmoke; overflow-x: hidden; }

dt, dd { display: block; }
dt::after, dd::after { content: ""; }

/* Componentes */
#top-header .nav-container { background: -webkit-gradient( linear, left top, right top, from(hsl( 0, 0%, 12% )), color-stop(12.3%, hsl( 0, 0%, 10% )), color-stop(12.4%, hsl( 0, 0%, 18% )), color-stop(87.6%, hsl( 0, 0%, 15% )), color-stop(87.7%, hsl( 0, 0%, 10% )), to(hsl( 0, 0%, 12% )) ); background: linear-gradient( 90deg, hsl( 0, 0%, 12% ) 0%, hsl( 0, 0%, 10% ) 12.3%, hsl( 0, 0%, 18% ) 12.4%, hsl( 0, 0%, 15% ) 87.6%, hsl( 0, 0%, 10% ) 87.7%, hsl( 0, 0%, 12% ) 100% ); -webkit-box-shadow: 0 .1rem .3rem rgba( 245, 245, 245, .25 ); box-shadow: 0 .1rem .3rem rgba( 245, 245, 245, .25 ); position: relative; }
@media (max-width: 102.45em) { #top-header .nav-container { background-image: -webkit-gradient( linear, left top, right top, from(hsl( 0, 0%, 12% )), color-stop(5%, hsl( 0, 0%, 10% )), color-stop(5.1%, hsl( 0, 0%, 18% )), color-stop(94.9%, hsl( 0, 0%, 15% )), color-stop(95%, hsl( 0, 0%, 10% )), to(hsl( 0, 0%, 12% )) ); background-image: linear-gradient( 90deg, hsl( 0, 0%, 12% ) 0%, hsl( 0, 0%, 10% ) 5%, hsl( 0, 0%, 18% ) 5.1%, hsl( 0, 0%, 15% ) 94.9%, hsl( 0, 0%, 10% ) 95%, hsl( 0, 0%, 12% ) 100% ); } }
@media (max-width: 86.2em) { #top-header .nav-container { background-image: none; background-color: #292929; } }
#top-header .nav-container .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 123rem; padding: 0 1.5rem 0; margin: 0 auto 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }
@media (max-width: 56.2em) { #top-header .nav-container .content-container { padding-left: 1.5rem; padding-right: 1.5rem; } }
@media (max-width: 67.45em) { #top-header .nav-container .content-container { -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; padding-top: 1.5rem; padding-bottom: 1.5rem; } }
#top-header .nav-container .content-container .icon img { height: 100%; -o-object-fit: scale-down; object-fit: scale-down; -o-object-position: center; object-position: center; }
#top-header .nav-container .content-container .links-container { color: whitesmoke; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
@media (max-width: 67.45em) { #top-header .nav-container .content-container .links-container { -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; } }
#top-header .nav-container .content-container .links-container .pages-menu { text-transform: uppercase; margin-right: 4.9rem; }
@media (max-width: 67.45em) { #top-header .nav-container .content-container .links-container .pages-menu { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; margin-right: 0; } }
#top-header .nav-container .content-container .links-container .pages-menu .pages-list { font-size: 1.4rem; overflow: hidden; -webkit-transition: height 1s ease-in; transition: height 1s ease-in; position: relative; outline: none; }
@media (max-width: 67.45em) { #top-header .nav-container .content-container .links-container .pages-menu .pages-list { padding-left: 2.5rem; } }
@media (max-width: 67.45em) { #top-header .nav-container .content-container .links-container .pages-menu .pages-list::after { content: url("../../multimedia/images/extra-small/ss-rarr-1.png"); display: inline-block; -webkit-transform: rotate(90deg); transform: rotate(90deg); position: absolute; top: 3rem; left: 0; cursor: pointer; } }
#top-header .nav-container .content-container .links-container .pages-menu .pages-list li { -webkit-box-sizing: border-box; box-sizing: border-box; display: inline-block; padding: 3.8rem 0; border-bottom: solid .2rem transparent; }
@media (max-width: 67.45em) { #top-header .nav-container .content-container .links-container .pages-menu .pages-list li { display: block; padding: 2.4rem 0 0.6rem; } }
#top-header .nav-container .content-container .links-container .pages-menu .pages-list li:not(:last-child) { margin-right: 4.6rem; }
@media (max-width: 67.45em) { #top-header .nav-container .content-container .links-container .pages-menu .pages-list li:not(:last-child) { margin-right: 0; } }
#top-header .nav-container .content-container .links-container .pages-menu .pages-list li.current { color: #4069a5; border-color: #4069a5; font-weight: 500; }
#top-header .nav-container .content-container .links-container .pages-menu .pages-list li a { display: inline-block; -webkit-transition: color 0.5s ease-out, 0.3s ease-in-out, 1s ease-in, 1.03s ease-out, 1.03s ease-in; transition: color 0.5s ease-out, 0.3s ease-in-out, 1s ease-in, 1.03s ease-out, 1.03s ease-in; }
#top-header .nav-container .content-container .links-container .pages-menu .pages-list li a:hover, #top-header .nav-container .content-container .links-container .pages-menu .pages-list li a:focus { color: #9bafcd; }
#top-header .nav-container .content-container .links-container .pages-menu .pages-list li a:active { color: #7693bd; }
#top-header .nav-container .content-container .links-container .contact-menu { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 1.8rem 0 .8rem 3.9rem; border-left: solid 0.1rem #4d4d4d; }
@media (max-width: 67.45em) { #top-header .nav-container .content-container .links-container .contact-menu { border-left: none; border-right: solid 0.1rem #4d4d4d; padding-left: 0; padding-right: 2.5rem; margin-right: 2rem; } }
@media (max-width: 33.7em) { #top-header .nav-container .content-container .links-container .contact-menu { display: none; } }
#top-header .nav-container .content-container .links-container .contact-menu .contact-info { color: whitesmoke; font-weight: 500; margin-right: 3.6rem; }
@media (max-width: 67.45em) { #top-header .nav-container .content-container .links-container .contact-menu .contact-info { display: none; } }
#top-header .nav-container .content-container .links-container .contact-menu .contact-info .message .action { display: block; font-size: 1.2rem; color: dimgray; margin-bottom: .8rem; cursor: default; }
#top-header .nav-container .content-container .links-container .contact-menu .contact-info .message .tel { display: block; font-size: 1.8rem; padding-bottom: .4rem; border-bottom: solid 0.2rem #4069a5; cursor: pointer; }
#top-header .nav-container .content-container .links-container .contact-menu .social-list li { display: inline-block; }
#top-header .nav-container .content-container .links-container .contact-menu .social-list li:not(:last-child) { margin-right: 2.7rem; }
#top-header .nav-container .content-container .links-container .contact-menu .social-list li a { display: inline-block; width: 2.1rem; height: 2.1rem; background-repeat: no-repeat; background-position: center; background-size: contain; }
#top-header .nav-container .content-container .links-container .contact-menu .social-list li a.facebook { background-image: url("../../multimedia/images/extra-small/ss-facebook-1.png"); }
#top-header .nav-container .content-container .links-container .contact-menu .social-list li a.linkedin { background-image: url("../../multimedia/images/extra-small/ss-linkedin-1.png"); }
#top-header .nav-container .content-container .links-container .contact-menu .social-list li a.instagram { background-image: url("../../multimedia/images/extra-small/ss-instagram-1.png"); }
#top-header .nav-container .content-container .links-container .contact-menu .social-list li a { -webkit-transition: -webkit-filter 0.5s ease-out; transition: -webkit-filter 0.5s ease-out; transition: filter 0.5s ease-out; transition: filter 0.5s ease-out, -webkit-filter 0.5s ease-out; }
#top-header .nav-container .content-container .links-container .contact-menu .social-list li a:hover, #top-header .nav-container .content-container .links-container .contact-menu .social-list li a:focus { -webkit-filter: sepia(100%) saturate(6) hue-rotate(150deg) brightness(85%); filter: sepia(100%) saturate(6) hue-rotate(150deg) brightness(85%); }
#top-header .nav-container .content-container .links-container .contact-menu .social-list li a:active { -webkit-filter: sepia(100%) saturate(10) hue-rotate(150deg) brightness(85%); filter: sepia(100%) saturate(10) hue-rotate(150deg) brightness(85%); }

#top-header .display-heading { -webkit-box-sizing: border-box; box-sizing: border-box; display: inline-block; width: 100%; height: 66rem; background: url("../../multimedia/images/extra-large/ll-architecture-1.jpg") center bottom/cover; -webkit-box-shadow: 0 .2rem .4rem rgba( 0, 0, 0, .25 ); box-shadow: 0 .2rem .4rem rgba( 0, 0, 0, .25 ); }
#top-header .display-heading .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 123rem; padding: 0 1.5rem 0; margin: 0 auto 0; }
@media (max-width: 56.2em) { #top-header .display-heading .content-container { padding-left: 1.5rem; padding-right: 1.5rem; } }
#top-header .display-heading .content-container .heading-container { margin: 20.5rem auto 9.3rem; text-align: center; }
#top-header .display-heading .content-container .heading-container .heading-set .title { font-size: 13rem; font-weight: 700; color: #ededed; letter-spacing: -.2rem; margin-bottom: 4.6rem; }
@media (max-width: 67.45em) { #top-header .display-heading .content-container .heading-container .heading-set .title { font-size: 11.5rem; } }
@media (max-width: 43.7em) { #top-header .display-heading .content-container .heading-container .heading-set .title { font-size: 9rem; margin-bottom: 3.8rem; } }
@media (max-width: 33.7em) { #top-header .display-heading .content-container .heading-container .heading-set .title { font-size: calc( 15vw + .4rem ); margin-bottom: 2.5rem; } }
#top-header .display-heading .content-container .heading-container .heading-set .subtitle { font-size: 2.5rem; font-weight: 100; color: #e0e0e0; }
@media (max-width: 67.45em) { #top-header .display-heading .content-container .heading-container .heading-set .subtitle { font-size: 2.4rem; } }
@media (max-width: 43.7em) { #top-header .display-heading .content-container .heading-container .heading-set .subtitle { font-size: 2.1rem; } }
@media (max-width: 33.7em) { #top-header .display-heading .content-container .heading-container .heading-set .subtitle { font-size: 1.9rem; } }
@media (max-width: 24.95em) { #top-header .display-heading .content-container .heading-container .heading-set .subtitle { font-size: 1.8rem; } }
#top-header .display-heading .content-container .button-container { text-align: center; }
#top-header .display-heading .content-container .button-container button { font-size: 1.4rem; font-weight: 700; text-transform: uppercase; color: #e0e0e0; padding: 3.1rem 4.5rem 2.7rem; border-bottom: solid 0.4rem #395b8e; border-radius: .4rem .4rem 0 0; text-indent: 4.7rem; background: url("../../multimedia/images/extra-small/ss-email-1.png") no-repeat 4.3rem center/3.3rem #4069a5; -webkit-box-shadow: 0 .2rem .5rem .1rem rgba( 0, 0, 0, .25 ); box-shadow: 0 .2rem .5rem .1rem rgba( 0, 0, 0, .25 ); -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
@media (max-width: 67.45em) { #top-header .display-heading .content-container .button-container button { padding: 2.8rem 4rem 2.4rem; } }
@media (max-width: 43.7em) { #top-header .display-heading .content-container .button-container button { padding: 2.5rem 3.5rem 2rem; text-indent: 5rem; } }
@media (max-width: 24.95em) { #top-header .display-heading .content-container .button-container button { padding: 2.2rem 2.5rem 1.8rem; text-indent: 6rem; } }
#top-header .display-heading .content-container .button-container button:hover, #top-header .display-heading .content-container .button-container button:focus { -webkit-transform: translateY(-0.1rem) scale(1.008); transform: translateY(-0.1rem) scale(1.008); }
#top-header .display-heading .content-container .button-container button:active { -webkit-transform: translateY(-0.2rem) scale(1.012); transform: translateY(-0.2rem) scale(1.012); }

#profile-info { background-color: #ededed; }

#about .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 123rem; padding: 9.8rem 1.5rem 8.4rem; margin: 0 auto 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
@media (max-width: 56.2em) { #about .content-container { padding-left: 1.5rem; padding-right: 1.5rem; } }
@media (max-width: 78.1em) { #about .content-container { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }
@media (max-width: 61.4em) { #about .content-container { padding-bottom: 6rem; } }
@media (max-width: 78.1em) { #about .content-container .info-container { width: 100%; margin-bottom: 8rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap-reverse; flex-flow: row wrap-reverse; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }
@media (max-width: 61.4em) { #about .content-container .info-container { text-align: center; } }
#about .content-container .info-container .side-image { width: 27.6rem; height: 27.6rem; border-radius: 50%; background-color: black; -webkit-filter: drop-shadow(0.4rem 0.2rem 0.6rem rgba( 0, 0, 0, 0.3 )); filter: drop-shadow(0.4rem 0.2rem 0.6rem rgba( 0, 0, 0, 0.3 )); overflow: hidden; }
#about .content-container .info-container .side-image img { height: 100%; -o-object-fit: fill; object-fit: fill; -o-object-position: center; object-position: center; }
#about .content-container .info-container .side-text { display: inline-block; margin-left: 3rem; max-width: 47.5rem; }
@media (max-width: 78.1em) { #about .content-container .info-container .side-text { max-width: 60rem; margin-left: 6rem; margin-bottom: 3rem; } }
@media (max-width: 61.4em) { #about .content-container .info-container .side-text { font-size: 1.5rem; margin-left: 0; } }
@media (max-width: 31.2em) { #about .content-container .info-container .side-text { font-size: 1.4rem; } }
#about .content-container .info-container .side-text .heading-container { margin-bottom: 3.1rem; }
#about .content-container .info-container .side-text .heading-container .heading-set .title { font-size: 5rem; font-weight: 300; text-transform: uppercase; color: #e0e0e0; margin-bottom: 4rem; }
#about .content-container .info-container .side-text .heading-container .heading-set .subtitle { font-size: 2.5rem; font-weight: 300; color: #757575; }
@media (max-width: 61.4em) { #about .content-container .info-container .side-text .heading-container .heading-set .subtitle { font-size: 2.4rem; } }
@media (max-width: 31.2em) { #about .content-container .info-container .side-text .heading-container .heading-set .subtitle { font-size: 2.2rem; } }
#about .content-container .info-container .side-text .text-set { color: #36464e; line-height: 1.5; }
#about .content-container .info-container .side-text .text-set .text .highlight { font-weight: 700; }
#about .content-container .side-icons { margin-right: 2.5rem; }
@media (max-width: 78.1em) { #about .content-container .side-icons { width: 100%; margin-right: 0; } }
#about .content-container .side-icons .topics-list { font-weight: 700; text-transform: uppercase; padding: 4.1rem 0 4.1rem 5.8rem; border-left: solid 0.1rem #e0e0e0; }
#about .content-container .side-icons .topics-list li { color: #292929; padding: 1rem 0 1rem 4rem; background-repeat: no-repeat; background-position-y: center; }
#about .content-container .side-icons .topics-list li.residence { background-image: url("../../multimedia/images/extra-small/ss-realty-2.png"); background-position-x: left; }
#about .content-container .side-icons .topics-list li.license { background-image: url("../../multimedia/images/extra-small/ss-certificate-1.png"); background-position-x: left; }
#about .content-container .side-icons .topics-list li.experience { background-image: url("../../multimedia/images/extra-small/ss-realty-3.png"); background-position-x: left; }
#about .content-container .side-icons .topics-list li:not(:last-child) { margin-bottom: 6rem; }
@media (max-width: 78.1em) { #about .content-container .side-icons .topics-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-left: 0; border-left: none; border-top: solid 0.1rem #e0e0e0; } }
@media (max-width: 28.1em) { #about .content-container .side-icons .topics-list { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; } }
@media (max-width: 78.1em) { #about .content-container .side-icons .topics-list li:nth-child(n) { margin: 0 1.5rem 2.5rem; } }
@media (max-width: 28.1em) { #about .content-container .side-icons .topics-list li:nth-child(n) { margin: 0 0 2.5rem; } }

#license .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 123rem; padding: 0 1.5rem 0; margin: 0 auto 0; }
@media (max-width: 56.2em) { #license .content-container { padding-left: 1.5rem; padding-right: 1.5rem; } }
#license .content-container .title { font-size: 5rem; font-weight: 300; text-transform: uppercase; color: #c2c2c2; margin-bottom: 4rem; }
#license .content-container .license-block { display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; border: solid 0.1rem #bdbdbd; -webkit-box-shadow: 0 .4rem 1.5rem rgba( 0, 0, 0, .1 ); box-shadow: 0 .4rem 1.5rem rgba( 0, 0, 0, .1 ); cursor: default; }
@media (max-width: 56.2em) { #license .content-container .license-block { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }
#license .content-container .license-block:not(:last-child) { margin-bottom: 2.4rem; }
#license .content-container .license-block dt, #license .content-container .license-block dd { display: block; font-size: 1.4rem; }
#license .content-container .license-block dt::after, #license .content-container .license-block dd::after { content: ""; }
#license .content-container .license-block dt { color: #b0b0b0; }
#license .content-container .license-block dd { color: #424242; }
#license .content-container .license-block .heading-block { background-image: linear-gradient(45deg, #e0e0e0 0%, #e0e0e0 95.5%, #cfcfcf 95.6%); background-color: #e0e0e0; padding-left: 2.7rem; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }
@media (max-width: 78.1em) { #license .content-container .license-block .heading-block { padding: 0 2rem; } }
@media (max-width: 56.2em) { #license .content-container .license-block .heading-block { padding: 2rem 0; } }
#license .content-container .license-block .heading-block .license { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; height: 100%; }
@media (max-width: 78.1em) { #license .content-container .license-block .heading-block .license { -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }
@media (max-width: 56.2em) { #license .content-container .license-block .heading-block .license { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; } }
#license .content-container .license-block .heading-block .license dt { font-size: 2rem; color: #757575; margin-bottom: 1.7rem; }
@media (max-width: 78.1em) { #license .content-container .license-block .heading-block .license dt { font-size: 4rem; letter-spacing: 0.3rem; } }
@media (max-width: 56.2em) { #license .content-container .license-block .heading-block .license dt { letter-spacing: 0; margin-bottom: 0; margin-right: 2rem; } }
@media (max-width: 24.95em) { #license .content-container .license-block .heading-block .license dt { font-size: 3.5rem; margin-right: 1.2rem; } }
#license .content-container .license-block .heading-block .license dd { font-size: 3rem; font-weight: 500; }
@media (max-width: 24.95em) { #license .content-container .license-block .heading-block .license dd { font-size: 2.5rem; } }
#license .content-container .license-block .heading-block .license dd .number { display: inline-block; padding-left: 1.7rem; padding-top: 0.8rem; letter-spacing: -.2rem; position: relative; }
#license .content-container .license-block .heading-block .license dd .number::before { content: "#"; color: #b0b0b0; font-size: 2rem; position: absolute; top: 0; left: 0; }
#license .content-container .license-block .data-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; padding: 1.9rem 6.8rem 1.9rem 4.4rem; background-color: #ededed; }
@media (max-width: 78.1em) { #license .content-container .license-block .data-list { -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 100%; } }
@media (max-width: 56.2em) { #license .content-container .license-block .data-list { padding-left: 2rem; padding-right: 2rem; } }
#license .content-container .license-block .data-list .info-set[class~="main"] { padding: 2.4rem 4.4rem 1.7rem 0; border-right: solid 0.1rem #e0e0e0; }
@media (max-width: 78.1em) { #license .content-container .license-block .data-list .info-set[class~="main"] { width: 100%; padding-right: 0; border-right: none; border-bottom: solid 0.1rem #e0e0e0; } }
#license .content-container .license-block .data-list .info-set[class~="main"] .main-data { margin-bottom: 4.8rem; }
@media (max-width: 78.1em) { #license .content-container .license-block .data-list .info-set[class~="main"] .main-data { width: -moz-fit-content; width: -webkit-fit-content; width: fit-content; margin-left: auto; margin-right: auto; } }
@media (max-width: 56.2em) { #license .content-container .license-block .data-list .info-set[class~="main"] .main-data { text-align: center; } }
@media (max-width: 24.95em) { #license .content-container .license-block .data-list .info-set[class~="main"] .main-data { text-align: left; margin-bottom: 2.8rem; margin-left: 0; } }
#license .content-container .license-block .data-list .info-set[class~="main"] .main-data dt.status { color: #757575; margin-bottom: 1.4rem; }
#license .content-container .license-block .data-list .info-set[class~="main"] .main-data dd.status .key-info { display: block; font-size: 3rem; font-weight: 700; color: #00d16c; margin-bottom: 1.3rem; }
@media (max-width: 24.95em) { #license .content-container .license-block .data-list .info-set[class~="main"] .main-data dd.status .key-info { margin-bottom: 2.4rem; } }
#license .content-container .license-block .data-list .info-set[class~="main"] .main-data dd.status .additional-info { font-size: 1.4rem; color: #757575; }
#license .content-container .license-block .data-list .info-set[class~="main"] .main-data dd.status .additional-info .verified { display: inline-block; margin-right: 2.2rem; }
@media (max-width: 24.95em) { #license .content-container .license-block .data-list .info-set[class~="main"] .main-data dd.status .additional-info .verified { width: 100%; margin-bottom: 1.5rem; margin-right: 0; } }
#license .content-container .license-block .data-list .info-set[class~="main"] .main-data dd.status .additional-info .source { display: inline-block; color: #2094f3; }
#license .content-container .license-block .data-list .info-set[class~="main"] .main-data dd.status .additional-info .source::before { content: "Source: "; color: #757575; font-size: 1.4rem; cursor: default; }
@media (max-width: 31.2em) { #license .content-container .license-block .data-list .info-set[class~="main"] .side-data { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; border-top: solid 0.1rem #e0e0e0; } }
#license .content-container .license-block .data-list .info-set[class~="main"] .side-data .data-set { display: inline-block; padding: 1.2rem 0 1.6rem; }
#license .content-container .license-block .data-list .info-set[class~="main"] .side-data .data-set dt { margin-bottom: 1.1rem; }
#license .content-container .license-block .data-list .info-set[class~="main"] .side-data .data-set dd { font-size: 1.5rem; }
@media (max-width: 31.2em) { #license .content-container .license-block .data-list .info-set[class~="main"] .side-data .data-set:first-child { padding-top: 2.4rem; } }
#license .content-container .license-block .data-list .info-set[class~="main"] .side-data .data-set:not(:first-child) { padding-left: 1.7rem; }
@media (max-width: 31.2em) { #license .content-container .license-block .data-list .info-set[class~="main"] .side-data .data-set:not(:first-child) { padding-left: 0; } }
#license .content-container .license-block .data-list .info-set[class~="main"] .side-data .data-set:not(:last-child) { padding-right: 1.9rem; border-right: solid 0.1rem #e0e0e0; }
@media (max-width: 31.2em) { #license .content-container .license-block .data-list .info-set[class~="main"] .side-data .data-set:not(:last-child) { padding-right: 0; border-right: none; } }
#license .content-container .license-block .data-list .info-set[class~="side"] { padding: 2.4rem 0 1.7rem 4.4rem; }
@media (max-width: 78.1em) { #license .content-container .license-block .data-list .info-set[class~="side"] { width: 100%; padding-left: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; } }
@media (max-width: 43.7em) { #license .content-container .license-block .data-list .info-set[class~="side"] { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; } }
@media (max-width: 37.45em) { #license .content-container .license-block .data-list .info-set[class~="side"] { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }
#license .content-container .license-block .data-list .info-set[class~="side"] .data-set { display: inline-block; }
#license .content-container .license-block .data-list .info-set[class~="side"] .data-set dt { margin-bottom: 1.5rem; }
@media (max-width: 37.45em) { #license .content-container .license-block .data-list .info-set[class~="side"] .data-set dt { margin-bottom: 1rem; } }
#license .content-container .license-block .data-list .info-set[class~="side"] .data-set dd.counties { max-width: 23.6rem; }
@media (max-width: 37.45em) { #license .content-container .license-block .data-list .info-set[class~="side"] .data-set dd.counties { max-width: none; } }
#license .content-container .license-block .data-list .info-set[class~="side"] .data-set dd.cities-excluded { max-width: 22rem; }
@media (max-width: 37.45em) { #license .content-container .license-block .data-list .info-set[class~="side"] .data-set dd.cities-excluded { max-width: none; } }
#license .content-container .license-block .data-list .info-set[class~="side"] .data-set dd > [class$="list"] { line-height: 1.92; }
@media (max-width: 37.45em) { #license .content-container .license-block .data-list .info-set[class~="side"] .data-set dd > [class$="list"] { line-height: 1.75; } }
#license .content-container .license-block .data-list .info-set[class~="side"] .data-set dd > [class$="list"] li { display: inline; }
#license .content-container .license-block .data-list .info-set[class~="side"] .data-set dd > [class$="list"] li:not(:last-child)::after { content: ", "; }
#license .content-container .license-block .data-list .info-set[class~="side"] .data-set dd > [class$="list"] li:last-child::after { content: "."; }
#license .content-container .license-block .data-list .info-set[class~="side"] .data-set:not(:last-child) { margin-right: 4.3rem; }
@media (max-width: 78.1em) { #license .content-container .license-block .data-list .info-set[class~="side"] .data-set:not(:last-child) { margin-right: 0; } }
@media (max-width: 37.45em) { #license .content-container .license-block .data-list .info-set[class~="side"] .data-set:not(:last-child) { margin-bottom: 3.5rem; } }

#overview .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 123rem; padding: 6.2rem 1.5rem 5.6rem; margin: 0 auto 0; }
@media (max-width: 56.2em) { #overview .content-container { padding-left: 1.5rem; padding-right: 1.5rem; } }
@media (max-width: 56.2em) { #overview .content-container { padding-left: 1.5rem; padding-right: 1.5rem; } }
#overview .content-container .heading-container { margin-bottom: 3.6rem; }
#overview .content-container .heading-container .title { font-size: 3rem; color: #c2c2c2; margin-left: 1.7rem; text-transform: unset; }
#overview .content-container .heading-container .title::before { display: inline-block; content: url("../../multimedia/images/extra-small/ss-profile-1.png"); position: relative; left: -1.7rem; bottom: -0.2rem; }
#overview .content-container .overview-data { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }
#overview .content-container .overview-data .divisor { width: 100%; height: .1rem; background-color: #e0e0e0; margin: 3.5rem 0; }
#overview .content-container .overview-data .data-set { -webkit-box-flex: 0; -ms-flex: 0 1 auto; flex: 0 1 auto; padding: .3rem 1.2rem .3rem 0; }
@media (max-width: 83.1em) { #overview .content-container .overview-data .data-set { padding-bottom: 6rem; } }
#overview .content-container .overview-data .data-set:not(:first-child) { margin-left: 4.2rem; }
#overview .content-container .overview-data .data-set:not(:last-child) { border-right: solid 0.1rem #e0e0e0; }
#overview .content-container .overview-data .data-set dt { color: #b0b0b0; font-size: 1.4rem; margin-bottom: 1.2rem; cursor: default; }
#overview .content-container .overview-data .data-set dd { color: #424242; font-size: 1.6rem; margin-bottom: .5rem; }
#overview .content-container .overview-data .data-set dd.bold { font-weight: 700; }
#overview .content-container .overview-data .data-set dd.highlight { color: #4069a5; font-weight: 700; }
#overview .content-container .overview-data .data-set dd .line:not(:last-of-type) { margin-bottom: 1rem; }
#overview .content-container .overview-data .data-set dd:not(:last-of-type)::after { content: ","; }
#overview .content-container .overview-data .data-set:nth-of-type(5) { border-right: none; }
#overview .content-container .overview-data .data-set[class~="licenser-title"] { width: 14.5rem; }
@media (max-width: 56.2em) { #overview .content-container .overview-data .data-set[class~="licenser-title"] { -ms-flex-preferred-size: 25%; flex-basis: 25%; -webkit-box-ordinal-group: -1; -ms-flex-order: -2; order: -2; } }
@media (max-width: 40.6em) { #overview .content-container .overview-data .data-set[class~="licenser-title"] { -ms-flex-preferred-size: 100%; flex-basis: 100%; padding: 0 0 3.5rem; border-bottom: solid 0.1rem #e0e0e0; border-right: none; margin-bottom: 3.5rem; } }
#overview .content-container .overview-data .data-set[class~="specialties"] { width: 14.4rem; }
@media (max-width: 56.2em) { #overview .content-container .overview-data .data-set[class~="specialties"] { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; -webkit-box-ordinal-group: -1; -ms-flex-order: -2; order: -2; } }
@media (max-width: 40.6em) { #overview .content-container .overview-data .data-set[class~="specialties"] { -ms-flex-preferred-size: 100%; flex-basis: 100%; margin-left: 0; padding: 0 0 3.5rem; border-bottom: solid 0.1rem #e0e0e0; border-right: none; margin-bottom: 3.5rem; } }
@media (max-width: 40.6em) { #overview .content-container .overview-data .data-set[class~="specialties"] dd { display: inline; } }
#overview .content-container .overview-data .data-set[class~="certifications"] { width: 19.5rem; }
@media (max-width: 56.2em) { #overview .content-container .overview-data .data-set[class~="certifications"] { -ms-flex-preferred-size: 100%; flex-basis: 100%; text-align: center; padding: 3.5rem 0; border-top: solid 0.1rem #e0e0e0; border-bottom: solid 0.1rem #e0e0e0; border-right: none; margin: 3.5rem 0; } }
@media (max-width: 40.6em) { #overview .content-container .overview-data .data-set[class~="certifications"] { margin: 0; } }
#overview .content-container .overview-data .data-set[class~="certifications"] .certifications-set { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; }
@media (max-width: 56.2em) { #overview .content-container .overview-data .data-set[class~="certifications"] .certifications-set { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } }
#overview .content-container .overview-data .data-set[class~="certifications"] .certifications-set dd::after { content: ""; }
#overview .content-container .overview-data .data-set[class~="certifications"] .certifications-set dd .circle { background: url("../../multimedia/images/extra-small/ss-border-1.png") no-repeat center/100% padding-box; width: 4.5rem; height: 4.5rem; border-radius: 50%; background-color: #fafafa; position: relative; margin-right: 1.8rem; }
#overview .content-container .overview-data .data-set[class~="certifications"] .certifications-set dd .circle .certification { font-size: 1.4rem; text-transform: uppercase; color: transparent; background-image: -webkit-gradient( linear, left bottom, left top, from(hsl( 36, 51%, 49% )), to(hsl( 35, 50%, 41% )) ); background-image: linear-gradient( 0deg, hsl( 36, 51%, 49% ), hsl( 35, 50%, 41% ) ); -webkit-background-clip: text; background-clip: text; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); cursor: default; }
@supports not (-webkit-background-clip: text) { #overview .content-container .overview-data .data-set[class~="certifications"] .certifications-set dd .circle .certification { color: #9d7134; background-image: unset; } }
#overview .content-container .overview-data .data-set[class~="appraisal-software"] { width: 16.5rem; }
@media (max-width: 83.1em) { #overview .content-container .overview-data .data-set[class~="appraisal-software"] { margin-left: 0; } }
@media (max-width: 56.2em) { #overview .content-container .overview-data .data-set[class~="appraisal-software"] { -ms-flex-preferred-size: 25%; flex-basis: 25%; -webkit-box-ordinal-group: 0; -ms-flex-order: -1; order: -1; margin-left: 4.2rem; } }
@media (max-width: 40.6em) { #overview .content-container .overview-data .data-set[class~="appraisal-software"] { -ms-flex-preferred-size: 100%; flex-basis: 100%; padding: 0 0 3.5rem; border-right: none; margin-left: 0; } }
#overview .content-container .overview-data .data-set[class~="organizations"] { width: 31.8rem; }
@media (max-width: 83.1em) { #overview .content-container .overview-data .data-set[class~="organizations"] { border-right: solid 0.1rem #e0e0e0; } }
@media (max-width: 56.2em) { #overview .content-container .overview-data .data-set[class~="organizations"] { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; margin-left: 0; } }
@media (max-width: 43.7em) { #overview .content-container .overview-data .data-set[class~="organizations"] { -ms-flex-preferred-size: 100%; flex-basis: 100%; padding: 3.5rem 0; border-bottom: solid 0.1rem #e0e0e0; border-right: none; margin: 0 0 3.5rem; } }
@media (max-width: 40.6em) { #overview .content-container .overview-data .data-set[class~="organizations"] { margin-bottom: 0; } }
#overview .content-container .overview-data .data-set[class~="organizations"] dd { display: inline; line-height: 1.3; }
#overview .content-container .overview-data .data-set[class~="designations"] { width: 25.5rem; }
@media (max-width: 83.1em) and (min-width: 43.7em) { #overview .content-container .overview-data .data-set[class~="designations"] { margin-left: 4.2rem !important; } }
@media (max-width: 43.7em) { #overview .content-container .overview-data .data-set[class~="designations"] { -ms-flex-preferred-size: 100%; flex-basis: 100%; padding: 3.5rem 0; border-right: none; margin: 0; } }
#overview .content-container .overview-data .data-set[class~="designations"] dd { font-weight: 700; margin-bottom: 1.2rem; }
#overview .content-container .overview-data .data-set[class~="designations"] dd:not(:last-of-type)::after { content: ""; }
#overview .content-container .overview-data .data-set[class~="payment"] { width: 39.3rem; border-right: none; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }
@media (max-width: 56.2em) { #overview .content-container .overview-data .data-set[class~="payment"] { -ms-flex-preferred-size: 100%; flex-basis: 100%; padding: 3.5rem 0; border-top: solid 0.1rem #e0e0e0; border-bottom: solid 0.1rem #e0e0e0; border-right: none; margin: 3.5rem 0; } }
@media (max-width: 40.6em) { #overview .content-container .overview-data .data-set[class~="payment"] { margin: 0; } }
#overview .content-container .overview-data .data-set[class~="payment"] dt { margin-bottom: 0; }
@media (max-width: 31.2em) { #overview .content-container .overview-data .data-set[class~="payment"] dt { margin-bottom: 1.2rem; text-align: center; } }
#overview .content-container .overview-data .data-set[class~="payment"] .cards-block { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
@media (max-width: 31.2em) { #overview .content-container .overview-data .data-set[class~="payment"] .cards-block { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }
#overview .content-container .overview-data .data-set[class~="payment"] .cards-block .types { font-size: 1.6rem; font-weight: 700; color: #424242; }
@media (max-width: 31.2em) { #overview .content-container .overview-data .data-set[class~="payment"] .cards-block .types { font-size: 1.4rem; margin-bottom: 2rem; } }
#overview .content-container .overview-data .data-set[class~="payment"] .cards-block .cards-set { margin-left: 3.6rem; }
#overview .content-container .overview-data .data-set[class~="payment"] .cards-block .cards-set dd { display: inline-block; }
#overview .content-container .overview-data .data-set[class~="payment"] .cards-block .cards-set dd:not(:last-of-type) { margin-right: 1.4rem; }
#overview .content-container .overview-data .data-set[class~="payment"] .cards-block .cards-set dd::after { content: ""; }
@media (max-width: 83.1em) and (min-width: 56.2em) { #overview .content-container .overview-data .data-set:nth-child(n+4) { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
  #overview .content-container .overview-data .data-set:not(:last-child) { -ms-flex-preferred-size: 28%; flex-basis: 28%; }
  #overview .content-container .overview-data .data-set:last-child { margin-top: 7rem; margin-left: 0; } }
#overview .content-container .overview-data .divisor + .data-set { margin-left: 0; }
@media (max-width: 56.2em) { #overview .content-container .overview-data .divisor { display: none; } }

#company .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 123rem; padding: 0 1.5rem 0; margin: 0 auto 0; }
@media (max-width: 56.2em) { #company .content-container { padding-left: 1.5rem; padding-right: 1.5rem; } }
#company .content-container .heading-container { margin-bottom: 3.2rem; }
#company .content-container .heading-container .title { font-size: 3rem; color: #c2c2c2; margin-left: 1.7rem; text-transform: unset; }
#company .content-container .heading-container .title::before { display: inline-block; content: url("../../multimedia/images/extra-small/ss-briefcase-1.png"); position: relative; left: -1.7rem; bottom: -0.2rem; }
#company .content-container .company-data { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }
#company .content-container .company-data .divisor { width: 100%; height: .1rem; background-color: #e0e0e0; margin: 3.5rem 0; }
#company .content-container .company-data .data-set { -webkit-box-flex: 0; -ms-flex: 0 1 auto; flex: 0 1 auto; padding: .3rem 1.2rem .3rem 0; }
@media (max-width: 83.1em) { #company .content-container .company-data .data-set { padding-bottom: 6rem; } }
#company .content-container .company-data .data-set:not(:first-child) { margin-left: 3.1rem; }
#company .content-container .company-data .data-set:not(:last-child) { border-right: solid 0.1rem #e0e0e0; }
#company .content-container .company-data .data-set dt { color: #b0b0b0; font-size: 1.4rem; margin-bottom: 1.2rem; cursor: default; }
#company .content-container .company-data .data-set dd { color: #424242; font-size: 1.6rem; margin-bottom: .5rem; }
#company .content-container .company-data .data-set dd.bold { font-weight: 700; }
#company .content-container .company-data .data-set dd.highlight { color: #4069a5; font-weight: 700; }
#company .content-container .company-data .data-set dd .line:not(:last-of-type) { margin-bottom: 1rem; }
#company .content-container .company-data .data-set dd:not(:last-of-type)::after { content: ","; }
#company .content-container .company-data .data-set:nth-of-type(6) { border-right: none; }
#company .content-container .company-data .data-set[class~="company"] { width: 14.6rem; }
#company .content-container .company-data .data-set[class~="company-type"] { width: 14rem; }
#company .content-container .company-data .data-set[class~="address"] { width: 18.2rem; }
#company .content-container .company-data .data-set[class^="contact-"] { width: 11.8rem; }
@media (max-width: 83.1em) { #company .content-container .company-data .data-set[class$="-toll-free"] { margin-left: 0; } }
#company .content-container .company-data .data-set[class~="deliverables"] .deliverables-list { max-width: 86.2rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
#company .content-container .company-data .data-set[class~="deliverables"] .deliverables-list::after { content: ""; display: table; clear: both; }
@media (max-width: 83.1em) { #company .content-container .company-data .data-set[class~="deliverables"] .deliverables-list { max-width: none; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; } }
#company .content-container .company-data .data-set[class~="deliverables"] .deliverables-list li { float: left; max-width: 22.5rem; width: calc( ( 1 * ( 100% - ( 0.4rem * ( 4 - 1 ) ) )/4 ) + ( 0.4rem * ( 1 - 1 ) ) ); margin-bottom: .8rem; }
#company .content-container .company-data .data-set[class~="deliverables"] .deliverables-list li::before { display: inline-block; content: url("../../multimedia/images/extra-small/ss-check-1.png"); position: relative; left: -1rem; bottom: 0; }
#company .content-container .company-data .data-set[class~="deliverables"] .deliverables-list li:not(:nth-child(4n + 1)) { margin-left: 0.4rem; }
@media (max-width: 83.1em) { #company .content-container .company-data .data-set[class~="deliverables"] .deliverables-list li:nth-child(n) { margin-bottom: 4.5rem; margin-left: 1rem; margin-right: 1rem; } }
#company .content-container .company-data .data-set[class~="file-formats"] { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; margin-left: 1.5rem; padding-right: 0; }
#company .content-container .company-data .data-set[class~="file-formats"] .files-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 1.3rem; }
#company .content-container .company-data .data-set[class~="file-formats"] .files-list li:not(:nth-child(4n + 1)) { margin-left: 0.7rem; }
#company .content-container .company-data .data-set[class~="file-formats"] .files-list li .content-set { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
#company .content-container .company-data .data-set[class~="file-formats"] .files-list li .content-set .file-icon { -ms-flex-negative: 0; flex-shrink: 0; margin-right: 0.6rem; }
@media (max-width: 83.1em) { #company .content-container .company-data .data-set:nth-of-type(-n+6) { width: auto; -ms-flex-preferred-size: 30%; flex-basis: 30%; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; padding-right: 0; border-right: solid 0.1rem #e0e0e0; } }
@media (max-width: 43.7em) { #company .content-container .company-data .data-set:nth-of-type(-n+6) { -ms-flex-preferred-size: 100%; flex-basis: 100%; padding-top: 0; padding-bottom: 7rem; border-bottom: solid 0.1rem #e0e0e0; border-right: none; margin-bottom: 3.5rem; margin-left: 0; } }
@media (max-width: 43.7em) { #company .content-container .company-data .data-set:nth-of-type(-n+6) dd { display: inline; } }
#company .content-container .company-data .data-set:nth-of-type(-n+6) dd .line:nth-of-type(n) { display: inline; line-height: 1.5; }
@media (max-width: 83.1em) { #company .content-container .company-data .data-set:nth-of-type(n+7) { -ms-flex-preferred-size: 100%; flex-basis: 100%; } }
@media (max-width: 83.1em) and (max-width: 43.7em) { #company .content-container .company-data .data-set:nth-of-type(n+7) { display: none; } }

@media (max-width: 43.7em) { #company .content-container .company-data .data-set:nth-of-type(6) { margin-bottom: 0; } }
#company .content-container .company-data .divisor + .data-set { margin-left: 0; }
@media (max-width: 43.7em) { #company .content-container .company-data .divisor { display: none; } }

#profile-footer .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 123rem; padding: 8.5rem 1.5rem 8rem; margin: 0 auto 0; }
@media (max-width: 56.2em) { #profile-footer .content-container { padding-left: 1.5rem; padding-right: 1.5rem; } }
#profile-footer .content-container .downloads-container { width: 70.5rem; margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-transform: uppercase; }
@media (max-width: 46.85em) { #profile-footer .content-container .downloads-container { width: 100%; } }
@media (max-width: 41.2em) { #profile-footer .content-container .downloads-container { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }
#profile-footer .content-container .downloads-container .resume { display: inline-block; font-size: 1.4rem; font-weight: 700; color: #e0e0e0; text-indent: 4rem; padding: 3.2rem 2.9rem 2.9rem; border-bottom: solid 0.3rem #395b8e; background-color: #4069a5; position: relative; -webkit-box-shadow: 0 .2rem .5rem .1rem rgba( 0, 0, 0, .25 ); box-shadow: 0 .2rem .5rem .1rem rgba( 0, 0, 0, .25 ); }
@media (max-width: 41.2em) { #profile-footer .content-container .downloads-container .resume { margin-bottom: 3.5rem; } }
@media (max-width: 24.95em) { #profile-footer .content-container .downloads-container .resume { padding: 2.5rem 2.2rem 2.2rem; } }
#profile-footer .content-container .downloads-container .resume::before { display: inline-block; content: url("../../multimedia/images/../../multimedia/images/extra-small/ss-download-1.png"); position: absolute; left: -1.5rem; bottom: 50%; -webkit-transform: translateY(50%); transform: translateY(50%); -webkit-filter: grayscale(100%) brightness(215%); filter: grayscale(100%) brightness(215%); }
#profile-footer .content-container .downloads-container .proof-of-insurance { display: inline-block; font-size: 1.6rem; font-weight: 500; color: #4069a5; padding-bottom: .2rem; border-bottom: solid 0.2rem #4069a5; position: relative; }
@media (max-width: 41.2em) { #profile-footer .content-container .downloads-container .proof-of-insurance { -webkit-transform: translateX(0.5rem); transform: translateX(0.5rem); } }
@media (max-width: 24.95em) { #profile-footer .content-container .downloads-container .proof-of-insurance { font-size: 1.5rem; -webkit-transform: none; transform: none; } }
#profile-footer .content-container .downloads-container .proof-of-insurance::before { display: inline-block; content: url("../../multimedia/images/../../multimedia/images/extra-small/ss-download-1.png"); position: absolute; left: -3.4rem; bottom: 0; }
@media (max-width: 24.95em) { #profile-footer .content-container .downloads-container .proof-of-insurance::before { display: none; } }

#fee-schedule { border-bottom: solid 0.4rem #e0e0e0; }
#fee-schedule .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 123rem; padding: 8rem 1.5rem 6.2rem; margin: 0 auto 0; }
@media (max-width: 56.2em) { #fee-schedule .content-container { padding-left: 1.5rem; padding-right: 1.5rem; } }
#fee-schedule .content-container .heading-container .title { font-size: 5rem; font-weight: 300; text-transform: uppercase; color: #c2c2c2; margin-bottom: 4.6rem; }
@media (max-width: 49.95em) { #fee-schedule .content-container .heading-container .title { font-size: 4rem; } }
@media (max-width: 34.95em) { #fee-schedule .content-container .heading-container .title { font-size: 3.5rem; margin-bottom: 3.5rem; } }
@media (max-width: 24.95em) { #fee-schedule .content-container .heading-container .title { font-size: 3rem; } }
#fee-schedule .content-container .display-options { display: table; border-collapse: collapse; margin-bottom: 2.1rem; position: relative; }
@media (max-width: 24.95em) { #fee-schedule .content-container .display-options { width: 100%; } }
#fee-schedule .content-container .display-options li { display: table-cell; font-size: 2rem; color: gray; height: 5.8rem; padding: 0 3rem; vertical-align: middle; border: solid 0.1rem #d4d4d4; background-color: #ededed; cursor: pointer; -webkit-transition: -webkit-filter 0.3s ease-in-out; transition: -webkit-filter 0.3s ease-in-out; transition: filter 0.3s ease-in-out; transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out; outline: none; }
@media (max-width: 49.95em) { #fee-schedule .content-container .display-options li { font-size: 1.7rem; padding: 0 2rem; } }
@media (max-width: 34.95em) { #fee-schedule .content-container .display-options li { font-size: 1.3rem; height: 4.5rem; padding: 0 1rem; } }
@media (max-width: 24.95em) { #fee-schedule .content-container .display-options li .removable { display: none; } }
#fee-schedule .content-container .display-options li.current { color: #4069a5; background-color: #fcfcfc; }
#fee-schedule .content-container .display-options li:not(.current):hover, #fee-schedule .content-container .display-options li:not(.current):focus { -webkit-filter: brightness(102%); filter: brightness(102%); outline: none; }
#fee-schedule .content-container .schedule-table { text-align: left; border-collapse: collapse; border-radius: .5rem .5rem 0 0; overflow: hidden; cursor: default; margin-bottom: 4.4rem; }
@media (max-width: 69.95em) { #fee-schedule .content-container .schedule-table { width: 100%; } }
#fee-schedule .content-container .schedule-table thead { font-size: 1.6rem; font-weight: 700; text-transform: uppercase; color: white; background-color: #757575; border-right: solid 0.1rem #757575; }
@media (max-width: 69.95em) { #fee-schedule .content-container .schedule-table thead { font-size: 1.3rem; } }
@media (max-width: 49.95em) { #fee-schedule .content-container .schedule-table thead { font-size: 1.1rem; } }
#fee-schedule .content-container .schedule-table thead th { padding: 1.6rem 1.2rem 1.9rem 2.8rem; }
@media (max-width: 69.95em) { #fee-schedule .content-container .schedule-table thead th { padding-left: 1.5rem; padding-right: 1.5rem; } }
@media (max-width: 49.95em) { #fee-schedule .content-container .schedule-table thead th { padding-left: .8rem; padding-right: 0.8rem; } }
@media (max-width: 29.95em) { #fee-schedule .content-container .schedule-table thead th { padding: 1rem 0.5rem; } }
#fee-schedule .content-container .schedule-table thead th.form { min-width: 11.5rem; }
@media (max-width: 69.95em) { #fee-schedule .content-container .schedule-table thead th.form { min-width: 8rem; } }
@media (max-width: 49.95em) { #fee-schedule .content-container .schedule-table thead th.form { min-width: unset; } }
#fee-schedule .content-container .schedule-table thead th.service { min-width: 43.4rem; padding-left: 4.5rem; }
@media (max-width: 69.95em) { #fee-schedule .content-container .schedule-table thead th.service { min-width: 35rem; padding-left: 1.5rem; } }
@media (max-width: 49.95em) { #fee-schedule .content-container .schedule-table thead th.service { min-width: unset; padding-left: 0.8rem; } }
#fee-schedule .content-container .schedule-table thead th.fee { min-width: 18.6rem; }
@media (max-width: 69.95em) { #fee-schedule .content-container .schedule-table thead th.fee { min-width: 7rem; } }
@media (max-width: 49.95em) { #fee-schedule .content-container .schedule-table thead th.fee { min-width: unset; }
  #fee-schedule .content-container .schedule-table thead th.fee .removable { display: none; } }
#fee-schedule .content-container .schedule-table thead th.turnaround { min-width: 21.1rem; }
@media (max-width: 69.95em) { #fee-schedule .content-container .schedule-table thead th.turnaround { min-width: 3.5rem; } }
#fee-schedule .content-container .schedule-table tbody { font-size: 1.6rem; }
@media (max-width: 69.95em) { #fee-schedule .content-container .schedule-table tbody { font-size: 1.4rem; } }
@media (max-width: 49.95em) { #fee-schedule .content-container .schedule-table tbody { font-size: 1.2rem; } }
#fee-schedule .content-container .schedule-table tbody tr { border: solid 0.1rem #d4d4d4; }
#fee-schedule .content-container .schedule-table tbody tr:not(:first-child) { border-top: none; }
#fee-schedule .content-container .schedule-table tbody tr td { color: #424242; background-color: whitesmoke; }
#fee-schedule .content-container .schedule-table tbody tr td { padding: 1.6rem 1.2rem 1.9rem 2.8rem; }
@media (max-width: 69.95em) { #fee-schedule .content-container .schedule-table tbody tr td { padding-left: 1.5rem; padding-right: 1.5rem; } }
@media (max-width: 49.95em) { #fee-schedule .content-container .schedule-table tbody tr td { padding-left: .8rem; padding-right: 0.8rem; } }
@media (max-width: 29.95em) { #fee-schedule .content-container .schedule-table tbody tr td { padding: 1rem 0.5rem; } }
#fee-schedule .content-container .schedule-table tbody tr td.form { min-width: 11.5rem; }
@media (max-width: 69.95em) { #fee-schedule .content-container .schedule-table tbody tr td.form { min-width: 8rem; } }
@media (max-width: 49.95em) { #fee-schedule .content-container .schedule-table tbody tr td.form { min-width: unset; } }
#fee-schedule .content-container .schedule-table tbody tr td.service { min-width: 43.4rem; padding-left: 4.5rem; }
@media (max-width: 69.95em) { #fee-schedule .content-container .schedule-table tbody tr td.service { min-width: 35rem; padding-left: 1.5rem; } }
@media (max-width: 49.95em) { #fee-schedule .content-container .schedule-table tbody tr td.service { min-width: unset; padding-left: 0.8rem; } }
#fee-schedule .content-container .schedule-table tbody tr td.fee { min-width: 18.6rem; }
@media (max-width: 69.95em) { #fee-schedule .content-container .schedule-table tbody tr td.fee { min-width: 7rem; } }
@media (max-width: 49.95em) { #fee-schedule .content-container .schedule-table tbody tr td.fee { min-width: unset; }
  #fee-schedule .content-container .schedule-table tbody tr td.fee .removable { display: none; } }
#fee-schedule .content-container .schedule-table tbody tr td.turnaround { min-width: 21.1rem; }
@media (max-width: 69.95em) { #fee-schedule .content-container .schedule-table tbody tr td.turnaround { min-width: 3.5rem; } }
#fee-schedule .content-container .schedule-table tbody tr td:first-child { color: #757575; background-color: #f2f2f2; }
#fee-schedule .content-container .table-nav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; max-width: 35.8rem; margin: 0 auto; }
#fee-schedule .content-container .table-nav button { font-size: 1.4rem; color: #424242; padding: 1.2rem 1.8rem; border: solid 0.1rem #e0e0e0; border-radius: 2.5rem; background-color: #f7f7f7; position: relative; -webkit-transition: all 0.5s ease-out; transition: all 0.5s ease-out; }
@media (max-width: 29.95em) { #fee-schedule .content-container .table-nav button { font-size: 1.2rem; } }
#fee-schedule .content-container .table-nav button[name="previous"] { padding-left: 4.5rem; }
#fee-schedule .content-container .table-nav button[name="previous"]::before { display: inline-block; content: url("../../multimedia/images/extra-small/ss-larr-1.png"); position: absolute; left: 1.9rem; bottom: 48%; -webkit-transform: translateY(50%); transform: translateY(50%); }
#fee-schedule .content-container .table-nav button[name="next"] { padding-right: 4.5rem; }
#fee-schedule .content-container .table-nav button[name="next"]::after { display: inline-block; content: url("../../multimedia/images/extra-small/ss-larr-1.png"); position: absolute; right: 1.9rem; bottom: 52%; -webkit-transform: translateY(50%) scale(-1); transform: translateY(50%) scale(-1); }
#fee-schedule .content-container .table-nav button:hover, #fee-schedule .content-container .table-nav button:focus { color: white; background-color: #4069a5; border-color: transparent; }
#fee-schedule .content-container .table-nav button:hover::before, #fee-schedule .content-container .table-nav button:hover::after, #fee-schedule .content-container .table-nav button:focus::before, #fee-schedule .content-container .table-nav button:focus::after { -webkit-filter: brightness(500%); filter: brightness(500%); }
#fee-schedule .content-container .table-nav .pages-info .description { font-size: 2rem; color: #bdbdbd; text-transform: uppercase; cursor: default; }
@media (max-width: 69.95em) { #fee-schedule .content-container .table-nav .pages-info .description { font-size: 1.6rem; } }
@media (max-width: 29.95em) { #fee-schedule .content-container .table-nav .pages-info .description { font-size: 1.4rem; } }
#fee-schedule .content-container .table-nav .pages-info .description .current-page { font-weight: 700; color: #4069a5; }

#top-footer .contact-info { background: url("../../multimedia/images/extra-large/ll-building-1.jpg") no-repeat 50% 0%/cover #476ea9; }
#top-footer .contact-info .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 123rem; padding: 16rem 1.5rem 14.8rem; margin: 0 auto 0; }
@media (max-width: 56.2em) { #top-footer .contact-info .content-container { padding-left: 1.5rem; padding-right: 1.5rem; } }
@media (max-width: 71.85em) { #top-footer .contact-info .content-container { padding-top: 8rem; padding-bottom: 8rem; } }
#top-footer .contact-info .content-container form[name="footer-contact"] { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column wrap; flex-flow: column wrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -ms-flex-line-pack: justify; align-content: space-between; max-height: 39.2rem; }
@media (max-width: 71.85em) { #top-footer .contact-info .content-container form[name="footer-contact"] { max-height: none; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; text-align: center; } }
#top-footer .contact-info .content-container form[name="footer-contact"] .heading-container { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; margin-bottom: 6rem; cursor: default; }
#top-footer .contact-info .content-container form[name="footer-contact"] .heading-container .title { font-size: 6rem; font-weight: 300; margin-bottom: 1.2rem; text-transform: uppercase; }
@media (max-width: 31.2em) { #top-footer .contact-info .content-container form[name="footer-contact"] .heading-container .title { font-size: 4.5rem; } }
#top-footer .contact-info .content-container form[name="footer-contact"] .heading-container .response-time { font-size: 1.6rem; font-weight: 700; color: #ededed; }
@media (max-width: 31.2em) { #top-footer .contact-info .content-container form[name="footer-contact"] .heading-container .response-time { font-size: 1.5rem; } }
#top-footer .contact-info .content-container form[name="footer-contact"] .heading-container .response-time dt, #top-footer .contact-info .content-container form[name="footer-contact"] .heading-container .response-time dd { display: inline; }
#top-footer .contact-info .content-container form[name="footer-contact"] .heading-container .response-time dt::after { content: ":"; }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body { max-width: 60rem; -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; }
@media (max-width: 71.85em) { #top-footer .contact-info .content-container form[name="footer-contact"] .form-body { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; margin-bottom: 6rem; } }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body input, #top-footer .contact-info .content-container form[name="footer-contact"] .form-body textarea { -webkit-box-sizing: border-box; box-sizing: border-box; display: block; font: 500 1.6rem "Museo Sans", sans-serif; color: #292929; width: 100%; padding: 1.8rem 2rem; border: solid 0.2rem #18283e; background-color: #b9c8df; }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body input::-webkit-input-placeholder, #top-footer .contact-info .content-container form[name="footer-contact"] .form-body textarea::-webkit-input-placeholder { -webkit-transition: opacity 0.5s ease-out; transition: opacity 0.5s ease-out; color: inherit; font-size: inherit; font-weight: inherit; }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body input:-ms-input-placeholder, #top-footer .contact-info .content-container form[name="footer-contact"] .form-body textarea:-ms-input-placeholder { -webkit-transition: opacity 0.5s ease-out; transition: opacity 0.5s ease-out; color: inherit; font-size: inherit; font-weight: inherit; }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body input::-ms-input-placeholder, #top-footer .contact-info .content-container form[name="footer-contact"] .form-body textarea::-ms-input-placeholder { -webkit-transition: opacity 0.5s ease-out; transition: opacity 0.5s ease-out; color: inherit; font-size: inherit; font-weight: inherit; }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body input::placeholder, #top-footer .contact-info .content-container form[name="footer-contact"] .form-body textarea::placeholder { -webkit-transition: opacity 0.5s ease-out; transition: opacity 0.5s ease-out; color: inherit; font-size: inherit; font-weight: inherit; }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body input:focus::-webkit-input-placeholder, #top-footer .contact-info .content-container form[name="footer-contact"] .form-body textarea:focus::-webkit-input-placeholder { opacity: 0; }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body input:focus:-ms-input-placeholder, #top-footer .contact-info .content-container form[name="footer-contact"] .form-body textarea:focus:-ms-input-placeholder { opacity: 0; }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body input:focus::-ms-input-placeholder, #top-footer .contact-info .content-container form[name="footer-contact"] .form-body textarea:focus::-ms-input-placeholder { opacity: 0; }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body input:focus::placeholder, #top-footer .contact-info .content-container form[name="footer-contact"] .form-body textarea:focus::placeholder { opacity: 0; }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body input::-webkit-input-placeholder { text-transform: uppercase; }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body input:-ms-input-placeholder { text-transform: uppercase; }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body input::-ms-input-placeholder { text-transform: uppercase; }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body input::placeholder { text-transform: uppercase; }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body > input, #top-footer .contact-info .content-container form[name="footer-contact"] .form-body .input-set { margin-bottom: 0.7rem; }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body textarea { margin-bottom: 1.4rem; }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body .input-set { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
@media (max-width: 31.2em) { #top-footer .contact-info .content-container form[name="footer-contact"] .form-body .input-set { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin-bottom: 0; } }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body .input-set input { -webkit-box-flex: 0; -ms-flex: 0 0 49%; flex: 0 0 49%; }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body .input-set input:not(:last-child) { margin-right: 0.3rem; }
@media (max-width: 31.2em) { #top-footer .contact-info .content-container form[name="footer-contact"] .form-body .input-set input { margin-bottom: 0.7rem; } }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
@media (max-width: 40.6em) { #top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set .boot-finder { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-right: .8rem; }
@media (max-width: 40.6em) { #top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set .boot-finder { margin-bottom: 2.5rem; margin-right: 0; } }
@media (max-width: 31.2em) { #top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set .boot-finder { width: 100%; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; } }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set .boot-finder .code-container { display: table; border: solid 0.2rem #18283e; background-color: #b9c8df; margin-right: .7rem; }
@media (max-width: 40.6em) { #top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set .boot-finder .code-container { margin-right: 2.5rem; } }
@media (max-width: 31.2em) { #top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set .boot-finder .code-container { margin-right: 1rem; } }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set .boot-finder .code-container .code { display: table-cell; font-size: 3rem; font-weight: 700; letter-spacing: .3rem; color: #686e73; padding: 1.5rem 2rem; background: url("../../multimedia/images/extra-small/ss-strokes-1.png"); cursor: default; }
@media (max-width: 31.2em) { #top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set .boot-finder .code-container .code { font-size: 2.4rem; padding: 1.2rem 1.4rem; } }
@media (max-width: 23.7em) { #top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set .boot-finder .code-container .code { font-size: 1.6rem; padding: 1rem; } }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set .boot-finder .code-container .reset { display: table-cell; font-size: 2rem; font-weight: 700; color: #757575; min-width: 6rem; -webkit-transform: rotate(45deg); transform: rotate(45deg); text-align: center; vertical-align: middle; cursor: pointer; }
@media (max-width: 31.2em) { #top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set .boot-finder .code-container .reset { min-width: 4rem; } }
@media (max-width: 23.7em) { #top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set .boot-finder .code-container .reset { min-width: 3rem; } }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set .boot-finder input[name$="-boot-finder"] { width: 16.4rem; padding: 2rem; }
@media (max-width: 31.2em) { #top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set .boot-finder input[name$="-boot-finder"] { width: 14rem; font-size: 1.4rem; padding: 1.5rem 1.2rem; } }
@media (max-width: 23.7em) { #top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set .boot-finder input[name$="-boot-finder"] { font-size: 1.2rem; padding: 1.1rem 1rem; } }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set .boot-finder input[name$="-boot-finder"]::-webkit-input-placeholder { font-size: 1.4rem; font-weight: 500; color: #7b848e; }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set .boot-finder input[name$="-boot-finder"]:-ms-input-placeholder { font-size: 1.4rem; font-weight: 500; color: #7b848e; }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set .boot-finder input[name$="-boot-finder"]::-ms-input-placeholder { font-size: 1.4rem; font-weight: 500; color: #7b848e; }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set .boot-finder input[name$="-boot-finder"]::placeholder { font-size: 1.4rem; font-weight: 500; color: #7b848e; }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set button[type="submit"] { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; padding: 2.2rem 2rem 1.8rem; border-bottom: solid 0.5rem #242424; background-color: #292929; text-align: center; text-transform: uppercase; }
@media (max-width: 40.6em) { #top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set button[type="submit"] { width: 18rem; } }
@media (max-width: 31.2em) { #top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set button[type="submit"] { width: 14rem; padding: 1.6rem 1.8rem; } }
@media (max-width: 23.7em) { #top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set button[type="submit"] { width: 12rem; padding: 1.4rem 1.6rem; } }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set button[type="submit"] .content { display: inline-block; font-size: 1.6rem; font-weight: 700; color: #fafafa; margin-right: .6rem; }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set button[type="submit"] .content::after { display: inline-block; content: url("../../multimedia/images/extra-small/ss-email-2.png"); position: relative; right: -1.2rem; bottom: 0; }
#top-footer .contact-info .content-container form[name="footer-contact"] .contact-footer { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; cursor: default; }
@media (max-width: 71.85em) { #top-footer .contact-info .content-container form[name="footer-contact"] .contact-footer { -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; } }
#top-footer .contact-info .content-container form[name="footer-contact"] .contact-footer .tel-container { margin-bottom: 5.7rem; }
@media (max-width: 31.2em) { #top-footer .contact-info .content-container form[name="footer-contact"] .contact-footer .tel-container { margin-bottom: 4rem; } }
#top-footer .contact-info .content-container form[name="footer-contact"] .contact-footer .tel-container .action { display: block; font-size: 2.5rem; margin-bottom: 1.6rem; }
@media (max-width: 31.2em) { #top-footer .contact-info .content-container form[name="footer-contact"] .contact-footer .tel-container .action { font-size: 2rem; } }
#top-footer .contact-info .content-container form[name="footer-contact"] .contact-footer .tel-container .action .main-message { font-weight: 700; text-transform: uppercase; }
#top-footer .contact-info .content-container form[name="footer-contact"] .contact-footer .tel-container .action .addendum { font-weight: 500; }
#top-footer .contact-info .content-container form[name="footer-contact"] .contact-footer .tel-container .tel { display: block; font-size: 5rem; font-weight: 700; color: #ededed; border-bottom: solid 0.2rem #292929; }
@media (max-width: 31.2em) { #top-footer .contact-info .content-container form[name="footer-contact"] .contact-footer .tel-container .tel { font-size: 3.5rem; width: moz-fit-content; width: -webkit-fit-content; width: -moz-fit-content; width: fit-content; margin: 0 auto; } }
#top-footer .contact-info .content-container form[name="footer-contact"] .contact-footer .links-container .social-list li { display: inline-block; }
#top-footer .contact-info .content-container form[name="footer-contact"] .contact-footer .links-container .social-list li:not(:last-child) { margin-right: 5.8rem; }
#top-footer .contact-info .content-container form[name="footer-contact"] .contact-footer .links-container .social-list li a { display: inline-block; width: 3.6rem; height: 3.6rem; background-repeat: no-repeat; background-position: center; background-size: contain; }
#top-footer .contact-info .content-container form[name="footer-contact"] .contact-footer .links-container .social-list li a.facebook { background-image: url("../../multimedia/images/extra-small/ss-facebook-2.png"); }
#top-footer .contact-info .content-container form[name="footer-contact"] .contact-footer .links-container .social-list li a.linkedin { background-image: url("../../multimedia/images/extra-small/ss-linkedin-2.png"); }
#top-footer .contact-info .content-container form[name="footer-contact"] .contact-footer .links-container .social-list li a.instagram { background-image: url("../../multimedia/images/extra-small/ss-instagram-2.png"); }
@media (max-width: 31.2em) { #top-footer .contact-info .content-container form[name="footer-contact"] .contact-footer .links-container .social-list li:not(:last-child) { margin-right: 3.5rem; } }
#top-footer .contact-info .content-container form[name="footer-contact"] .contact-footer .links-container .social-list li a { opacity: .6; -webkit-transition: opacity 0.3s ease-in-out; transition: opacity 0.3s ease-in-out; }
@media (max-width: 31.2em) { #top-footer .contact-info .content-container form[name="footer-contact"] .contact-footer .links-container .social-list li a { width: 3.2rem; height: 3.2rem; } }
#top-footer .contact-info .content-container form[name="footer-contact"] .contact-footer .links-container .social-list li a:hover { opacity: 1; }

#top-footer .copyright { background-image: -webkit-gradient( linear, left top, right top, from(hsl( 0, 0%, 98% )), color-stop(22%, hsl( 0, 0%, 98% )), color-stop(22%, hsl( 0, 0%, 98% )), color-stop(73.5%, hsl( 0, 0%, 93% )), to(hsl( 0, 0%, 93% )) ); background-image: linear-gradient( 90deg, hsl( 0, 0%, 98% ), hsl( 0, 0%, 98% ) 22%, hsl( 0, 0%, 98% ) 22%, hsl( 0, 0%, 93% ) 73.5%, hsl( 0, 0%, 93% ) 100% ); }
#top-footer .copyright .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 124rem; padding: 2.5rem 2rem 2.5rem; margin: 0 auto 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 1.2rem; }
@media (max-width: 56.2em) { #top-footer .copyright .content-container { padding-left: 2rem; padding-right: 2rem; } }
@media (max-width: 71.85em) { #top-footer .copyright .content-container { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding-top: 1.5rem; padding-bottom: 1.5rem; } }
#top-footer .copyright .content-container .general-info { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 50%; max-width: 60rem; }
@media (max-width: 71.85em) { #top-footer .copyright .content-container .general-info { width: 100%; max-width: none; margin-bottom: 1.5rem; } }
@media (max-width: 40.6em) { #top-footer .copyright .content-container .general-info .logo { width: 100%; height: 3.5rem; } }
@media (max-width: 40.6em) { #top-footer .copyright .content-container .general-info .logo img { width: 100%; height: 100%; -o-object-fit: scale-down; object-fit: scale-down; -o-object-position: center; object-position: center; } }
@media (max-width: 40.6em) { #top-footer .copyright .content-container .general-info .links-container { display: none; } }
#top-footer .copyright .content-container .general-info .links-container .pages-list { text-transform: uppercase; }
#top-footer .copyright .content-container .general-info .links-container .pages-list li { display: inline-block; }
#top-footer .copyright .content-container .general-info .links-container .pages-list li:not(:last-child) { margin-right: 1.6rem; }
#top-footer .copyright .content-container .general-info .links-container .pages-list li a { color: #757575; }
#top-footer .copyright .content-container .general-info .links-container .pages-list li a { -webkit-transition: color 0.3s ease-in-out; transition: color 0.3s ease-in-out; }
#top-footer .copyright .content-container .general-info .links-container .pages-list li a:hover, #top-footer .copyright .content-container .general-info .links-container .pages-list li a:focus { color: #6499bc; }
#top-footer .copyright .content-container .general-info .links-container .pages-list li a:active { color: #5cabe0; }
#top-footer .copyright .content-container .copyright-info { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 50%; max-width: 51.2rem; color: #9e9e9e; }
@media (max-width: 71.85em) { #top-footer .copyright .content-container .copyright-info { width: 100%; max-width: none; } }
@media (max-width: 31.2em) { #top-footer .copyright .content-container .copyright-info { text-align: center; } }
@media (max-width: 31.2em) { #top-footer .copyright .content-container .copyright-info .links-container { display: none; } }
#top-footer .copyright .content-container .copyright-info .links-container .pages-list li { display: inline-block; position: relative; }
#top-footer .copyright .content-container .copyright-info .links-container .pages-list li:not(:last-child) { margin-right: 3.4rem; }
#top-footer .copyright .content-container .copyright-info .links-container .pages-list li:not(:last-child)::after { content: "|"; display: inline-block; position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); right: -1.7rem; }
#top-footer .copyright .content-container .copyright-info .message { cursor: default; }
@media (max-width: 31.2em) { #top-footer .copyright .content-container .copyright-info .message { width: 100%; } }
@media (max-width: 40.6em) { #top-footer .copyright .content-container .copyright-info .message .removable { display: none; } }

/*# sourceMappingURL=home.css.map */