#search-panel { margin-bottom: 2.6rem;
  & .content-container { @include set-grid;
    @media ( max-width: 27.45em /* 439px */ ) { padding: { right: .5rem; left: .5rem } }
    & .heading-container { max-width: 100rem; color: nth( $c-0, 8 ); margin: { top: 5rem; bottom: 3rem };
      @media ( max-width: 43.7em /* 699px */ ) { text-align: center }
      & .title { font: { size: 5rem; weight: 300 }; line-height: 1.2;
        @media ( max-width: 69.95em /* 1119px */ ) { font-size: 3.5rem }
        @media ( max-width: 34.35em /* 549px */ ) { font-size: 2.5rem }
        @media ( max-width: 24.95em /* 399px */ ) { font-size: 2rem } } }
    & .search-options { @include row-flex;
      @media ( max-width: 43.7em /* 699px */ ) { justify-content: center }
      & .inputs-container { @include row-flex( $main: flex-start );
        @media ( max-width: 59.95em /* 959px */ ) { flex-direction: column; align-items: flex-start }
        @media ( max-width: 27.45em /* 439px */ ) { flex-direction: row; justify-content: center }
        & .inputs-set { @include row-flex( $main: flex-start, $side: flex-start );
          @media ( max-width: 27.45em /* 439px */ ) { flex-direction: column }
          &:not( :last-of-type ) { padding-right: 3rem; border-right: solid .1rem nth( $c-0, 8 ); margin-right: 3rem;
            @media ( max-width: 59.95em /* 959px */ ) and ( min-width: 27.45em /* 439px */ ) { padding: { right: 0; bottom: 2.5rem }; border: { right: none; bottom: solid .1rem nth( $c-0, 8 ) }; margin: { right: 0; bottom: 2.5rem }; margin-bottom: 2.6rem } }
          & [ class$="-icon" ] { width: 2.7rem; height: 2.7rem; border: solid .1rem nth( $c-0, 18 ); border-radius: .5rem; margin-right: 1.2rem; cursor: pointer;
            @media ( max-width: 27.45em /* 439px */ ) { margin: { bottom: 2.5rem; right: 0 }; align-self: center }
            & img { @include img-center } }
          & label {
            &:not( :last-of-type ) { margin-right: 2.6rem;
              @media ( max-width: 27.45em /* 439px */ ) { margin: { bottom: 2.5rem; right: 0 } } }
            & .title { display: block; font: { size: 1.4rem; weight: 700 }; color: nth( $c-0, 10 ); margin: { left: .5rem; bottom: .5rem } }
            & [ name^="main-" ] { -moz-appearance: none; -webkit-appearance: none; appearance: none; font: { size: 1.4rem; weight: 300 }; color: nth( $c-0, 18 ); padding: 0 1.7rem 0 .5rem; background: url( "../../multimedia/images/extra-small/ss-darr-1.png" ) no-repeat 100%/auto transparent; cursor: pointer } } } }
      & .display-type-container {
        @media ( max-width: 43.7em /* 699px */ ) { display: none }
        & .displayer { filter: grayscale( 100% ) brightness( 140% ); transition: filter nth( $a-dt, 2 ); outline: none; cursor: pointer;
          &:hover, &:focus { filter: grayscale( 50% ) brightness( 120% ) }
          &:active { filter: grayscale( 25% ) brightness( 110% ) }
          &[ class~="current" ] { filter: none }
          &:not( :last-of-type ) { margin-right: 1.6rem } } } } } }
