@charset "UTF-8";
/* Pré-Configurações Gerais */
/* Predefinições Globais */
/* Elementos */
*, *::before, *::after { padding: 0; border: none; margin: 0; }

html { font-size: 62.5%; }

h1, h2, h3, h4, h5, h6, caption, legend { cursor: default; }

p:not(:last-child) { margin-bottom: 0.6em; }

a:link, a:visited, a:hover, a:active { color: inherit; -webkit-hyphens: none; -ms-hyphens: none; hyphens: none; text-decoration: none; -webkit-transition: color 0.4s ease-out; transition: color 0.4s ease-out; }

ol, ul { list-style: none; }

dt { display: inline; }
dt::after { content: ": "; }

dd { display: inline; }
dd::after { content: "\0A"; white-space: pre; }

picture { display: inline-block; }
picture img { width: 100%; height: auto; }

img { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

abbr { font-style: normal; -webkit-hyphens: none; -ms-hyphens: none; hyphens: none; text-decoration: none; }
abbr[title] { border-bottom: dashed .1rem; border-color: inherit; cursor: help; }
@media (max-device-width: 899px) { abbr[title] { border: none; } }
abbr[data-title]::after { content: " (" attr(data-title) ")"; }

address, cite:not([lang]) { font-style: normal; }

button { -webkit-box-sizing: content-box; box-sizing: content-box; font-family: inherit; line-height: 1; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; outline: none; background-color: transparent; }

input, textarea, select { font-family: inherit; font-weight: inherit; font-stretch: inherit; outline: none; resize: none; }

template { display: none; }

/* Classes */
.line { display: block; }

/* Pré-Configurações do Site */
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 100"), local("MuseoSans-100"), url("../../multimedia/fonts/museo-sans/MuseoSans-100.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-100.otf"); font-weight: 100; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 300"), local("MuseoSans-300"), url("../../multimedia/fonts/museo-sans/MuseoSans-300.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-300.otf"); font-weight: 300; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 500"), local("MuseoSans-500"), url("../../multimedia/fonts/museo-sans/MuseoSans-500.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-500.otf"); font-weight: 500; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 700"), local("MuseoSans-700"), url("../../multimedia/fonts/museo-sans/MuseoSans-700.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-700.otf"); font-weight: 700; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 900"), local("MuseoSans-900"), url("../../multimedia/fonts/museo-sans/MuseoSans-900.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-900.otf"); font-weight: 900; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 100 Italic"), local("MuseoSans-100Italic"), url("../../multimedia/fonts/museo-sans/MuseoSans-100Italic.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-100Italic.otf"); font-weight: 100; font-style: italic; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 300 Italic"), local("MuseoSans-300Italic"), url("../../multimedia/fonts/museo-sans/MuseoSans-300Italic.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-300Italic.otf"); font-weight: 300; font-style: italic; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 500 Italic"), local("MuseoSans-500Italic"), url("../../multimedia/fonts/museo-sans/MuseoSans-500Italic.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-500Italic.otf"); font-weight: 500; font-style: italic; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 700 Italic"), local("MuseoSans-700Italic"), url("../../multimedia/fonts/museo-sans/MuseoSans-700Italic.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-700Italic.otf"); font-weight: 700; font-style: italic; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 900 Italic"), local("MuseoSans-900Italic"), url("../../multimedia/fonts/museo-sans/MuseoSans-900Italic.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-900Italic.otf"); font-weight: 900; font-style: italic; font-stretch: normal; }
@-webkit-keyframes rotate-to-backface { 0% { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); }
  97.5% { -webkit-transform: rotateY(90deg); transform: rotateY(90deg); }
  100% { -webkit-transform: rotateY(90deg); transform: rotateY(90deg); } }
@keyframes rotate-to-backface { 0% { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); }
  97.5% { -webkit-transform: rotateY(90deg); transform: rotateY(90deg); }
  100% { -webkit-transform: rotateY(90deg); transform: rotateY(90deg); } }
@-webkit-keyframes rotate-from-backface { 0% { -webkit-transform: rotateY(-90deg); transform: rotateY(-90deg); }
  2.5% { -webkit-transform: rotateY(-90deg); transform: rotateY(-90deg); }
  100% { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); } }
@keyframes rotate-from-backface { 0% { -webkit-transform: rotateY(-90deg); transform: rotateY(-90deg); }
  2.5% { -webkit-transform: rotateY(-90deg); transform: rotateY(-90deg); }
  100% { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); } }
/* Configurações Locais */
body { font: 300 1.6rem/1 "Museo Sans", sans-serif; background-color: #ededed; overflow-x: hidden; }

/* Componentes */
#top-header .nav-container { background-image: -webkit-gradient( linear, left top, right top, from(hsl( 0, 0%, 12% )), color-stop(12.3%, hsl( 0, 0%, 10% )), color-stop(12.4%, hsl( 0, 0%, 18% )), color-stop(87.6%, hsl( 0, 0%, 15% )), color-stop(87.7%, hsl( 0, 0%, 10% )), to(hsl( 0, 0%, 12% )) ); background-image: linear-gradient( 90deg, hsl( 0, 0%, 12% ) 0%, hsl( 0, 0%, 10% ) 12.3%, hsl( 0, 0%, 18% ) 12.4%, hsl( 0, 0%, 15% ) 87.6%, hsl( 0, 0%, 10% ) 87.7%, hsl( 0, 0%, 12% ) 100% ); -webkit-box-shadow: 0 .1rem .3rem rgba( 245, 245, 245, .25 ); box-shadow: 0 .1rem .3rem rgba( 245, 245, 245, .25 ); position: relative; }
@media (max-width: 102.45em) { #top-header .nav-container { background-image: -webkit-gradient( linear, left top, right top, from(hsl( 0, 0%, 12% )), color-stop(5%, hsl( 0, 0%, 10% )), color-stop(5.1%, hsl( 0, 0%, 18% )), color-stop(94.9%, hsl( 0, 0%, 15% )), color-stop(95%, hsl( 0, 0%, 10% )), to(hsl( 0, 0%, 12% )) ); background-image: linear-gradient( 90deg, hsl( 0, 0%, 12% ) 0%, hsl( 0, 0%, 10% ) 5%, hsl( 0, 0%, 18% ) 5.1%, hsl( 0, 0%, 15% ) 94.9%, hsl( 0, 0%, 10% ) 95%, hsl( 0, 0%, 12% ) 100% ); } }
@media (max-width: 86.2em) { #top-header .nav-container { background-image: none; background-color: #292929; } }
#top-header .nav-container .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 123rem; padding: 0 1.5rem 0; margin: 0 auto 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }
@media (max-width: 56.2em) { #top-header .nav-container .content-container { padding-left: 1.5rem; padding-right: 1.5rem; } }
@media (max-width: 69.95em) { #top-header .nav-container .content-container { -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; padding-top: 1.5rem; padding-bottom: 1.5rem; } }
#top-header .nav-container .content-container .logo img { height: 100%; -o-object-fit: scale-down; object-fit: scale-down; -o-object-position: center; object-position: center; }
@media (max-width: 69.95em) and (min-width: 37.45em) { #top-header .nav-container .content-container .logo { margin-bottom: 0.5rem; } }
@media (max-width: 24.95em) { #top-header .nav-container .content-container .logo { width: 14rem; } }
#top-header .nav-container .content-container .links-container { color: whitesmoke; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
@media (max-width: 69.95em) { #top-header .nav-container .content-container .links-container { -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; } }
#top-header .nav-container .content-container .links-container .pages-menu { text-transform: uppercase; margin-right: 4.9rem; }
@media (max-width: 69.95em) { #top-header .nav-container .content-container .links-container .pages-menu { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; margin-right: 0; } }
#top-header .nav-container .content-container .links-container .pages-menu .pages-list { font-size: 1.4rem; overflow: hidden; -webkit-transition: height 1s ease-in; transition: height 1s ease-in; position: relative; outline: none; }
@media (max-width: 69.95em) { #top-header .nav-container .content-container .links-container .pages-menu .pages-list { padding-left: 2.5rem; } }
@media (max-width: 24.95em) { #top-header .nav-container .content-container .links-container .pages-menu .pages-list { font-size: 1.2rem; padding-left: 1.5rem; } }
@media (max-width: 69.95em) { #top-header .nav-container .content-container .links-container .pages-menu .pages-list::after { content: url("../../multimedia/images/extra-small/ss-rarr-1.png"); display: inline-block; -webkit-transform: rotate(90deg); transform: rotate(90deg); position: absolute; top: 3rem; left: 0; cursor: pointer; } }
#top-header .nav-container .content-container .links-container .pages-menu .pages-list li { -webkit-box-sizing: border-box; box-sizing: border-box; display: inline-block; padding: 3.8rem 0; border-bottom: solid .2rem transparent; }
@media (max-width: 69.95em) { #top-header .nav-container .content-container .links-container .pages-menu .pages-list li { display: block; padding: 2.4rem 0 0.6rem; } }
#top-header .nav-container .content-container .links-container .pages-menu .pages-list li:not(:last-child) { margin-right: 4.6rem; }
@media (max-width: 69.95em) { #top-header .nav-container .content-container .links-container .pages-menu .pages-list li:not(:last-child) { margin-right: 0; } }
#top-header .nav-container .content-container .links-container .pages-menu .pages-list li.current { color: #4069a5; border-color: #4069a5; font-weight: 500; }
#top-header .nav-container .content-container .links-container .pages-menu .pages-list li a { display: inline-block; -webkit-transition: color 0.5s ease-out, 0.3s ease-in-out, 1s ease-in, 1.03s ease-out, 1.03s ease-in; transition: color 0.5s ease-out, 0.3s ease-in-out, 1s ease-in, 1.03s ease-out, 1.03s ease-in; }
#top-header .nav-container .content-container .links-container .pages-menu .pages-list li a:hover, #top-header .nav-container .content-container .links-container .pages-menu .pages-list li a:focus { color: #9bafcd; }
#top-header .nav-container .content-container .links-container .pages-menu .pages-list li a:active { color: #7693bd; }
#top-header .nav-container .content-container .links-container .contact-menu { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 1.8rem 0 .8rem 3.9rem; border-left: solid 0.1rem #4d4d4d; }
@media (max-width: 69.95em) { #top-header .nav-container .content-container .links-container .contact-menu { border-left: none; border-right: solid 0.1rem #4d4d4d; padding-left: 0; padding-right: 2.5rem; margin-right: 2rem; } }
@media (max-width: 37.45em) { #top-header .nav-container .content-container .links-container .contact-menu { display: none; } }
#top-header .nav-container .content-container .links-container .contact-menu .contact-info { color: whitesmoke; font-weight: 500; margin-right: 3.6rem; }
@media (max-width: 69.95em) { #top-header .nav-container .content-container .links-container .contact-menu .contact-info { display: none; } }
#top-header .nav-container .content-container .links-container .contact-menu .contact-info .message .action { display: block; font-size: 1.2rem; color: dimgray; margin-bottom: .8rem; cursor: default; }
#top-header .nav-container .content-container .links-container .contact-menu .contact-info .message .tel { display: block; font-size: 1.8rem; padding-bottom: .4rem; border-bottom: solid 0.2rem #4069a5; cursor: pointer; }
#top-header .nav-container .content-container .links-container .contact-menu .social-list li { display: inline-block; }
#top-header .nav-container .content-container .links-container .contact-menu .social-list li:not(:last-child) { margin-right: 2.7rem; }
#top-header .nav-container .content-container .links-container .contact-menu .social-list li a { display: inline-block; width: 2.1rem; height: 2.1rem; background-repeat: no-repeat; background-position: center; background-size: contain; }
#top-header .nav-container .content-container .links-container .contact-menu .social-list li a.facebook { background-image: url("../../multimedia/images/extra-small/ss-facebook-1.png"); }
#top-header .nav-container .content-container .links-container .contact-menu .social-list li a.linkedin { background-image: url("../../multimedia/images/extra-small/ss-linkedin-1.png"); }
#top-header .nav-container .content-container .links-container .contact-menu .social-list li a.instagram { background-image: url("../../multimedia/images/extra-small/ss-instagram-1.png"); }
#top-header .nav-container .content-container .links-container .contact-menu .social-list li a { -webkit-transition: -webkit-filter 0.5s ease-out; transition: -webkit-filter 0.5s ease-out; transition: filter 0.5s ease-out; transition: filter 0.5s ease-out, -webkit-filter 0.5s ease-out; }
#top-header .nav-container .content-container .links-container .contact-menu .social-list li a:hover, #top-header .nav-container .content-container .links-container .contact-menu .social-list li a:focus { -webkit-filter: sepia(100%) saturate(6) hue-rotate(150deg) brightness(85%); filter: sepia(100%) saturate(6) hue-rotate(150deg) brightness(85%); }
#top-header .nav-container .content-container .links-container .contact-menu .social-list li a:active { -webkit-filter: sepia(100%) saturate(10) hue-rotate(150deg) brightness(85%); filter: sepia(100%) saturate(10) hue-rotate(150deg) brightness(85%); }

#search-panel { margin-bottom: 2.6rem; }
#search-panel .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 123rem; padding: 0 1.5rem 0; margin: 0 auto 0; }
@media (max-width: 56.2em) { #search-panel .content-container { padding-left: 1.5rem; padding-right: 1.5rem; } }
@media (max-width: 27.45em) { #search-panel .content-container { padding-right: .5rem; padding-left: 0.5rem; } }
#search-panel .content-container .heading-container { max-width: 100rem; color: #c2c2c2; margin-top: 5rem; margin-bottom: 3rem; }
@media (max-width: 43.7em) { #search-panel .content-container .heading-container { text-align: center; } }
#search-panel .content-container .heading-container .title { font-size: 5rem; font-weight: 300; line-height: 1.2; }
@media (max-width: 69.95em) { #search-panel .content-container .heading-container .title { font-size: 3.5rem; } }
@media (max-width: 34.35em) { #search-panel .content-container .heading-container .title { font-size: 2.5rem; } }
@media (max-width: 24.95em) { #search-panel .content-container .heading-container .title { font-size: 2rem; } }
#search-panel .content-container .search-options { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
@media (max-width: 43.7em) { #search-panel .content-container .search-options { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } }
#search-panel .content-container .search-options .inputs-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
@media (max-width: 59.95em) { #search-panel .content-container .search-options .inputs-container { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; } }
@media (max-width: 27.45em) { #search-panel .content-container .search-options .inputs-container { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } }
#search-panel .content-container .search-options .inputs-container .inputs-set { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }
@media (max-width: 27.45em) { #search-panel .content-container .search-options .inputs-container .inputs-set { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }
#search-panel .content-container .search-options .inputs-container .inputs-set:not(:last-of-type) { padding-right: 3rem; border-right: solid 0.1rem #c2c2c2; margin-right: 3rem; }
@media (max-width: 59.95em) and (min-width: 27.45em) { #search-panel .content-container .search-options .inputs-container .inputs-set:not(:last-of-type) { padding-right: 0; padding-bottom: 2.5rem; border-right: none; border-bottom: solid 0.1rem #c2c2c2; margin-right: 0; margin-bottom: 2.5rem; margin-bottom: 2.6rem; } }
#search-panel .content-container .search-options .inputs-container .inputs-set [class$="-icon"] { width: 2.7rem; height: 2.7rem; border: solid 0.1rem #8f8f8f; border-radius: .5rem; margin-right: 1.2rem; cursor: pointer; }
@media (max-width: 27.45em) { #search-panel .content-container .search-options .inputs-container .inputs-set [class$="-icon"] { margin-bottom: 2.5rem; margin-right: 0; -ms-flex-item-align: center; align-self: center; } }
#search-panel .content-container .search-options .inputs-container .inputs-set [class$="-icon"] img { width: 100%; height: 100%; -o-object-fit: scale-down; object-fit: scale-down; -o-object-position: center; object-position: center; }
#search-panel .content-container .search-options .inputs-container .inputs-set label:not(:last-of-type) { margin-right: 2.6rem; }
@media (max-width: 27.45em) { #search-panel .content-container .search-options .inputs-container .inputs-set label:not(:last-of-type) { margin-bottom: 2.5rem; margin-right: 0; } }
#search-panel .content-container .search-options .inputs-container .inputs-set label .title { display: block; font-size: 1.4rem; font-weight: 700; color: #424242; margin-left: .5rem; margin-bottom: 0.5rem; }
#search-panel .content-container .search-options .inputs-container .inputs-set label [name^="main-"] { -moz-appearance: none; -webkit-appearance: none; appearance: none; font-size: 1.4rem; font-weight: 300; color: #8f8f8f; padding: 0 1.7rem 0 .5rem; background: url("../../multimedia/images/extra-small/ss-darr-1.png") no-repeat 100%/auto transparent; cursor: pointer; }
@media (max-width: 43.7em) { #search-panel .content-container .search-options .display-type-container { display: none; } }
#search-panel .content-container .search-options .display-type-container .displayer { -webkit-filter: grayscale(100%) brightness(140%); filter: grayscale(100%) brightness(140%); -webkit-transition: -webkit-filter 0.3s ease-in-out; transition: -webkit-filter 0.3s ease-in-out; transition: filter 0.3s ease-in-out; transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out; outline: none; cursor: pointer; }
#search-panel .content-container .search-options .display-type-container .displayer:hover, #search-panel .content-container .search-options .display-type-container .displayer:focus { -webkit-filter: grayscale(50%) brightness(120%); filter: grayscale(50%) brightness(120%); }
#search-panel .content-container .search-options .display-type-container .displayer:active { -webkit-filter: grayscale(25%) brightness(110%); filter: grayscale(25%) brightness(110%); }
#search-panel .content-container .search-options .display-type-container .displayer[class~="current"] { -webkit-filter: none; filter: none; }
#search-panel .content-container .search-options .display-type-container .displayer:not(:last-of-type) { margin-right: 1.6rem; }

#search-output { padding-bottom: 13rem; }
#search-output .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 123rem; padding: 0 1.5rem 0; margin: 0 auto 0; }
@media (max-width: 56.2em) { #search-output .content-container { padding-left: 1.5rem; padding-right: 1.5rem; } }
@media (max-width: 27.45em) { #search-output .content-container { padding-left: .5rem; padding-right: 0.5rem; } }
#search-output .content-container .boxes-set { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
@media (max-width: 75.6em) { #search-output .content-container .boxes-set { -ms-flex-pack: distribute; justify-content: space-around; } }
#search-output .content-container .boxes-set .search-entry { font-size: 1.4rem; color: #757575; -webkit-box-sizing: border-box; box-sizing: border-box; width: 38.2rem; padding: 3rem 2.8rem; border: solid 0.1rem #bdbdbd; border-radius: .2rem; background-color: #ededed; -webkit-box-shadow: .5rem .5rem 1.5rem rgba( 0, 0, 0, .1 ); box-shadow: .5rem .5rem 1.5rem rgba( 0, 0, 0, .1 ); margin-bottom: 3rem; }
@media (max-width: 75.6em) { #search-output .content-container .boxes-set .search-entry { -ms-flex-preferred-size: 38.8rem; flex-basis: 38.8rem; } }
@media (max-width: 52.45em) { #search-output .content-container .boxes-set .search-entry { -ms-flex-preferred-size: 100%; flex-basis: 100%; max-width: 50rem; text-align: center; } }
@media (max-width: 27.45em) { #search-output .content-container .boxes-set .search-entry { padding: 2rem 0.5rem; } }
#search-output .content-container .boxes-set .search-entry dt, #search-output .content-container .boxes-set .search-entry dd { cursor: default; }
#search-output .content-container .boxes-set .search-entry .heading-container { margin-bottom: 1.8rem; }
#search-output .content-container .boxes-set .search-entry .heading-container .address-entry { margin-bottom: 1rem; }
#search-output .content-container .boxes-set .search-entry .heading-container .address-entry dt::after { content: ""; }
#search-output .content-container .boxes-set .search-entry .heading-container .appraiser { font-size: 3rem; font-weight: 700; color: #424242; margin-bottom: 1rem; cursor: copy; -webkit-user-select: all; -moz-user-select: all; -ms-user-select: all; user-select: all; }
@media (max-width: 24.95em) { #search-output .content-container .boxes-set .search-entry .heading-container .appraiser { font-size: 2rem; } }
#search-output .content-container .boxes-set .search-entry .heading-container .company { cursor: copy; -webkit-user-select: all; -moz-user-select: all; -ms-user-select: all; user-select: all; }
#search-output .content-container .boxes-set .search-entry .info-list .tel-set { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-bottom: 1.8rem; }
@media (max-width: 52.45em) { #search-output .content-container .boxes-set .search-entry .info-list .tel-set { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } }
@media (max-width: 24.95em) { #search-output .content-container .boxes-set .search-entry .info-list .tel-set { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }
@media (max-width: 24.95em) { #search-output .content-container .boxes-set .search-entry .info-list .tel-set > :not(:last-child) { margin-bottom: 1.8rem; } }
#search-output .content-container .boxes-set .search-entry .info-list .tel-set > *:not(:first-child) { margin-left: 3.2rem; }
#search-output .content-container .boxes-set .search-entry .info-list .tel-set > *:not(:first-child)::before { content: "|"; position: relative; left: -1.6rem; }
@media (max-width: 24.95em) { #search-output .content-container .boxes-set .search-entry .info-list .tel-set > *:nth-child(n) { margin-left: 0; } }
@media (max-width: 24.95em) { #search-output .content-container .boxes-set .search-entry .info-list .tel-set > *:nth-child(n)::before { content: ""; } }
#search-output .content-container .boxes-set .search-entry .info-list .tel-set dd { color: #2094f3; cursor: pointer; }
#search-output .content-container .boxes-set .search-entry .info-list .additional-info > * { margin-bottom: 1.8rem; }
#search-output .content-container .boxes-set .search-entry .info-list .additional-info > * dd .certificate { cursor: copy; -webkit-user-select: all; -moz-user-select: all; -ms-user-select: all; user-select: all; }
#search-output .content-container .boxes-set .search-entry [name$='send-email'] { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-sizing: border-box; box-sizing: border-box; min-width: 9.1rem; min-height: 3.4rem; padding: .8rem 0; border-radius: 2rem; background-color: #4069a5; -webkit-box-shadow: 0 .2rem .6rem 0rem rgba( 0, 0, 0, .15 ); box-shadow: 0 .2rem .6rem 0rem rgba( 0, 0, 0, .15 ); }
#search-output .content-container .boxes-set .search-entry [name$='send-email'] .content { font-size: 1.4rem; font-weight: 300; color: white; width: 90%; }
@media (max-width: 52.45em) { #search-output .content-container .boxes-set .search-entry [name$='send-email'] { margin-left: auto; margin-right: auto; } }
#search-output .content-container .rows-set { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
#search-output .content-container .rows-set .search-entry { font-size: 1.4rem; color: #757575; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; padding: 2.2rem 3.2rem; border: solid 0.1rem #bdbdbd; border-radius: .2rem; background-color: #ededed; -webkit-box-shadow: .5rem .5rem 1.5rem rgba( 0, 0, 0, .1 ); box-shadow: .5rem .5rem 1.5rem rgba( 0, 0, 0, .1 ); margin-bottom: 3rem; }
@media (max-width: 68.7em) { #search-output .content-container .rows-set .search-entry { padding: 2.2rem 1.5rem; } }
@media (max-width: 65.6em) { #search-output .content-container .rows-set .search-entry { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; } }
#search-output .content-container .rows-set .search-entry dt, #search-output .content-container .rows-set .search-entry dd { cursor: default; }
#search-output .content-container .rows-set .search-entry .heading-container { width: 35rem; margin-right: 3rem; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
@media (max-width: 74.95em) { #search-output .content-container .rows-set .search-entry .heading-container { margin-right: 1.5rem; } }
@media (max-width: 51.85em) { #search-output .content-container .rows-set .search-entry .heading-container { width: 25rem; margin-right: 1rem; } }
#search-output .content-container .rows-set .search-entry .heading-container .address-entry { margin-bottom: 1rem; }
#search-output .content-container .rows-set .search-entry .heading-container .address-entry dt::after { content: ""; }
#search-output .content-container .rows-set .search-entry .heading-container .appraiser { font-size: 3rem; font-weight: 700; color: #424242; margin-bottom: 1rem; cursor: copy; -webkit-user-select: all; -moz-user-select: all; -ms-user-select: all; user-select: all; }
@media (max-width: 51.85em) { #search-output .content-container .rows-set .search-entry .heading-container .appraiser { font-size: 2.5rem; } }
#search-output .content-container .rows-set .search-entry .heading-container .company { cursor: copy; -webkit-user-select: all; -moz-user-select: all; -ms-user-select: all; user-select: all; }
#search-output .content-container .rows-set .search-entry .info-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }
@media (max-width: 65.6em) { #search-output .content-container .rows-set .search-entry .info-list { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin-right: 1.5rem; } }
@media (max-width: 51.85em) { #search-output .content-container .rows-set .search-entry .info-list { margin-right: 1rem; } }
#search-output .content-container .rows-set .search-entry .info-list > * { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; padding: .9rem 1rem .9rem 0; border-right: solid 0.1rem #e0e0e0; margin-right: 6rem; }
@media (max-width: 74.95em) { #search-output .content-container .rows-set .search-entry .info-list > * { margin-right: 1.5rem; } }
@media (max-width: 65.6em) { #search-output .content-container .rows-set .search-entry .info-list > * { padding-right: 0; border-right: none; margin-right: 0; } }
#search-output .content-container .rows-set .search-entry .info-list .tel-set { width: 20rem; }
#search-output .content-container .rows-set .search-entry .info-list .tel-set > :not(:last-child) { margin-bottom: 1.8rem; }
#search-output .content-container .rows-set .search-entry .info-list .tel-set > * dd { color: #2094f3; cursor: pointer; }
#search-output .content-container .rows-set .search-entry .info-list .additional-info { width: 28rem; }
@media (max-width: 51.85em) { #search-output .content-container .rows-set .search-entry .info-list .additional-info { width: 24rem; } }
#search-output .content-container .rows-set .search-entry .info-list .additional-info > :not(:last-child) { margin-bottom: 1.8rem; }
#search-output .content-container .rows-set .search-entry .info-list .additional-info > * dd .certificate { cursor: copy; -webkit-user-select: all; -moz-user-select: all; -ms-user-select: all; user-select: all; }
#search-output .content-container .rows-set .search-entry [name$='send-email'] { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-sizing: border-box; box-sizing: border-box; min-width: 9.1rem; min-height: 3.4rem; padding: .8rem 0; border-radius: 2rem; background-color: #4069a5; -webkit-box-shadow: 0 .2rem .6rem 0rem rgba( 0, 0, 0, .15 ); box-shadow: 0 .2rem .6rem 0rem rgba( 0, 0, 0, .15 ); }
#search-output .content-container .rows-set .search-entry [name$='send-email'] .content { font-size: 1.4rem; font-weight: 300; color: white; width: 90%; }
#search-output .content-container .results-nav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; max-width: 35.8rem; margin: 0 auto; }
#search-output .content-container .results-nav button { font-size: 1.4rem; color: #424242; padding: 1.2rem 1.8rem; border: solid 0.1rem #e0e0e0; border-radius: 2.5rem; background-color: #f7f7f7; position: relative; -webkit-transition: all 0.5s ease-out; transition: all 0.5s ease-out; }
@media (max-width: 29.95em) { #search-output .content-container .results-nav button { font-size: 1.2rem; } }
#search-output .content-container .results-nav button[name="previous"] { padding-left: 4.5rem; }
#search-output .content-container .results-nav button[name="previous"]::before { display: inline-block; content: url("../../multimedia/images/extra-small/ss-larr-1.png"); position: absolute; left: 1.9rem; bottom: 48%; -webkit-transform: translateY(50%); transform: translateY(50%); }
#search-output .content-container .results-nav button[name="next"] { padding-right: 4.5rem; }
#search-output .content-container .results-nav button[name="next"]::after { display: inline-block; content: url("../../multimedia/images/extra-small/ss-larr-1.png"); position: absolute; right: 1.9rem; bottom: 52%; -webkit-transform: translateY(50%) scale(-1); transform: translateY(50%) scale(-1); }
#search-output .content-container .results-nav button:hover, #search-output .content-container .results-nav button:focus { color: white; background-color: #4069a5; border-color: transparent; }
#search-output .content-container .results-nav button:hover::before, #search-output .content-container .results-nav button:hover::after, #search-output .content-container .results-nav button:focus::before, #search-output .content-container .results-nav button:focus::after { -webkit-filter: brightness(500%); filter: brightness(500%); }
#search-output .content-container .results-nav .pages-info .description { font-size: 2rem; color: #bdbdbd; text-transform: uppercase; cursor: default; }
@media (max-width: 69.95em) { #search-output .content-container .results-nav .pages-info .description { font-size: 1.6rem; } }
@media (max-width: 29.95em) { #search-output .content-container .results-nav .pages-info .description { font-size: 1.4rem; } }
#search-output .content-container .results-nav .pages-info .description .current-page { font-weight: 700; color: #4069a5; }

#top-footer { background: url("../../multimedia/images/extra-large/ll-building-3.jpg") no-repeat 50% 0%/cover #476ea9; }

#top-footer .contact-info .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 123rem; padding: 7.8rem 1.5rem 7.8rem; margin: 0 auto 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }
@media (max-width: 56.2em) { #top-footer .contact-info .content-container { padding-left: 1.5rem; padding-right: 1.5rem; } }
@media (max-width: 71.85em) { #top-footer .contact-info .content-container { -webkit-box-orient: vertical; -webkit-box-direction: reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-align: center; } }
#top-footer .contact-info .content-container .side-info .logo { margin-bottom: 2rem; }
@media (max-width: 71.85em) { #top-footer .contact-info .content-container .side-info .logo { margin-bottom: 1.5rem; } }
#top-footer .contact-info .content-container .side-info .links-container .social-list { width: moz-fit-content; width: -webkit-fit-content; width: -moz-fit-content; width: fit-content; padding-bottom: 10rem; border-bottom: solid 0.1rem #b9c8df; }
#top-footer .contact-info .content-container .side-info .links-container .social-list li { display: inline-block; }
#top-footer .contact-info .content-container .side-info .links-container .social-list li:not(:last-child) { margin-right: 2.7rem; }
#top-footer .contact-info .content-container .side-info .links-container .social-list li a { display: inline-block; width: 2rem; height: 2rem; background-repeat: no-repeat; background-position: center; background-size: contain; }
#top-footer .contact-info .content-container .side-info .links-container .social-list li a.facebook { background-image: url("../../multimedia/images/extra-small/ss-facebook-2.png"); }
#top-footer .contact-info .content-container .side-info .links-container .social-list li a.linkedin { background-image: url("../../multimedia/images/extra-small/ss-linkedin-2.png"); }
#top-footer .contact-info .content-container .side-info .links-container .social-list li a.instagram { background-image: url("../../multimedia/images/extra-small/ss-instagram-2.png"); }
@media (max-width: 71.85em) { #top-footer .contact-info .content-container .side-info .links-container .social-list { padding-bottom: 8rem; margin-left: auto; margin-right: auto; } }
@media (max-width: 31.2em) { #top-footer .contact-info .content-container .side-info .links-container .social-list li:not(:last-child) { margin-right: 3.5rem; } }
#top-footer .contact-info .content-container .side-info .links-container .social-list li a { opacity: .6; -webkit-transition: opacity 0.3s ease-in-out; transition: opacity 0.3s ease-in-out; -webkit-filter: brightness(600%); filter: brightness(600%); }
#top-footer .contact-info .content-container .side-info .links-container .social-list li a:hover { opacity: 1; }
#top-footer .contact-info .content-container .side-info .message { display: block; font-size: 1rem; color: whitesmoke; margin-top: 4.8rem; cursor: default; }
#top-footer .contact-info .content-container .side-info .message::before { display: inline-block; content: url("../../multimedia/images/extra-small/ss-symbol-1.png"); position: relative; left: -0.6rem; bottom: -0.3rem; }
@media (max-width: 71.85em) { #top-footer .contact-info .content-container .side-info .message { margin-top: 3rem; } }
@media (max-width: 24.95em) { #top-footer .contact-info .content-container .side-info .message .removable { display: none; } }
@media (max-width: 71.85em) { #top-footer .contact-info .content-container form[name="footer-contact"] { text-align: center; } }
#top-footer .contact-info .content-container form[name="footer-contact"] .heading-container { margin-bottom: 2.5rem; color: #b9c8df; }
#top-footer .contact-info .content-container form[name="footer-contact"] .heading-container .title { font-size: 6rem; font-weight: 300; text-transform: uppercase; }
@media (max-width: 31.2em) { #top-footer .contact-info .content-container form[name="footer-contact"] .heading-container .title { font-size: 4.5rem; } }
@media (max-width: 24.95em) { #top-footer .contact-info .content-container form[name="footer-contact"] .heading-container .title { font-size: 3.5rem; } }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body { max-width: 60rem; }
@media (max-width: 71.85em) { #top-footer .contact-info .content-container form[name="footer-contact"] .form-body { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; margin-bottom: 6rem; } }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body input, #top-footer .contact-info .content-container form[name="footer-contact"] .form-body textarea { -webkit-box-sizing: border-box; box-sizing: border-box; display: block; font: 500 1.6rem "Museo Sans", sans-serif; color: #292929; width: 100%; padding: 1.8rem 2rem; border: solid 0.2rem #18283e; background-color: #b9c8df; }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body input::-webkit-input-placeholder, #top-footer .contact-info .content-container form[name="footer-contact"] .form-body textarea::-webkit-input-placeholder { -webkit-transition: opacity 0.5s ease-out; transition: opacity 0.5s ease-out; color: inherit; font-size: inherit; font-weight: inherit; }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body input:-ms-input-placeholder, #top-footer .contact-info .content-container form[name="footer-contact"] .form-body textarea:-ms-input-placeholder { -webkit-transition: opacity 0.5s ease-out; transition: opacity 0.5s ease-out; color: inherit; font-size: inherit; font-weight: inherit; }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body input::-ms-input-placeholder, #top-footer .contact-info .content-container form[name="footer-contact"] .form-body textarea::-ms-input-placeholder { -webkit-transition: opacity 0.5s ease-out; transition: opacity 0.5s ease-out; color: inherit; font-size: inherit; font-weight: inherit; }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body input::placeholder, #top-footer .contact-info .content-container form[name="footer-contact"] .form-body textarea::placeholder { -webkit-transition: opacity 0.5s ease-out; transition: opacity 0.5s ease-out; color: inherit; font-size: inherit; font-weight: inherit; }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body input:focus::-webkit-input-placeholder, #top-footer .contact-info .content-container form[name="footer-contact"] .form-body textarea:focus::-webkit-input-placeholder { opacity: 0; }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body input:focus:-ms-input-placeholder, #top-footer .contact-info .content-container form[name="footer-contact"] .form-body textarea:focus:-ms-input-placeholder { opacity: 0; }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body input:focus::-ms-input-placeholder, #top-footer .contact-info .content-container form[name="footer-contact"] .form-body textarea:focus::-ms-input-placeholder { opacity: 0; }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body input:focus::placeholder, #top-footer .contact-info .content-container form[name="footer-contact"] .form-body textarea:focus::placeholder { opacity: 0; }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body input::-webkit-input-placeholder { text-transform: uppercase; }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body input:-ms-input-placeholder { text-transform: uppercase; }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body input::-ms-input-placeholder { text-transform: uppercase; }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body input::placeholder { text-transform: uppercase; }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body > input, #top-footer .contact-info .content-container form[name="footer-contact"] .form-body .input-set { margin-bottom: 0.7rem; }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body textarea { margin-bottom: 1.4rem; }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body .input-set { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
@media (max-width: 31.2em) { #top-footer .contact-info .content-container form[name="footer-contact"] .form-body .input-set { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin-bottom: 0; } }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body .input-set input { -webkit-box-flex: 0; -ms-flex: 0 0 49%; flex: 0 0 49%; }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body .input-set input:not(:last-child) { margin-right: 0.3rem; }
@media (max-width: 31.2em) { #top-footer .contact-info .content-container form[name="footer-contact"] .form-body .input-set input { margin-bottom: 0.7rem; } }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
@media (max-width: 40.6em) { #top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set .boot-finder { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-right: .8rem; }
@media (max-width: 40.6em) { #top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set .boot-finder { margin-bottom: 2.5rem; margin-right: 0; } }
@media (max-width: 31.2em) { #top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set .boot-finder { width: 100%; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; } }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set .boot-finder .code-container { display: table; border: solid 0.2rem #18283e; background-color: #b9c8df; margin-right: .7rem; }
@media (max-width: 40.6em) { #top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set .boot-finder .code-container { margin-right: 2.5rem; } }
@media (max-width: 31.2em) { #top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set .boot-finder .code-container { margin-right: 1rem; } }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set .boot-finder .code-container .code { display: table-cell; font-size: 3rem; font-weight: 700; letter-spacing: .3rem; color: #686e73; padding: 1.5rem 2rem; background: url("../../multimedia/images/extra-small/ss-strokes-1.png"); cursor: default; }
@media (max-width: 31.2em) { #top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set .boot-finder .code-container .code { font-size: 2.4rem; padding: 1.2rem 1.4rem; } }
@media (max-width: 23.7em) { #top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set .boot-finder .code-container .code { font-size: 1.6rem; padding: 1rem; } }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set .boot-finder .code-container .reset { display: table-cell; font-size: 2rem; font-weight: 700; color: #757575; min-width: 6rem; -webkit-transform: rotate(45deg); transform: rotate(45deg); text-align: center; vertical-align: middle; cursor: pointer; }
@media (max-width: 31.2em) { #top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set .boot-finder .code-container .reset { min-width: 4rem; } }
@media (max-width: 23.7em) { #top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set .boot-finder .code-container .reset { min-width: 3rem; } }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set .boot-finder input[name$="-boot-finder"] { width: 16.4rem; padding: 2rem; }
@media (max-width: 31.2em) { #top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set .boot-finder input[name$="-boot-finder"] { width: 14rem; font-size: 1.4rem; padding: 1.5rem 1.2rem; } }
@media (max-width: 23.7em) { #top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set .boot-finder input[name$="-boot-finder"] { font-size: 1.2rem; padding: 1.1rem 1rem; } }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set .boot-finder input[name$="-boot-finder"]::-webkit-input-placeholder { font-size: 1.4rem; font-weight: 500; color: #7b848e; }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set .boot-finder input[name$="-boot-finder"]:-ms-input-placeholder { font-size: 1.4rem; font-weight: 500; color: #7b848e; }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set .boot-finder input[name$="-boot-finder"]::-ms-input-placeholder { font-size: 1.4rem; font-weight: 500; color: #7b848e; }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set .boot-finder input[name$="-boot-finder"]::placeholder { font-size: 1.4rem; font-weight: 500; color: #7b848e; }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set button[type="submit"] { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; padding: 2.2rem 2rem 1.8rem; border-bottom: solid 0.5rem #242424; background-color: #292929; text-align: center; text-transform: uppercase; }
@media (max-width: 40.6em) { #top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set button[type="submit"] { width: 18rem; } }
@media (max-width: 31.2em) { #top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set button[type="submit"] { width: 14rem; padding: 1.6rem 1.8rem; } }
@media (max-width: 23.7em) { #top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set button[type="submit"] { width: 12rem; padding: 1.4rem 1.6rem; } }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set button[type="submit"] .content { display: inline-block; font-size: 1.6rem; font-weight: 700; color: #fafafa; margin-right: .6rem; }
#top-footer .contact-info .content-container form[name="footer-contact"] .form-body .buttons-set button[type="submit"] .content::after { display: inline-block; content: url("../../multimedia/images/extra-small/ss-email-2.png"); position: relative; right: -1.2rem; bottom: 0; }

#top-footer .copyright { background-color: rgba(63, 98, 151, 0.55); }
#top-footer .copyright .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 123rem; padding: 3rem 1.5rem 3rem; margin: 0 auto 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 1.6rem; color: #fafafa; }
@media (max-width: 56.2em) { #top-footer .copyright .content-container { padding-left: 1.5rem; padding-right: 1.5rem; } }
@media (max-width: 49.95em) { #top-footer .copyright .content-container { font-size: 1.3rem; } }
@media (max-width: 31.2em) { #top-footer .copyright .content-container { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } }
@media (max-width: 31.2em) { #top-footer .copyright .content-container .copyright-links { display: none; } }
#top-footer .copyright .content-container .copyright-links .pages-list li { display: inline-block; position: relative; }
#top-footer .copyright .content-container .copyright-links .pages-list li:not(:last-child) { margin-right: 4.3rem; }
@media (max-width: 49.95em) { #top-footer .copyright .content-container .copyright-links .pages-list li:not(:last-child) { margin-right: 2rem; } }
#top-footer .copyright .content-container .copyright-links .pages-list li:not(:last-child)::after { content: "|"; display: inline-block; position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); right: -2.15rem; }
@media (max-width: 49.95em) { #top-footer .copyright .content-container .copyright-links .pages-list li:not(:last-child)::after { right: -1rem; } }
#top-footer .copyright .content-container .copyright-info { cursor: default; }
@media (max-width: 40.6em) { #top-footer .copyright .content-container .copyright-info .removable { display: none; } }

/*# sourceMappingURL=search-results.css.map */