#about { background: url( "../../multimedia/images/extra-large/ll-city-1.jpg" ) no-repeat center/cover;
  & .content-container { @include set-grid( ( 6.6rem ) ); @include row-flex();
    @media ( max-width: 64.35em /* 1029px */ ) { flex-direction: column-reverse }
    & .side-image { width: 44rem; height: 56.3rem; filter: drop-shadow( unquote( nth( $ds, 1 ) ) );
      @media ( max-width: 76.2em /* 1219px */ ) { width: calc( 44rem / 1.3 ); height: calc( 56.3rem / 1.3 ) }
      @media ( max-width: 68.7em /* 1099px */ ) { width: calc( 44rem / 1.6 ); height: calc( 56.3rem / 1.6 ) }
      & img { height: 100%; object: { fit: fill; position: center } } }
    & .side-text { margin-left: 2rem; max-width: 69.5rem;
      @media ( max-width: 64.35em /* 1029px */ ) { margin: { left: 0; bottom: 2rem }; text-align: center }
      & .heading-container { margin-bottom: 3.5rem;
        & .heading-set { @include title-4;
          & .title {
            @media ( max-width: 40.6em /* 649px */ ) { font-size: 8rem }
            @media ( max-width: 24.95em /* 399px */ ) { font-size: 6.5rem } }
          & .subtitle {
            @media ( max-width: 40.6em /* 649px */ ) { font-size: 2.4rem }
            @media ( max-width: 24.95em /* 399px */ ) { font-size: 2rem } } } }
      & .text-set { font-size: 1.6rem; color: nth( $c-0, 7 ); line-height: 1.5;
        @media ( max-width: 40.6em /* 649px */ ) { font-size: 1.5rem }
        @media ( max-width: 24.95em /* 399px */ ) { font-size: 1.4rem }
        & .text {
          &:not( :last-child ) { margin-bottom: 3rem }
          & .highlight { font-weight: 700 } } } } } }
