#license { background: url( "../../multimedia/images/extra-large/ll-city-2.jpg" ) no-repeat 70% center/cover;
  & > .content-container { @include set-grid( 10rem ); @include title-4( 8rem );
    @media ( max-width: 56.2em /* 899px */ ) { padding: { top: 6rem; bottom: 6rem } }
    & .title {
      @media ( max-width: 71.85em /* 1149px */ ) { font-size: 7rem }
      @media ( max-width: 56.2em /* 899px */ ) { font-size: 6rem }
      @media ( max-width: 34.95em /* 559px */ ) { font-size: 5rem }
      @media ( max-width: 29.95em /* 479px */ ) { font-size: 4rem; margin-bottom: 3rem } }
    & .licenses-set { @include row-flex( wrap, $side: flex-start );
      @media ( max-width: 71.85em /* 1149px */ ) { flex-direction: column; align-items: center }
      & dt, & dd { display: block; font-size: 1.4rem;
        &::after { content: "" } }
      & dt { color: nth( $c-0, 7 ) }
      & dd { color: nth( $c-0, 10 ) }
      & .data-list { @include column-flex( $side: flex-start ); width: 100%; max-width: 50rem;
        @media ( max-width: 71.85em /* 1149px */ ) { max-width: 85rem }
        @media ( max-width: 29.95em /* 479px */ ) { text-align: center }
        &:not( :last-child ) {
          @media ( max-width: 71.85em /* 1149px */ ) { margin-bottom: 5rem } }
        & .info-set {
          &[ class~="main" ] { width: 100%; margin-bottom: 5rem;
            & > .heading-block { @include row-flex( $side: flex-start );
              @media ( max-width: 71.85em /* 1149px */ ) { justify-content: space-evenly }
              @media ( max-width: 56.2em /* 899px */ ) { justify-content: center }
              @media ( max-width: 34.95em /* 559px */ ) { justify-content: space-between }
              @media ( max-width: 29.95em /* 479px */ ) { flex-direction: column }
              & .data-set {
                @media ( max-width: 56.2em /* 899px */ ) and ( min-width: 34.95em /* 600px */ ) { margin: { left: 4rem; right: 4rem } }
                @media ( max-width: 29.95em /* 479px */ ) { @include row-flex( $main: center, $side: flex-end ); width: 100%; margin-bottom: 2.5rem }
                & dt.license { font-size: 2rem; margin-bottom: 1rem;
                  @media ( max-width: 29.95em /* 479px */ ) { font-size: 2.8rem; margin: { right: .6rem; bottom: 0 } } }
                & dd.license { font: { size: 3rem; weight: 500 };
                  @media ( max-width: 29.95em /* 479px */ ) { font-size: 2.4rem }
                  & .number { display: inline-block; padding: { left: 1.7rem; top: .8rem }; letter-spacing: -.2rem; position: relative;
                    &::before { content: "#"; color: nth( $c-0, 9 ); font-size: 2rem; position: absolute; top: 0; left: 0;
                      @media ( max-width: 29.95em /* 479px */ ) { font-size: 1.5rem; top: .4rem; left: .5rem } } } } } }
              & .main-data { margin-bottom: 4.8rem;
                @media ( max-width: 71.85em /* 1149px */ ) { justify-content: space-evenly }
                @media ( max-width: 29.95em /* 479px */ ) { width: 100% }
                & dt.status { font-size: 2rem; color: nth( $c-0, 7 ); margin-bottom: 1.4rem }
                & dd.status {
                  & .key-info { display: block; font: { size: 3rem; weight: 700 }; color: nth( $c-3, 1 ); margin-bottom: 1.3rem }
                  & .additional-info { font-size: 1.4rem; color: nth( $c-0, 9 );
                    @media ( max-width: 22.45em /* 359px */ ) { display: flex; flex-direction: column }
                    & .verified { display: inline-block; margin-right: 2.2rem;
                      @media ( max-width: 22.45em /* 359px */ ) { margin: { right: 0; bottom: 2rem } } }
                    & .source { display: inline-block; color: nth( $c-2, 2 );
                      &::before { content: "Source: "; color: nth( $c-0, 9 ); font-size: 1.4rem; cursor: default } } } } }
            & .side-data { @include row-flex( $side: flex-start );
              @media ( max-width: 22.45em /* 359px */ ) { flex-direction: column; align-items: center }
              & .data-set {
                &:not( :last-child ) {
                  @media ( max-width: 22.45em /* 359px */ ) { margin-bottom: 2.5rem } }
                & dt { margin-bottom: 1.1rem }
                & dd { font: { size: 1.6rem; weight: 700 };
                  @media ( max-width: 29.95em /* 479px */ ) { font: { size: 1.3rem; weight: 500 } } } } } }
          &[ class~="side" ] { width: 100%; @include row-flex;
            @media ( max-width: 34.95em /* 559px */ ) { flex-direction: column }
            & .data-set { display: inline-block;
              @media ( max-width: 34.95em /* 559px */ ) { margin-bottom: 2.5rem }
              & dt { margin-bottom: 1rem }
              & dd {
                &.counties { max-width: 23.6rem }
                &.cities-excluded { max-width: 22rem }
                & > [ class$="list" ] { line-height: 1.92;
                  & li { display: inline;
                    &:not( :last-child )::after { content: ", " }
                    &:last-child::after { content: "." } } } } } } } } } } }
