#profile-footer {
  & .content-container { @include set-grid( ( 8.5rem, 8rem ) );
    & .downloads-container { @include column-flex(); margin: 0 auto; text-transform: uppercase;
      & .resume { box-sizing: border-box; display: inline-block; width: 35.3rem; height: 5.9rem; text-align: center; font: { size: 1.6rem; weight: 500 }; color: nth( $c-0, 2 ); text-indent: 4rem; padding: 2.4rem 2.9rem 2.8rem; margin-bottom: 6rem; background-image: unquote( nth( $lg, 10 ) ); position: relative; box-shadow: unquote( nth( $bs, 2 ) );
        @media ( max-width: 41.2em /* 659px */ ) { margin-bottom: 3.5rem }
        @media ( max-width: 24.95em /* 399px */ ) { width: 28rem; padding: 2.4rem 2rem 2.8rem }
        @include icon-before( "../../multimedia/images/extra-small/ss-download-1.png", 3.5rem, 50% ) { transform: translateY( 50% ); filter: grayscale( 100% ) brightness( 215% );
          @media ( max-width: 24.95em /* 399px */ ) { left: 0 } } }
      & .proof-of-insurance { display: inline-block; font: { size: 1.6rem; weight: 500 }; color: nth( $c-2, 2 ); padding-bottom: .2rem; border-bottom: solid .2rem nth( $c-2, 2 ); position: relative; transform: translateX( 1.5rem );
        @media ( max-width: 24.95em /* 399px */ ) { font-size: 1.5rem; transform: none }
        @include icon-before( "../../multimedia/images/extra-small/ss-download-1.png", -3.4rem, 0 ) { filter: brightness( 150% ) saturate( 150% );
          @media ( max-width: 24.95em /* 399px */ ) { display: none } } } } } }
