#top-footer .contact-info {
  & .content-container { @include set-grid( 7.8rem ); @include row-flex( $side: flex-end );
    @media ( max-width: 71.85em /* 1149px */ ) { flex-direction: column-reverse; align-items: center; text-align: center }
    & .side-info {
      & .logo { margin-bottom: 2rem;
        @media ( max-width: 71.85em /* 1149px */ )
          { margin-bottom: 1.5rem } }
      & .links-container {
        @include social-list-1( 2rem, 2.7rem, ( facebook: "facebook-2.png", linkedin: "linkedin-2.png", instagram: "instagram-2.png" ) ) { width: moz-fit-content; width: fit-content; padding-bottom: 10rem; border-bottom: solid .1rem nth( $c-1, 4 );
          @media ( max-width: 71.85em /* 1149px */ ) { padding-bottom: 8rem; margin: { left: auto; right: auto } }
          & li {
            &:not( :last-child ) {
              @media ( max-width: 31.2em /* 499px */ ) { margin-right: 3.5rem } }
            & a { opacity: .6; transition: opacity nth( $a-dt, 2 ); filter: brightness( 600% );
              @media ( max-width: 31.2em /* 499px */ ) {  }
              &:hover { opacity: 1 } } } } }
      & .message { display: block; font-size: 1rem; color: nth( $c-0, 2 ); margin-top: 4.8rem; @include icon-before( "extra-small/ss-symbol-1.png", -.6rem, -.3rem, relative ); cursor: default;
        @media ( max-width: 71.85em /* 1149px */ ) { margin-top: 3rem }
        & .removable {
          @media ( max-width: 24.95em /* 399px */ ) { display: none } } } }
    & form[ name="footer-contact" ] {
      @media ( max-width: 71.85em /* 1149px */ ) { text-align: center }
      & .heading-container { margin-bottom: 2.5rem; color: nth( $c-1, 4 );
        & .title { font: { size: 6rem; weight: 300 }; text-transform: uppercase;
          @media ( max-width: 31.2em /* 499px */ ) { font-size: 4.5rem }
          @media ( max-width: 24.95em /* 399px */ ) { font-size: 3.5rem } } }
      @include form-body-1 } } }
