#top-footer .copyright { background-color: transparentize( nth( $c-1, 8 ), .45 );
  & .content-container { @include set-grid( 3rem ); @include row-flex; font-size: 1.6rem; color: nth( $c-0, 15 );
    @media ( max-width: 49.95em /* 799px */ ) { font-size: 1.3rem }
    @media ( max-width: 31.2em /* 499px */ ) { justify-content: center }
    & .copyright-links {
      @media ( max-width: 31.2em /* 499px */ ) { display: none }
      & .pages-list {
        & li { display: inline-block; position: relative;
          &:not( :last-child ) { margin-right: 4.3rem;
            @media ( max-width: 49.95em /* 799px */ ) { margin-right: 2rem }
            &::after { content: "|"; display: inline-block; @include abs-center( top ); right: ( -4.3rem/2 );
              @media ( max-width: 49.95em /* 799px */ ) { right: ( -2rem/2 ) } } } } } }
    & .copyright-info { cursor: default;
      & .removable {
        @media ( max-width: 40.6em /* 649px */ ) { display: none } } } } }
