#top-footer .contact-info { background: url( "../../multimedia/images/extra-large/ll-building-1.jpg" ) no-repeat 50% 0%/cover nth( $c-1, 3 );
  & .content-container { @include set-grid( ( 16rem, 14.8rem ) );
    @media ( max-width: 71.85em /* 1149px */ ) { padding: { top: 8rem; bottom: 8rem } }
    & form[ name="footer-contact" ] { @include column-flex( wrap, flex-start, flex-start ); align-content: space-between; max-height: 39.2rem;
      @media ( max-width: 71.85em /* 1149px */ ) { max-height: none; align-items: center; align-content: normal; text-align: center }
      & .heading-container { order: 1; margin-bottom: 6rem; cursor: default;
        & .title { font: { size: 6rem; weight: 300 }; margin-bottom: 1.2rem; text-transform: uppercase;
          @media ( max-width: 31.2em /* 499px */ ) { font-size: 4.5rem } }
        & .response-time { font: { size: 1.6rem; weight: 700 }; color: nth( $c-0, 1 );
          @media ( max-width: 31.2em /* 499px */ ) { font-size: 1.5rem }
          & dt, & dd { display: inline }
          & dt::after { content: ":" } } }
      @include form-body-1 { order: 3 }
      & .contact-footer { order: 2; cursor: default;
        @media ( max-width: 71.85em /* 1149px */ ) { order: 3 }
        & .tel-container { margin-bottom: 5.7rem;
          @media ( max-width: 31.2em /* 499px */ ) { margin-bottom: 4rem }
          & .action { display: block; font-size: 2.5rem; margin-bottom: 1.6rem;
            @media ( max-width: 31.2em /* 499px */ ) { font-size: 2rem }
            & .main-message { font-weight: 700; text-transform: uppercase }
            & .addendum { font-weight: 500 } }
          & .tel { display: block; font: { size: 5rem; weight: 700 }; color: nth( $c-0, 1 ); border-bottom: solid .2rem nth( $c-0, 6 );
            @media ( max-width: 31.2em /* 499px */ ) { font-size: 3.5rem; width: moz-fit-content; width: fit-content; margin: 0 auto } } }
        & .links-container {
          @include social-list-1( 3.6rem, 5.8rem, ( facebook: "facebook-2.png", linkedin: "linkedin-2.png", instagram: "instagram-2.png" ) ) {
            & li {
              &:not( :last-child ) {
                @media ( max-width: 31.2em /* 499px */ ) { margin-right: 3.5rem } }
              & a { opacity: .6; transition: opacity nth( $a-dt, 2 );
                @media ( max-width: 31.2em /* 499px */ ) { width: 3.2rem; height: 3.2rem }
                &:hover { opacity: 1 } } } } } } } } }
