#top-footer .copyright { background-image: unquote( nth( $lg, 3 ) );
  & .content-container { @include set-grid( 2.5rem, 2rem ); @include row-flex; font-size: 1.2rem;
    @media ( max-width: 71.85em /* 1149px */ ) { flex-direction: column; padding: { top: 1.5rem; bottom: 1.5rem } }
    & .general-info { @include row-flex; width: 50%; max-width: 60rem;
      @media ( max-width: 71.85em /* 1149px */ ) { width: 100%; max-width: none; margin-bottom: 1.5rem }
      & .logo {
        @media ( max-width: 40.6em /* 649px */ ) { width: 100%; height: 3.5rem }
        & img {
          @media ( max-width: 40.6em /* 649px */ ) { @include img-center } } }
      & .links-container {
        @media ( max-width: 40.6em /* 649px */ ) { display: none }
        & .pages-list { text-transform: uppercase;
          & li { display: inline-block;
            &:not( :last-child ) { margin-right: 1.6rem }
            & a { color: nth( $c-0, 7 ); @include color-change( nth( $c-2, 3 ), nth( $c-0, 7 ), nth( $a-dt, 2 ) ) } } } } }
    & .copyright-info { @include row-flex; width: 50%; max-width: 51.2rem; color: nth( $c-0, 14 );
      @media ( max-width: 71.85em /* 1149px */ ) { width: 100%; max-width: none }
      @media ( max-width: 31.2em /* 499px */ ) { text-align: center }
      & .links-container {
        @media ( max-width: 31.2em /* 499px */ ) { display: none }
        & .pages-list {
          & li { display: inline-block; position: relative;
            &:not( :last-child ) { margin-right: 3.4rem;
              &::after { content: "|"; display: inline-block; @include abs-center( top ); right: -1.7rem } } } } }
      & .message { cursor: default;
        @media ( max-width: 31.2em /* 499px */ ) { width: 100% }
        & .removable {
          @media ( max-width: 40.6em /* 649px */ ) { display: none } } } } } }
