// Misturas Globais de Fontes

  // Museo Sans
  @mixin museo-sans( $thin: false, $extra-light: false, $light: false, $regular: false, $medium: false, $semibold: false, $bold: false, $extrabold: false, $black: false,
                     $normal: false, $italic: false, $oblique: false,
                     $extra-condensed: false, $condensed: false, $semi-condensed: false, $normal: false, $semi-expanded: false, $expanded: false, $extra-expanded: false,
                     $all: true )
    { @if $thin or $all
      { @font-face
          { font-family: "Museo Sans";
            src: local( "Museo Sans 100" ), local( "MuseoSans-100" ),
            url( "../../multimedia/fonts/museo-sans/MuseoSans-100.woff2" ), url( "../../multimedia/fonts/museo-sans/MuseoSans-100.otf" );
            font: { weight: 100; style: normal; stretch: normal } } }
      @if $light or $all
        { @font-face
            { font-family: "Museo Sans";
              src: local( "Museo Sans 300" ), local( "MuseoSans-300" ),
              url( "../../multimedia/fonts/museo-sans/MuseoSans-300.woff2" ), url( "../../multimedia/fonts/museo-sans/MuseoSans-300.otf" );
              font: { weight: 300; style: normal; stretch: normal } } }
      @if $medium or $all
        { @font-face
            { font-family: "Museo Sans";
              src: local( "Museo Sans 500" ), local( "MuseoSans-500" ),
              url( "../../multimedia/fonts/museo-sans/MuseoSans-500.woff2" ), url( "../../multimedia/fonts/museo-sans/MuseoSans-500.otf" );
              font: { weight: 500; style: normal; stretch: normal } } }
      @if $bold or $all
        { @font-face
            { font-family: "Museo Sans";
              src: local( "Museo Sans 700" ), local( "MuseoSans-700" ),
              url( "../../multimedia/fonts/museo-sans/MuseoSans-700.woff2" ), url( "../../multimedia/fonts/museo-sans/MuseoSans-700.otf" );
              font: { weight: 700; style: normal; stretch: normal } } }
      @if $black or $all
        { @font-face
            { font-family: "Museo Sans";
              src: local( "Museo Sans 900" ), local( "MuseoSans-900" ),
              url( "../../multimedia/fonts/museo-sans/MuseoSans-900.woff2" ), url( "../../multimedia/fonts/museo-sans/MuseoSans-900.otf" );
              font: { weight: 900; style: normal; stretch: normal } } }
      @if ( $thin and $italic ) or $all
        { @font-face
            { font-family: "Museo Sans";
              src: local( "Museo Sans 100 Italic" ), local( "MuseoSans-100Italic" ),
              url( "../../multimedia/fonts/museo-sans/MuseoSans-100Italic.woff2" ), url( "../../multimedia/fonts/museo-sans/MuseoSans-100Italic.otf" );
              font: { weight: 100; style: italic; stretch: normal } } }
      @if ( $light and $italic ) or $all
        { @font-face
            { font-family: "Museo Sans";
              src: local( "Museo Sans 300 Italic" ), local( "MuseoSans-300Italic" ),
              url( "../../multimedia/fonts/museo-sans/MuseoSans-300Italic.woff2" ), url( "../../multimedia/fonts/museo-sans/MuseoSans-300Italic.otf" );
              font: { weight: 300; style: italic; stretch: normal } } }
      @if ( $medium and $italic ) or $all
        { @font-face
            { font-family: "Museo Sans";
              src: local( "Museo Sans 500 Italic" ), local( "MuseoSans-500Italic" ),
              url( "../../multimedia/fonts/museo-sans/MuseoSans-500Italic.woff2" ), url( "../../multimedia/fonts/museo-sans/MuseoSans-500Italic.otf" );
              font: { weight: 500; style: italic; stretch: normal } } }
      @if ( $bold and $italic ) or $all
        { @font-face
            { font-family: "Museo Sans";
              src: local( "Museo Sans 700 Italic" ), local( "MuseoSans-700Italic" ),
              url( "../../multimedia/fonts/museo-sans/MuseoSans-700Italic.woff2" ), url( "../../multimedia/fonts/museo-sans/MuseoSans-700Italic.otf" );
              font: { weight: 700; style: italic; stretch: normal } } }
      @if ( $black and $italic ) or $all
        { @font-face
            { font-family: "Museo Sans";
              src: local( "Museo Sans 900 Italic" ), local( "MuseoSans-900Italic" ),
              url( "../../multimedia/fonts/museo-sans/MuseoSans-900Italic.woff2" ), url( "../../multimedia/fonts/museo-sans/MuseoSans-900Italic.otf" );
              font: { weight: 900; style: italic; stretch: normal } } } }

  // Akrobat
  @mixin akrobat( $thin: false, $regular: false, $medium: false, $bold: false, $italic: false, $all: true )
    { @if $thin or $all
        { @font-face
						{ font-family: "Akrobat";
							src: local( "Akrobat Thin" ), local( "Akrobat-Thin" ),
							url( "../../multimedia/fonts/akrobat/Akrobat-Thin.woff2" ), url( "../../multimedia/fonts/akrobat/Akrobat-Thin.otf" );
							font-weight: 100; font-style: normal; font-stretch: normal } }
      @if $regular or $all
          { @font-face
  						{ font-family: "Akrobat";
  							src: local( "Akrobat Regular" ), local( "Akrobat-Regular" ),
  							url( "../../multimedia/fonts/akrobat/Akrobat-Regular.woff2" ), url( "../../multimedia/fonts/akrobat/Akrobat-Regular.otf" );
  							font-weight: 400; font-style: normal; font-stretch: normal } }
      @if $bold or $all
          { @font-face
  						{ font-family: "Akrobat";
  							src: local( "Akrobat Bold" ), local( "Akrobat-Bold" ),
  							url( "../../multimedia/fonts/akrobat/Akrobat-Bold.woff2" ), url( "../../multimedia/fonts/akrobat/Akrobat-Bold.otf" );
  							font-weight: 700; font-style: normal; font-stretch: normal } } }

  // GothamHTF
  @mixin gotham-htf( $thin: false, $medium: true, $bold: true, $italic: false, $all: true )
    { @if $thin or $all
        { @font-face
						{ font-family: "GothamHTF";
							src: local( "GothamHTF Leve" ), local( "GothamHTF Thin" ), local( "GothamHTF-Leve" ), local( "GothamHTF-Thin" ),
							url( "../../multimedia/fonts/gotham-htf/GothamHTF-Thin.woff2" ), url( "../../multimedia/fonts/gotham-htf/GothamHTF-Thin.otf" );
							font-weight: 300; font-style: normal } }
      @if $medium or $all
        { @font-face
						{ font-family: "GothamHTF";
							src: local( "GothamHTF Médio" ), local( "GothamHTF Medium" ), local( "GothamHTF-Médio" ), local( "GothamHTF-Medium" ),
							url( "../../multimedia/fonts/gotham-htf/GothamHTF-Medium.woff2" ), url( "../../multimedia/fonts/gotham-htf/GothamHTF-Medium.otf" );
							font-weight: 500; font-style: normal } }
			@if $bold or $all
				{ @font-face
						{ font-family: "GothamHTF";
							src: local( "GothamHTF Negrito" ), local( "GothamHTF Bold" ), local( "GothamHTF-Negrito" ), local( "GothamHTF-Bold" ),
							url( "../../multimedia/fonts/gotham-htf/GothamHTF-Bold.woff2" ), url( "../../multimedia/fonts/gotham-htf/GothamHTF-Bold.otf" );
							font-weight: 700; font-style: normal } }
      @if ( $thin and $italic ) or $all
  			{ @font-face
  					{ font-family: "GothamHTF";
  						src: local( "GothamHTF Itálico e Leve" ), local( "GothamHTF Thin Italic" ), local( "GothamHTF-ItálicoLeve" ), local( "GothamHTF-ThinItalic" ),
  						url( "../../multimedia/fonts/gotham-htf/GothamHTF-ThinItalic.woff2" ), url( "../../multimedia/fonts/gotham-htf/GothamHTF-ThinItalic.otf" );
  						font-weight: 300; font-style: italic } }
      @if ( $medium and $italic ) or $all
        { @font-face
            { font-family: "GothamHTF";
              src: local( "GothamHTF Itálico e Médio" ), local( "GothamHTF Medium Italic" ), local( "GothamHTF-ItálicoMédio" ), local( "GothamHTF-MediumItalic" ),
              url( "../../multimedia/fonts/gotham-htf/GothamHTF-MediumItalic.woff2" ), url( "../../multimedia/fonts/gotham-htf/GothamHTF-MediumItalic.otf" );
              font-weight: 500; font-style: italic } }
			@if ( $bold and $italic ) or $all
				{ @font-face
						{ font-family: "GothamHTF";
							src: local( "GothamHTF Itálico e Negrito" ), local( "Museo Sans Bold Italic" ), local( "GothamHTF-ItálicoNegrito" ), local( "GothamHTF-BoldItalic" ),
							url( "../../multimedia/fonts/gotham-htf/GothamHTF-BoldItalic.woff2" ), url( "../../multimedia/fonts/gotham-htf/GothamHTF-BoldItalic.otf" );
							font-weight: 700; font-style: italic } } }
