#about {
  & .content-container { @include set-grid( ( 9.8rem, 8.4rem ) ); @include row-flex();
    @media ( max-width: 78.1em /* 1249px */ ) { flex-direction: column }
    @media ( max-width: 61.4em /* 982px */ ) { padding-bottom: 6rem }
    & .info-container {
      @media ( max-width: 78.1em /* 1249px */ ) { width: 100%; margin-bottom: 8rem; @include row-flex( wrap-reverse, center ) }
      @media ( max-width: 61.4em /* 982px */ ) { text-align: center }
      & .side-image { @include shape-circle( 27.6rem ); filter: drop-shadow( unquote( nth( $ds, 1 ) ) ); overflow: hidden;
        & img { height: 100%; object: { fit: fill; position: center } } }
      & .side-text { display: inline-block; margin-left: 3rem; max-width: 47.5rem;
        @media ( max-width: 78.1em /* 1249px */ ) { max-width: 60rem; margin: { left: 6rem; bottom: 3rem } }
        @media ( max-width: 61.4em /* 982px */ ) { font-size: 1.5rem; margin-left: 0 }
        @media ( max-width: 31.2em /* 499px */ ) { font-size: 1.4rem }
        & .heading-container { margin-bottom: 3.1rem;
          & .heading-set {
            @include title-1( $color: nth( $c-0, 5 ) );
            & .subtitle { font: { size: 2.5rem; weight: 300 }; color: nth( $c-0, 7 );
              @media ( max-width: 61.4em /* 982px */ ) { font-size: 2.4rem }
              @media ( max-width: 31.2em /* 499px */ ) { font-size: 2.2rem } } } }
        & .text-set { color: nth( $c-2, 1 ); line-height: 1.5;
          & .text {
            & .highlight { font-weight: 700 } } } } }
    & .side-icons { margin-right: 2.5rem;
      @media ( max-width: 78.1em /* 1249px */ ) { width: 100%; margin-right: 0 }
      @include topics-list-1( ( residence: "realty-2.png", license: "certificate-1.png", experience: "realty-3.png" ), $border: left ) {
        @media ( max-width: 78.1em /* 1249px */ ) { @include row-flex( wrap, space-evenly ); padding-left: 0; border: { left: none; top: solid .1rem nth( $c-0, 5 ) } }
        @media ( max-width: 28.1em /* 449px */ ) { flex-direction: column; align-items: flex-start }
        & li {
          &:nth-child( n ) {
            @media ( max-width: 78.1em /* 1249px */ ) { margin: 0 1.5rem 2.5rem }
            @media ( max-width: 28.1em /* 449px */ ) { margin: 0 0 2.5rem } } } } } } }
