#company {
  & .content-container { @include set-grid;
    & .heading-container { margin-bottom: 3.2rem;
      @include title-2( "briefcase-1.png" ) }
    & .company-data {
      @include data-list-1( ( 6 ), 3.1rem ) {
        &[ class~="company" ] { width: 14.6rem }
        &[ class~="company-type" ] { width: 14rem }
        &[ class~="address" ] { width: 18.2rem }
        &[ class^="contact-" ] { width: 11.8rem }
        &[ class$="-toll-free" ] {
          @media ( max-width: 83.1em /* 1329px */ ) { margin-left: 0 } }
        &[ class~="deliverables" ] {
          & .deliverables-list { max-width: 86.2rem; @include row-flex( wrap, space-evenly ); @include clearfix;
            @media ( max-width: 83.1em /* 1329px */ ) { max-width: none; justify-content: space-between }
            & li { float: left; max-width: 22.5rem; @include col-calc( .4rem, 4, 1 ); margin-bottom: .8rem; @include icon-before( "extra-small/ss-check-1.png", -1rem, 0, relative );
              &:not( :nth-child( 4n + 1 ) ) { margin-left: .4rem }
              &:nth-child( n ) {
                @media ( max-width: 83.1em /* 1329px */ ) { margin: { bottom: 4.5rem; left: 1rem; right: 1rem } } } } } }
        &[ class~="file-formats" ] { flex-grow: 1; margin-left: 1.5rem; padding-right: 0;
          & .files-list { @include row-flex( wrap, space-evenly ); font-size: 1.3rem;
            & li {
              &:not( :nth-child( 4n + 1 ) ) { margin-left: .7rem }
              & .content-set { @include row-flex( $main: flex-start );
                & .file-icon { flex-shrink: 0; margin-right: .6rem } } } } }
        &:nth-of-type( -n+6 ) {
          @media ( max-width: 83.1em /* 1329px */ ) { width: auto; flex-basis: 30%; flex-grow: 1; padding-right: 0; border-right: solid .1rem nth( $c-0, 5 ) }
          @media ( max-width: 43.7em /* 699px */ ) { flex-basis: 100%; padding: { top: 0; bottom: 7rem }; border: { bottom: solid .1rem nth( $c-0, 5 ); right: none }; margin: { bottom: 3.5rem; left: 0 } }
          & dd {
            @media ( max-width: 43.7em /* 699px */ ) { display: inline }
            & .line:nth-of-type( n ) { display: inline; line-height: 1.5 } } }
        &:nth-of-type( n+7 ) {
          @media ( max-width: 83.1em /* 1329px */ ) { flex-basis: 100%;
          @media ( max-width: 43.7em /* 699px */ ) { display: none } } }
        &:nth-of-type( 6 ) {
          @media ( max-width: 43.7em /* 699px */ ) { margin-bottom: 0 } } }
      & .divisor {
        @media ( max-width: 43.7em /* 699px */ ) { display: none } } } } }
