#license {
  & .content-container { @include set-grid;
    @include title-1;
    & .license-block { display: flex; width: 100%; border: solid .1rem darken( nth( $c-0, 8 ), 2% ); box-shadow: unquote( nth( $bs, 4 ) ); cursor: default;
      @media ( max-width: 56.2em /* 899px */ ) { flex-direction: column }
      &:not( :last-child ) { margin-bottom: 2.4rem }
      & dt, & dd { display: block; font-size: 1.4rem;
        &::after { content: "" } }
      & dt { color: nth( $c-0, 9 ) }
      & dd { color: nth( $c-0, 10 ) }
      & .heading-block { @include gradient-1; padding-left: 2.7rem; flex-grow: 1;
        @media ( max-width: 78.1em /* 1249px */ ) { padding: 0 2rem }
        @media ( max-width: 56.2em /* 899px */ ) { padding: 2rem 0 }
        & .license { @include column-flex( $main: center, $side: flex-start ); height: 100%;
          @media ( max-width: 78.1em /* 1249px */ ) { align-items: center }
          @media ( max-width: 56.2em /* 899px */ ) { flex-direction: row }
          & dt { font-size: 2rem; color: nth( $c-0, 7 ); margin-bottom: 1.7rem;
            @media ( max-width: 78.1em /* 1249px */ ) { font-size: 4rem; letter-spacing: .3rem }
            @media ( max-width: 56.2em /* 899px */ ) { letter-spacing: 0; margin: { bottom: 0; right: 2rem } }
            @media ( max-width: 24.95em /* 399px */ ) { font-size: 3.5rem; margin-right: 1.2rem } }
          & dd { font: { size: 3rem; weight: 500 };
            @media ( max-width: 24.95em /* 399px */ ) { font-size: 2.5rem };
            & .number { display: inline-block; padding: { left: 1.7rem; top: .8rem }; letter-spacing: -.2rem; position: relative;
              &::before { content: "#"; color: nth( $c-0, 9 ); font-size: 2rem; position: absolute; top: 0; left: 0 } } } } }
      & .data-list { @include row-flex( $side: flex-start ); padding: 1.9rem 6.8rem 1.9rem 4.4rem; background-color: nth( $c-0, 1 );
        @media ( max-width: 78.1em /* 1249px */ ) { box-sizing: border-box; flex-direction: column; width: 100% }
        @media ( max-width: 56.2em /* 899px */ ) { padding: { left: 2rem; right: 2rem } }
        & .info-set {
          &[ class~="main" ] { padding: 2.4rem 4.4rem 1.7rem 0; border-right: solid .1rem nth( $c-0, 5 );
            @media ( max-width: 78.1em /* 1249px */ ) { width: 100%; padding-right: 0; border: { right: none; bottom: solid .1rem nth( $c-0, 5 ) } }
            & .main-data { margin-bottom: 4.8rem;
              @media ( max-width: 78.1em /* 1249px */ ) { width: -moz-fit-content; width: fit-content; margin: { left: auto; right: auto } }
              @media ( max-width: 56.2em /* 899px */ ) { text-align: center }
              @media ( max-width: 24.95em /* 399px */ ) { text-align: left; margin: { bottom: 2.8rem; left: 0 } }
              & dt.status { color: nth( $c-0, 7 ); margin-bottom: 1.4rem }
              & dd.status {
                & .key-info { display: block; font: { size: 3rem; weight: 700 }; color: nth( $c-3, 1 ); margin-bottom: 1.3rem;
                  @media ( max-width: 24.95em /* 399px */ ) { margin-bottom: 2.4rem } }
                & .additional-info { font-size: 1.4rem; color: nth( $c-0, 7 );
                  & .verified { display: inline-block; margin-right: 2.2rem;
                    @media ( max-width: 24.95em /* 399px */ ) { width: 100%; margin: { bottom: 1.5rem; right: 0 } } }
                  & .source { display: inline-block; color: nth( $c-2, 2 );
                    &::before { content: "Source: "; color: nth( $c-0, 7 ); font-size: 1.4rem; cursor: default } } } } }
            & .side-data {
              @media ( max-width: 31.2em /* 499px */ ) { display: flex; flex-direction: column; border-top: solid .1rem nth( $c-0, 5 ) }
              & .data-set { display: inline-block; padding: 1.2rem 0 1.6rem;
                & dt { margin-bottom: 1.1rem }
                & dd { font-size: 1.5rem }
                &:first-child {
                  @media ( max-width: 31.2em /* 499px */ ) { padding-top: 2.4rem } }
                &:not( :first-child ) { padding-left: 1.7rem;
                  @media ( max-width: 31.2em /* 499px */ ) { padding-left: 0 } }
                &:not( :last-child ) { padding-right: 1.9rem; border-right: solid .1rem nth( $c-0, 5 );
                  @media ( max-width: 31.2em /* 499px */ ) { padding-right: 0; border-right: none } } } } }
          &[ class~="side" ] { padding: 2.4rem 0 1.7rem 4.4rem;
            @media ( max-width: 78.1em /* 1249px */ ) { width: 100%; padding-left: 0; display: flex; justify-content: space-evenly }
            @media ( max-width: 43.7em /* 699px */ ) { justify-content: space-between }
            @media ( max-width: 37.45em /* 599px */ ) { flex-direction: column }
            & .data-set { display: inline-block;
              & dt { margin-bottom: 1.5rem;
                @media ( max-width: 37.45em /* 599px */ ) { margin-bottom: 1rem } }
              & dd {
                &.counties { max-width: 23.6rem;
                  @media ( max-width: 37.45em /* 599px */ ) { max-width: none } }
                &.cities-excluded { max-width: 22rem;
                  @media ( max-width: 37.45em /* 599px */ ) { max-width: none } }
                & > [ class$="list" ] { line-height: 1.92;
                  @media ( max-width: 37.45em /* 599px */ ) { line-height: 1.75 }
                  & li { display: inline;
                    &:not( :last-child )::after { content: ", " }
                    &:last-child::after { content: "." } } } }
              &:not( :last-child ) { margin-right: 4.3rem;
                @media ( max-width: 78.1em /* 1249px */ ) { margin-right: 0 }
                @media ( max-width: 37.45em /* 599px */ ) { margin-bottom: 3.5rem } } } } } } } } }
