#overview {
  & .content-container { @include set-grid( ( 6.2rem, 5.6rem ) );
    @media ( max-width: 56.2em /* 899px */ ) { padding: { left: 1.5rem; right: 1.5rem } }
    & .heading-container { margin-bottom: 3.6rem;
      @include title-2( "profile-1.png" ) }
    & .overview-data  {
      @include data-list-1( ( 5 ) ) {
        &[ class~="licenser-title" ] { width: 14.5rem;
          @media ( max-width: 56.2em /* 899px */ ) { flex-basis: 25%; order: -2 }
          @media ( max-width: 40.6em /* 649px */ ) { flex-basis: 100%; padding: 0 0 3.5rem; border: { bottom: solid .1rem nth( $c-0, 5 ); right: none }; margin-bottom: 3.5rem }  }
        &[ class~="specialties" ] { width: 14.4rem;
          @media ( max-width: 56.2em /* 899px */ ) { flex-grow: 1; order: -2 }
          @media ( max-width: 40.6em /* 649px */ ) { flex-basis: 100%; margin-left: 0; padding: 0 0 3.5rem; border: { bottom: solid .1rem nth( $c-0, 5 ); right: none }; margin-bottom: 3.5rem };
          & dd {
            @media ( max-width: 40.6em /* 649px */ ) { display: inline } } }
        &[ class~="certifications" ] { width: 19.5rem;
          @media ( max-width: 56.2em /* 899px */ ) { flex-basis: 100%; text-align: center; padding: 3.5rem 0; border: { top: solid .1rem nth( $c-0, 5 ); bottom: solid .1rem nth( $c-0, 5 ); right: none }; margin: 3.5rem 0 }
          @media ( max-width: 40.6em /* 649px */ ) { margin: 0 }
          & .certifications-set { @include row-flex( $main: flex-start ); width: 100%;
            @media ( max-width: 56.2em /* 899px */ ) { justify-content: center }
            & dd {
              &::after { content: "" }
              & .circle { background: url( "../../multimedia/images/extra-small/ss-border-1.png" ) no-repeat center/100% padding-box; @include shape-circle( 4.5rem, lighten( nth( $c-0, 2 ), 2% ) ); position: relative; margin-right: 1.8rem;
                & .certification { font-size: 1.4rem; text-transform: uppercase; @include text-gradient( unquote( nth( $lg, 1 ) ), hsl( 35, 50%, 41% ) ); @include abs-center; cursor: default } } } } }
        &[ class~="appraisal-software" ] { width: 16.5rem;
          @media ( max-width: 83.1em /* 1329px */ ) { margin-left: 0 }
          @media ( max-width: 56.2em /* 899px */ ) { flex-basis: 25%; order: -1; margin-left: 4.2rem }
          @media ( max-width: 40.6em /* 649px */ ) { flex-basis: 100%; padding: 0 0 3.5rem; border-right: none;  margin-left: 0 } }
        &[ class~="organizations" ] { width: 31.8rem;
          @media ( max-width: 83.1em /* 1329px */ ) { border-right: solid .1rem nth( $c-0, 5 ) }
          @media ( max-width: 56.2em /* 899px */ ) { flex-grow: 1; margin-left: 0 }
          @media ( max-width: 43.7em /* 699px */ ) { flex-basis: 100%; padding: 3.5rem 0; border: { bottom: solid .1rem nth( $c-0, 5 ); right: none }; margin: 0 0 3.5rem }
          @media ( max-width: 40.6em /* 649px */ ) { margin-bottom: 0 }
          & dd { display: inline; line-height: 1.3 } }
        &[ class~="designations" ] { width: 25.5rem;
          @media ( max-width: 83.1em /* 1329px */ ) and ( min-width: 43.7em /* 700px */ ) { margin-left: 4.2rem !important }
          @media ( max-width: 43.7em /* 699px */ ) { flex-basis: 100%; padding: 3.5rem 0; border-right: none; margin: 0 }
          & dd { font-weight: 700; margin-bottom: 1.2rem;
            &:not( :last-of-type )::after { content: "" } } }
        &[ class~="payment" ] { width: 39.3rem; border-right: none; flex-grow: 1;
          @media ( max-width: 56.2em /* 899px */ ) { flex-basis: 100%; padding: 3.5rem 0; border: { top: solid .1rem nth( $c-0, 5 ); bottom: solid .1rem nth( $c-0, 5 ); right: none }; margin: 3.5rem 0 }
          @media ( max-width: 40.6em /* 649px */ ) { margin: 0 }
          & dt { margin-bottom: 0;
            @media ( max-width: 31.2em /* 499px */ ) { margin-bottom: 1.2rem; text-align: center } }
          & .cards-block { @include row-flex( $main: flex-start );
            @media ( max-width: 31.2em /* 499px */ ) { flex-direction: column }
            & .types { font: { size: 1.6rem; weight: 700 }; color: nth( $c-0, 10 );
              @media ( max-width: 31.2em /* 499px */ ) { font-size: 1.4rem; margin-bottom: 2rem } }
            & .cards-set { margin-left: 3.6rem;
              & dd { display: inline-block;
                &:not( :last-of-type ) { margin-right: 1.4rem }
                &::after { content: "" } } } } }
        @media ( max-width: 83.1em /* 1329px */ ) and ( min-width: 56.2em /* 900px */ ) {
          &:nth-child( n+4 ) { order: 1 }
          &:not( :last-child  ) { flex-basis: 28% }
          &:last-child { margin: { top: 7rem; left: 0 } } } }
      & .divisor {
        @media ( max-width: 56.2em /* 899px */ ) { display: none } } } } }
