#profile-footer {
  & .content-container { @include set-grid( ( 8.5rem, 8rem ) );
    & .downloads-container { width: 70.5rem; margin: 0 auto; @include row-flex(); text-transform: uppercase;
      @media ( max-width: 46.85em /* 749px */ ) { width: 100% }
      @media ( max-width: 41.2em /* 659px */ ) { flex-direction: column }
      & .resume { display: inline-block; font: { size: 1.4rem; weight: 700 }; color: nth( $c-0, 5 ); text-indent: 4rem; padding: 3.2rem 2.9rem 2.9rem; border-bottom: solid .3rem nth( $c-1, 2 ); background-color: nth( $c-1, 1 ); position: relative; box-shadow: unquote( nth( $bs, 2 ) );
        @media ( max-width: 41.2em /* 659px */ ) { margin-bottom: 3.5rem }
        @media ( max-width: 24.95em /* 399px */ ) { padding: 2.5rem 2.2rem 2.2rem }
        @include icon-before( "../../multimedia/images/extra-small/ss-download-1.png", -1.5rem, 50% ) { transform: translateY( 50% ); filter: grayscale( 100% ) brightness( 215% ) } }
      & .proof-of-insurance { display: inline-block; font: { size: 1.6rem; weight: 500 }; color: nth( $c-1, 1 ); padding-bottom: .2rem; border-bottom: solid .2rem nth( $c-1, 1 ); position: relative;
        @media ( max-width: 41.2em /* 659px */ ) { transform: translateX( .5rem ) }
        @media ( max-width: 24.95em /* 399px */ ) { font-size: 1.5rem; transform: none }
        @include icon-before( "../../multimedia/images/extra-small/ss-download-1.png", -3.4rem, 0 ) {
          @media ( max-width: 24.95em /* 399px */ ) { display: none } } } } } }
