#top-header .display-heading { box-shadow: unquote( nth( $bs, 3 ) );
  & > .content-container { height: 66rem; @include set-grid(); @include row-flex();
    @media ( max-width: 69.95em /* 1119px */ ) { flex-direction: column; justify-content: center; text-align: center }
    & > .heading-container { max-width: 63.5rem; color: white;
      @media ( max-width: 69.95em /* 1119px */ ) { margin-bottom: 2.5rem }
      @media ( max-width: 43.7em /* 699px */ ) { margin-bottom: 1.5rem }
      & .title { font: { size: 13rem; weight: 700 }; margin-bottom: 2rem;
        @media ( max-width: 69.95em /* 1119px */ ) { font-size: 9rem }
        @media ( max-width: 43.7em /* 699px */ ) { font-size: 7.5rem }
        @media ( max-width: 24.95em /* 399px */ ) { font-size: calc( 17vw + .8rem ) } }
      & .description { font: { size: 2.5rem; weight: 300 }; line-height: 1.36;
        @media ( max-width: 43.7em /* 699px */ ) { font-size: 2rem } } }
    @include form-1 } }
