#about { margin: 8.2rem 0 18rem;
  @media ( max-width: 73.7em /* 1179px */ ) { margin-bottom: 12rem }
  & .content-container { @include set-grid; @include row-flex( $side: flex-start );
    @media ( max-width: 73.7em /* 1179px */ ) { flex-direction: column; align-items: center }
    & .text-container { width: 100%; max-width: 72.5rem; @include row-flex;
      @media ( max-width: 73.7em /* 1179px */ ) { margin-bottom: 6rem }
      @media ( max-width: 46.85em /* 749px */ ) { justify-content: center; text-align: center }
      & .side-image {
        @media ( max-width: 46.85em /* 749px */ ) { display: none } }
      & .text-body { max-width: 43.5rem;
        @media ( max-width: 46.85em /* 749px */ ) { max-width: none }
        @include title-3 {
          & .title {
            @media ( max-width: 56.2em /* 899px */ ) { font-size: 4.8rem } } };
        & .text-set { color: nth( $c-0, 7 );
         & .text { font-size: 2.4rem; line-height: 1.3;
           @media ( max-width: 56.2em /* 899px */ ) { font-size: 2.1rem }
           &:not( :last-child ) { margin-bottom: 3rem } } } } }
    & .side-info {
      @media ( max-width: 73.7em /* 1179px */ ) { width: 100% }
      & .topics-list { color: nth( $c-2, 1 );
        @media ( max-width: 73.7em /* 1179px */ ) { @include row-flex( $wrap: wrap ) }
        @media ( max-width: 46.85em /* 749px */ ) { flex-direction: column }
        & li { @include row-flex( $side: flex-start );
          @media ( max-width: 73.7em /* 1179px */ ) { flex-basis: 40% }
          @media ( max-width: 56.2em /* 899px */ ) { flex-basis: 45% }
          @media ( max-width: 46.85em /* 749px */ ) { flex-basis: auto }
          &:not( :last-child ) { margin-bottom: 4rem }
          & .icon { margin-right: 2.8rem;
            @media ( max-width: 46.85em /* 749px */ ) { flex-shrink: 0 } }
          & .text { font-size: 1.6rem; line-height: 1.5; max-width: 32rem } } } } } }
