#info-source { margin-bottom: 22rem;
  @media ( max-width: 68.7em /* 1099px */ ) { margin-bottom: 10rem }
  & .content-container { @include set-grid; @include row-flex( $side: flex-start );
    @media ( max-width: 68.7em /* 1099px */ ) { flex-direction: column; align-items: center; text-align: center }
    & .text-container { max-width: 71.6rem;
      @media ( max-width: 68.7em /* 1099px */ ) { max-width: none; margin-bottom: 4rem }
      @include title-3 {
        & .title {
          @media ( max-width: 56.2em /* 899px */ ) { font-size: 4.2rem }
          @media ( max-width: 43.7em /* 699px */ ) { font-size: 3.5rem }
          @media ( max-width: 24.95em /* 399px */ ) { font-size: 2.8rem } } }
      & .text-set { color: nth( $c-2, 1 );
        & .text { font-size: 2.2rem; line-height: 1.3;
          @media ( max-width: 56.2em /* 899px */ ) { font-size: 2.1rem }
          @media ( max-width: 43.7em /* 699px */ ) { font-size: 1.7rem }
          @media ( max-width: 24.95em /* 399px */ ) { font-size: 1.6rem } } } }
    & .side-image {  } } }
