/* Pré-Configurações Gerais */
@import "../global/default-presets/rules", "../global/default-presets/mixins", "../global/default-presets/functions", "../global/default-presets/animations", "../global/default-presets/typography";

/* Pré-Configurações do Site */
@import "../global/site-presets/variables", "../global/site-presets/mixins";

/* Configurações Locais */
// Regras
body { font: 300 1.6rem/1 $f-sans-1; background-color: $default-bg; overflow-x: hidden }

// Variáveis
$header-bg: "../../multimedia/images/extra-large/ll-building-2.jpg";

/* Componentes */
@import "../global/site-presets/top-header/top-header", "../global/site-presets/top-header/default-nav-container", "top-header/display-heading",
        "about", "info-source",
        "../global/site-presets/top-footer/default-footer", "../global/site-presets/top-footer/default-contact-info",
        "../global/site-presets/top-footer/default-copyright";
