// Gradientes
  // Gradiente 1
  @mixin gradient-1( $color: nth( $c-0, 5 ) )
    { background: { image: linear-gradient( 45deg, $color 0%, $color 95.5%, darken( $color, 7% ) 95.6% ); color: $color } }

// Componentes
  // Títulos
    // Título 1
    @mixin title-1( $bmar: 4rem, $color: nth(  $c-0, 8 ) )
      { & .title { font: { size: 5rem; weight: 300 }; text-transform: uppercase; color: $color; margin-bottom: $bmar; @content; } }

    // Título 2
    @mixin title-2( $icon, $x-pos: -1.7rem, $y-pos: -.2rem )
      { & .title { @include icon-before( "extra-small/ss-#{ unquote( $icon ) }", $x-pos, $y-pos, relative ); font-size: 3rem; color: nth( $c-0, 8 ); margin-left: abs( $x-pos ); text-transform: unset; @content; } }

    // Título 3
    @mixin title-3
      { & .heading-container { margin-bottom: 3rem; color: nth( $c-0, 8 );
          & .title { font: { size: 5rem; weight: 300 }; text-transform: uppercase };
        @content; } }

    // Título 4
    @mixin title-4( $bmar: 3rem )
      { & .title { font: { size: 10rem; weight: 300 }; color: nth( $c-0, 13 ); text-transform: uppercase; margin-bottom: $bmar }
        & .subtitle { font: { size: 3rem; weight: 500 }; color: nth( $c-0, 6 ) } }

  // Botões
  @mixin button-1( $selector )
    { & #{ unquote( $selector ) } { @include row-flex( $main: center ); box-sizing: border-box; min-width: 9.1rem; min-height: 3.4rem; padding: .8rem 0; border-radius: 2rem; background-color: nth( $c-1, 1 ); box-shadow: unquote( nth( $bs, 5 ) );
        & .content { font: { size: 1.4rem; weight: 300 }; color: white; width: 90% }
        @content; } }

// Blocos de Estilo
  // Blocos de Listas
    // Social 1
    @mixin social-list-1( $size, $rmar, $img )
      { & .social-list {
          & li { display: inline-block;
            &:not( :last-child ) { margin-right: $rmar }
            & a { display: inline-block; width: $size; height: $size; background: { repeat: no-repeat; position: center; size: contain };
              @each $name, $file in $img
                { &.#{ $name } { background-image: url( "../../multimedia/images/extra-small/ss-#{ unquote( $file ) }" ) } } } }
          @content } };

    // Tópicos 1
    @mixin topics-list-1( $img, $x: left, $p-list: 4.1rem 0 4.1rem 5.8rem, $p-item: 1rem 0 1rem 4rem, $bmar: 6rem, $border: false, $b-color: nth( $c-0, 5 ) )
      { & .topics-list { font-weight: 700; text-transform: uppercase; padding: $p-list; @if $border { border-#{ $border }: solid .1rem $b-color };
          & li { color: nth( $c-0, 6 ); padding: $p-item; background: { repeat: no-repeat; position-y: center };
            @each $class, $file in $img { &.#{ $class } { background: { image: url( "../../multimedia/images/extra-small/ss-#{ unquote( $file ) }" ); position-x: $x } } }
            &:not( :last-child ) { margin-bottom: $bmar } }
          @content; } }

    // Dados 1
    @mixin data-list-1( $no-border: false, $lmar: 4.2rem, $dd-f-size: 1.6rem, $c-highlight: nth( $c-1, 1 ) )
      { & { @include row-flex( wrap, flex-start, flex-start );
          & .divisor { width: 100%; height: .1rem; background-color: nth( $c-0, 5 ); margin: 3.5rem 0 }
          & .data-set { flex: 0 1 auto; padding: .3rem 1.2rem .3rem 0;
            @media ( max-width: 83.1em /* 1329px */ ) { padding-bottom: 6rem }
            &:not( :first-child ) { margin-left: $lmar }
            &:not( :last-child ) { border-right: solid .1rem nth( $c-0, 5 ) }
            & dt { color: nth( $c-0, 9 ); font-size: 1.4rem; margin-bottom: 1.2rem; cursor: default }
            & dd { color: nth( $c-0, 10 ); font-size: $dd-f-size; margin-bottom: .5rem;
              &.bold { font-weight: 700 }
              &.highlight { color: $c-highlight; font-weight: 700 }
              & .line {
                &:not( :last-of-type ) { margin-bottom: 1rem } }
              &:not( :last-of-type )::after { content: "," } }
            @if $no-border {
              @each $element in $no-border { &:nth-of-type( #{ $element } ) { border-right: none } } }
            @content; }
          & .divisor + .data-set { margin-left: 0 } } }

    // Navegação por Páginas
      // Primeira
      @mixin pages-nav-1( $color: nth( $c-1, 1 ) )
        { & { @include row-flex; max-width: 35.8rem; margin: 0 auto;
                & button { font-size: 1.4rem; color: nth( $c-0, 10 ); padding: 1.2rem 1.8rem; border: solid .1rem nth( $c-0, 5 ); border-radius: 2.5rem; background-color: lighten( nth( $c-0, 2 ), 1% ); position: relative; transition: all nth( $a-dt, 1 );
                  @media ( max-width: 29.95em /* 479px */ ) { font-size: 1.2rem }
                  &[ name="previous" ] { padding-left: 4.5rem;
                    @include icon-before( "extra-small/ss-larr-1.png", 1.9rem, 48% ) { transform: translateY( 50% ) } }
                  &[ name="next" ] { padding-right: 4.5rem;
                    @include icon-after( "extra-small/ss-larr-1.png", 1.9rem, 52% ) { transform: translateY( 50% ) scale( -1 ) } }
                  &:hover, &:focus { color: white; background-color: $color; border-color: transparent;
                    &::before, &::after { filter: brightness( 500% ) } } }
                & .pages-info {
                  & .description { font-size: 2rem; color: nth( $c-0, 13 ); text-transform: uppercase; cursor: default;
                    @media ( max-width: 69.95em /* 1119px */ ) { font-size: 1.6rem }
                    @media ( max-width: 29.95em /* 479px */ ) { font-size: 1.4rem }
                    & .current-page { font-weight: 700; color: $color }
                    & .total-pages {  } } } } }

    // Recipientes com Informações
      // Caixas
      @mixin data-box-1
        { & { font-size: 1.4rem; color: nth( $c-0, 7 ); box-sizing: border-box; width: 38.2rem; padding: 3rem 2.8rem; border: solid .1rem nth( $c-0, 13 ); border-radius: .2rem; background-color: nth( $c-0, 1 ); box-shadow: unquote( nth( $bs, 6 ) ); margin-bottom: 3rem;
            @media ( max-width: 75.6em /* 1209px */ ) { flex-basis: 38.8rem }
            @media ( max-width: 52.45em /* 839px */ ) { flex-basis: 100%; max-width: 50rem; text-align: center }
            @media ( max-width: 27.45em /* 439px */ ) { padding: 2rem .5rem }
            & dt, & dd { cursor: default }
            & .heading-container { margin-bottom: 1.8rem;
              & .address-entry { margin-bottom: 1rem;
                & dt {
                  &::after { content: "" } }
                & dd {  } }
              & .appraiser { font: { size: 3rem; weight: 700 }; color: nth( $c-0, 10 ); margin-bottom: 1rem; @include select;
                @media ( max-width: 24.95em /* 399px */ ) { font-size: 2rem } }
              & .company { @include select } }
            & .info-list {
              & .tel-set { @include row-flex( $main: flex-start ); margin-bottom: 1.8rem;
                @media ( max-width: 52.45em /* 839px */ ) { justify-content: center }
                @media ( max-width: 24.95em /* 399px */ ) { flex-direction: column }
                & > :not( :last-child ) {
                  @media ( max-width: 24.95em /* 399px */ ) { margin-bottom: 1.8rem } }
                & > * { @include topic-separator( 3.2rem, "|", ":first-child", left );
                  &:nth-child( n ) {
                    @media ( max-width: 24.95em /* 399px */ ) { margin-left: 0 }
                    &::before {
                      @media ( max-width: 24.95em /* 399px */ ) { content: "" } } } }
                  & dd { color: nth( $c-2, 2 ); cursor: pointer } }
              & .additional-info {
                & > * { margin-bottom: 1.8rem;
                  & dd {
                    & .certificate { @include select } } } } }
            @include button-1( "[ name$='send-email' ]" ) {
              @media ( max-width: 52.45em /* 839px */ ) { margin: { left: auto; right: auto } } } } }

      // Fileiras
      @mixin data-row-1
        { & { font-size: 1.4rem; color: nth( $c-0, 7 ); @include row-flex( $main: flex-start ); box-sizing: border-box; width: 100%; padding: 2.2rem 3.2rem; border: solid .1rem nth( $c-0, 13 ); border-radius: .2rem; background-color: nth( $c-0, 1 ); box-shadow: unquote( nth( $bs, 6 ) ); margin-bottom: 3rem;
            @media ( max-width: 68.7em /* 1099px */ ) { padding: 2.2rem 1.5rem }
            @media ( max-width: 65.6em /* 1049px */ ) { justify-content: space-between }
            & dt, & dd { cursor: default }
            & .heading-container { width: 35rem; margin-right: 3rem; @include text-hidden;
              @media ( max-width: 74.95em /* 1199px */ ) { margin-right: 1.5rem }
              @media ( max-width: 51.85em /* 829px */ ) { width: 25rem; margin-right: 1rem }
              & .address-entry { margin-bottom: 1rem;
                & dt {
                  &::after { content: "" } }
                & dd {  } }
              & .appraiser { font: { size: 3rem; weight: 700 }; color: nth( $c-0, 10 ); margin-bottom: 1rem; @include select;
                @media ( max-width: 51.85em /* 829px */ ) { font-size: 2.5rem } }
              & .company { @include select } }
            & .info-list { @include row-flex( $main: flex-start, $side: stretch );
              @media ( max-width: 65.6em /* 1049px */ ) { flex-direction: column; margin-right: 1.5rem }
              @media ( max-width: 51.85em /* 829px */ ) { margin-right: 1rem }
              & > * { @include column-flex( $main: center, $side: flex-start ); padding: .9rem 1rem .9rem 0; border-right: solid .1rem nth( $c-0, 5 ); margin-right: 6rem;
                @media ( max-width: 74.95em /* 1199px */ ) { margin-right: 1.5rem }
                @media ( max-width: 65.6em /* 1049px */ ) { padding-right: 0; border-right: none; margin-right: 0 } }
              & .tel-set { width: 20rem;
                & > :not( :last-child ) { margin-bottom: 1.8rem }
                & > * {
                  & dd { color: nth( $c-2, 2 ); cursor: pointer } } }
              & .additional-info { width: 28rem;
                @media ( max-width: 51.85em /* 829px */ ) { width: 24rem }
                & > :not( :last-child ) { margin-bottom: 1.8rem }
                & > * {
                  & dd {
                    & .certificate { @include select } } } } }
            @include button-1( "[ name$='send-email' ]" ) } }

  // Blocos de Medidas
    // Tabelas
      // Tablea 1
      @mixin table-measures-1( $pad: "1.6rem 1.2rem 1.9rem 2.8rem" )
        { & { padding: unquote( $pad );
            @media ( max-width: 69.95em /* 1119px */ ) { padding: { left: 1.5rem; right: 1.5rem } }
            @media ( max-width: 49.95em /* 799px */ ) { padding: { left: .8rem; right: .8rem } }
            @media ( max-width: 29.95em /* 479px */ ) { padding: 1rem .5rem }
            &.form { min-width: 11.5rem;
              @media ( max-width: 69.95em /* 1119px */ ) { min-width: 8rem }
              @media ( max-width: 49.95em /* 799px */ ) { min-width: unset } }
            &.service { min-width: 43.4rem; padding-left: 4.5rem;
              @media ( max-width: 69.95em /* 1119px */ ) { min-width: 35rem; padding-left: 1.5rem }
              @media ( max-width: 49.95em /* 799px */ ) { min-width: unset; padding-left: .8rem } }
            &.fee { min-width: 18.6rem;
              @media ( max-width: 69.95em /* 1119px */ ) { min-width: 7rem }
              @media ( max-width: 49.95em /* 799px */ ) { min-width: unset;
                & .removable { display: none } } }
            &.turnaround { min-width: 21.1rem;
              @media ( max-width: 69.95em /* 1119px */ ) { min-width: 3.5rem } } } }

    // Formulários
      // Formulários Completos
        // Formulário 1
        @mixin form-1( $tel-call: false )
          { $column-query: if( $tel-call, "67.45em /* 1079px */", "69.95em /* 1119px */" );
            & .form-container { width: 100%; max-width: 40.5rem; position: relative; perspective: 200rem;
              @if $tel-call { top: 4rem };
              @media ( max-width: unquote( $column-query ) ) { max-width: 90rem; @if $tel-call { top: 0 } }
              @media ( max-width: 37.45em /* 599px */ ) { display: none }
              & form[ name="header-contact" ] { box-sizing: border-box; width: 100%; padding: 3.5rem 2.6rem if( $tel-call, 3rem, 6rem ); border-bottom: solid .2rem nth( $c-2, 2 ); background-color: darken( nth( $c-0, 2 ), 1% ); position: relative; z-index: 1; animation: rotate-to-backface nth( $a-dt, 5 ) both alternate infinite paused;
                @if $tel-call { box-shadow: unquote( nth( $bs, 8 ) ) };
                @media ( max-width: unquote( $column-query ) ) { padding: 2rem }
                & > .heading-container { margin-bottom: 3.2rem;
                  @media ( max-width: 43.7em /* 699px */ ) { margin-bottom: 2rem }
                  & .title { font: { size: 4rem; weight: 700 }; color: nth( $c-0, 6 ); text-transform: uppercase; margin-bottom: .8rem;
                    @media ( max-width: 43.7em /* 699px */ ) { font-size: 3rem } }
                  & .response-time { font-size: 1.2rem; cursor: default;
                    @media ( max-width: 43.7em /* 699px */ ) { font-size: 1.1rem }
                    & dt, & dd { display: inline }
                    & dt { font-weight: 500; color: nth( $c-0, 13 );
                      &::after { content: ":" } }
                    & dd { font-weight: 700; color: nth( $c-0, 6 ) } } }
                & .form-body {
                  & input, & textarea { box-sizing: border-box; display: block; font: 500 1.2rem $f-sans-1; width: 100%; border: solid .1rem nth( $c-0, 13 ); background-color: nth( $c-0, 2 );
                    @include fade-placeholder( nth( $a-dt, 1 ) ) { color: inherit; font: { size: inherit; weight: inherit } } }
                  & input { color: nth( $c-0, 16 ); padding: 1.8rem 1.4rem;
                    &::placeholder { text-transform: uppercase } }
                  & > input, .input-set { margin-bottom: .4em }
                  & textarea { color: nth( $c-0, 9 ); padding: 1.4rem; margin-bottom: 1.1rem }
                  & .input-set { @include row-flex;
                    & input { flex: 0 0 49%;
                      @media ( max-width: unquote( $column-query ) ) { flex-basis: 33% }
                      &:not( :last-child ) { margin-right: .4rem } } }
                  & .buttons-set { @include row-flex;
                    & .boot-finder { @include row-flex; margin-right: .4rem;
                      & .code-container { display: table; border: solid .1rem nth( $c-0, 13 ); border-radius: .3rem; background-color: nth( $c-0, 2 ); margin-right: .4rem;
                        & .code { display: table-cell; font: { size: 1.4rem; weight: 900 }; letter-spacing: .1rem; color: nth( $c-0, 17 ); padding: 1.4rem .7rem; background: url( "../../multimedia/images/extra-small/ss-strokes-1.png" ); cursor: default }
                        & .reset { display: table-cell; font: { size: 1.2rem; weight: 700 }; color: nth( $c-0, 17 ); min-width: 3.5rem; transform: rotate( 45deg ); text-align: center; vertical-align: middle; cursor: pointer } }
                      & input[ name="header-boot-finder" ] { width: 11.9rem; padding: 1.4rem 1rem; border-radius: .3rem;
                        &::placeholder { font: { size: 1.2rem; weight: 500 }; color: nth( $c-0, 14 ) } } }
                    & button[ type="submit" ] { text-align: center; text-transform: uppercase; flex-grow: 1; padding: 1.3rem; background-image: unquote( nth( $lg, 4 ) ); border-radius: .3rem; box-shadow: unquote( nth( $bs, 5 ) );
                      & .content { display: inline-block; font: { size: 1.2rem; weight: 700 }; color: nth( $c-0, 15 ); margin-right: 1rem; @include icon-after( "extra-small/ss-email-2.png", -1.2rem, -.2rem, relative ) } } }
                  & .bottom-container { display: none;
                    @media ( max-width: unquote( $column-query ) ) { @include row-flex }
                    @media ( max-width: 56.2em /* 899px */ ) { align-items: stretch }
                    & textarea {
                      @media ( max-width: unquote( $column-query ) ) { width: auto; margin: { right: .8rem; bottom: 0 }; flex-grow: 1 } }
                    & .buttons-set {
                      @media ( max-width: unquote( $column-query ) ) { order: 1; flex-basis: 50% }
                      @media ( max-width: 56.2em /* 899px */ ) { flex-direction: column; align-items: flex-end }
                      & .boot-finder {
                        @media ( max-width: 56.2em /* 899px */ ) { width: 100%; margin-bottom: 1rem }
                        & .code-container {
                          @media ( max-width: 56.2em /* 899px */ ) { flex-grow: 1 } } }
                      & button[ type="submit" ] {
                        @media ( max-width: 56.2em /* 899px */ ) { width: 9.9rem }
                        @media ( max-width: 43.7em /* 699px */ ) { box-sizing: border-box; width: 100% } } } } }
                & > .contact-info { margin-top: 3.2rem;
                  @media ( max-width: 67.45em /* 1079px */ ) { display: none }
                  & .tel {
                    & .action { font: { size: 1.8rem; weight: 500 }; cursor: default;
                      & .highlight { font-weight: 900 }
                      & .addendum { font-size: 1.4rem; color: nth( $c-0, 7 ) } }
                    & .tel-number { font: { size: 3.5rem; weight: 700 }; text-decoration: { line: underline; style: solid; color: nth( $c-2, 2 ) } } } } }
              & .form-backface { width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-color: nth( $c-0, 2 ); z-index: 0; backface-visibility: hidden; animation: rotate-from-backface nth( $a-dt, 4 ) both alternate infinite paused;
                @if $tel-call { box-shadow: unquote( nth( $bs, 8 ) ) };
                & .content-container { @include abs-center; width: 100%;
                  & .text-set { font: { size: 1.6rem; weight: 300 }; color: nth( $c-0, 10 ); margin-bottom: 5rem; text-align: center;
                    & .message {
                      &:not( :last-child ) { margin-bottom: 2.5rem }
                      & .highlight { font-weight: 700; color: nth( $c-3, 1 ) }
                      & .assertion { font-weight: 500 } } }
                  & [ name$="-success" ] { @include row-flex( $main: center ); box-sizing: border-box; width: 9.1rem; height: 3.4rem; padding: .8rem 0; background-color: nth( $c-2, 2 ); border-radius: 2rem; box-shadow: nth( $bs, 7 ); margin: 0 auto;
                    & .content { display: inline-block; width: 85%; font: { size: 1.4rem; weight: 300 }; color: white; text-transform: uppercase } } } }
            @content; } }

      // Corpo de Formulários
      @mixin form-body-1
        { & .form-body { max-width: 60rem;
            @media ( max-width: 71.85em /* 1149px */ ) { order: 2; margin-bottom: 6rem }
            & input, & textarea { box-sizing: border-box; display: block; font: 500 1.6rem $f-sans-1; color: nth( $c-0, 6 ); width: 100%; padding: 1.8rem 2rem; border: solid .2rem nth( $c-1, 5 ); background-color: nth( $c-1, 4 );
              @include fade-placeholder( nth( $a-dt, 1 ) ) { color: inherit; font: { size: inherit; weight: inherit } } }
            & input {
              &::placeholder { text-transform: uppercase } }
            & > input, .input-set { margin-bottom: .7rem }
            & textarea { margin-bottom: 1.4rem }
            & .input-set { @include row-flex;
              @media ( max-width: 31.2em /* 499px */ ) { flex-direction: column; margin-bottom: 0 }
              & input { flex: 0 0 49%;
                &:not( :last-child ) { margin-right: .3rem }
                @media ( max-width: 31.2em /* 499px */ ) { margin-bottom: .7rem } } }
            & .buttons-set { @include row-flex;
              @media ( max-width: 40.6em /* 649px */ ) { flex-direction: column }
              & .boot-finder { @include row-flex; margin-right: .8rem;
                @media ( max-width: 40.6em /* 649px */ ) { margin: { bottom: 2.5rem; right: 0 } }
                @media ( max-width: 31.2em /* 499px */ ) { width: 100%; justify-content: space-evenly }
                & .code-container { display: table; border: solid .2rem nth( $c-1, 5 ); background-color: nth( $c-1, 4 ); margin-right: .7rem;
                  @media ( max-width: 40.6em /* 649px */ ) { margin-right: 2.5rem }
                  @media ( max-width: 31.2em /* 499px */ ) { margin-right: 1rem }
                  & .code { display: table-cell; font: { size: 3rem; weight: 700 }; letter-spacing: .3rem; color: nth( $c-1, 7 ); padding: 1.5rem 2rem; background: url( "../../multimedia/images/extra-small/ss-strokes-1.png" ); cursor: default;
                    @media ( max-width: 31.2em /* 499px */ ) { font-size: 2.4rem; padding: 1.2rem 1.4rem }
                    @media ( max-width: 23.7em /* 379px */ ) { font-size: 1.6rem; padding: 1rem } }
                  & .reset { display: table-cell; font: { size: 2rem; weight: 700 }; color: nth( $c-0, 7 ); min-width: 6rem; transform: rotate( 45deg ); text-align: center; vertical-align: middle; cursor: pointer;
                    @media ( max-width: 31.2em /* 499px */ ) { min-width: 4rem }
                    @media ( max-width: 23.7em /* 379px */ ) { min-width: 3rem } } }
                & input[ name$="-boot-finder" ] { width: 16.4rem; padding: 2rem;
                  @media ( max-width: 31.2em /* 499px */ ) { width: 14rem; font-size: 1.4rem; padding: 1.5rem 1.2rem }
                  @media ( max-width: 23.7em /* 379px */ ) { font-size: 1.2rem; padding: 1.1rem 1rem }
                  &::placeholder { font: { size: 1.4rem; weight: 500 }; color: nth( $c-1, 6 ) } } }
              & button[ type="submit" ] { flex-grow: 1; padding: 2.2rem 2rem 1.8rem; border-bottom: solid .5rem darken( nth( $c-0, 6 ), 2% ); background-color: nth( $c-0, 6 ); text-align: center; text-transform: uppercase;
                @media ( max-width: 40.6em /* 649px */ ) { width: 18rem }
                @media ( max-width: 31.2em /* 499px */ ) { width: 14rem; padding: 1.6rem 1.8rem }
                @media ( max-width: 23.7em /* 379px */ ) { width: 12rem; padding: 1.4rem 1.6rem }
                & .content { display: inline-block; font: { size: 1.6rem; weight: 700 }; color: nth( $c-0, 15 ); margin-right: .6rem; @include icon-after( "extra-small/ss-email-2.png", -1.2rem, 0, relative ) } } }
            @content; } }

// Ícones
  // Formatos de Arquivos
  @mixin file-icons-1
    { $base-addr: "../../multimedia/images/extra-small/ss-";
      $files-type: ( pdf: ( $base-addr + "pdf-1.png", -2rem, -.3rem ), edi: ( $base-addr + "file-1.png", -2.4rem, -.4rem ),
                     xml: ( $base-addr + "xml-1.png", -2.2rem, -.1rem ), alamode: ( $base-addr + "file-1.png", -2.4rem, -.4rem ) );
      @each $class, $file in $files-type
        { &.#{ $class } { @include icon-before( nth( $file, 1 ), nth( $file, 2 ), nth( $file, 3 ) ) } } }
