// Fontes
@include museo-sans();
$f-sans-1: "Museo Sans", sans-serif;

//Cores
$c-0: ( hsl( 0, 0%, 93% ), hsl( 0, 0%, 96% ), hsl( 0, 0%, 41% ), hsl( 0, 0%, 30% ),
        hsl( 0, 0%, 88% ), hsl( 0, 0%, 16% ), hsl( 0, 0%, 46% ), hsl( 0, 0%, 76% ),
        hsl( 0, 0%, 69% ), hsl( 0, 0%, 26% ), hsl( 0, 0%, 83% ), hsl( 0, 0%, 50% ),
        hsl( 0, 0%, 74% ), hsl( 0, 0%, 62% ), hsl( 0, 0%, 98% ), hsl( 0, 0, 38% ),
        hsl( 0, 0%, 53% ), hsl( 0, 0%, 56% ) );
$c-1: ( hsl( 216, 44%, 45% ), hsl( 216, 43%, 39% ), hsl( 216, 41%, 47% ), hsl( 216, 37%, 80% ),
        hsl( 215, 44%, 17% ), hsl( 213, 8%, 52%  ), hsl( 210, 5%, 43%  ), hsl( 216, 41%, 42% ) );
$c-2: ( hsl( 200, 18%, 26% ), hsl( 207, 90%, 54% ), hsl( 204, 68%, 62% ) );
$c-3: ( hsl( 151, 100%, 41% ) );

// Gradientes
$lg: ( "linear-gradient( 0deg, hsl( 36, 51%, 49% ), hsl( 35, 50%, 41% ) )",
       "linear-gradient( 90deg, hsl( 0, 0%, 12% ) 0%, hsl( 0, 0%, 10% ) 12.3%, hsl( 0, 0%, 18% ) 12.4%, hsl( 0, 0%, 15% ) 87.6%, hsl( 0, 0%, 10% ) 87.7%, hsl( 0, 0%, 12% ) 100% )",
       "linear-gradient( 90deg, hsl( 0, 0%, 98% ), hsl( 0, 0%, 98% ) 22%, hsl( 0, 0%, 98% ) 22%, hsl( 0, 0%, 93% ) 73.5%, hsl( 0, 0%, 93% ) 100% )",
       "linear-gradient( 90deg, hsl( 207, 90%, 54% ), #{ mix( hsl( 207, 76%, 48% ), hsl( 207, 90%, 54% ), 40% ) } 70%, hsl( 207, 76%, 48% ) )",
       "linear-gradient( 90deg, hsl( 0, 0%, 12% ) 0%, hsl( 0, 0%, 10% ) 5%, hsl( 0, 0%, 18% ) 5.1%, hsl( 0, 0%, 15% ) 94.9%, hsl( 0, 0%, 10% ) 95%, hsl( 0, 0%, 12% ) 100% )",
       "linear-gradient( 90deg, hsl( 0, 0%, 12% ) 0%, hsl( 0, 0%, 10% ) 5%, hsl( 0, 0%, 18% ) 5.1%, hsl( 0, 0%, 15% ) 94.9%, hsl( 0, 0%, 10% ) 95%, hsl( 0, 0%, 12% ) 100% )",
       "linear-gradient( 90deg, hsla( 0, 0%, 12%, .85 ) 0%, hsla( 0, 0%, 10%, .85 ) 12.3%, hsla( 0, 0%, 18%, .85 ) 12.4%, hsla( 0, 0%, 15%, .85 ) 87.6%, hsla( 0, 0%, 10%, .85 ) 87.7%, hsla( 0, 0%, 12%, .85 ) 100% )",
       "linear-gradient( 90deg, hsla( 0, 0%, 12%, .85 ) 0%, hsla( 0, 0%, 10%, .85 ) 5%, hsla( 0, 0%, 18%, .85 ) 5.1%, hsla( 0, 0%, 15%, .85 ) 94.9%, hsla( 0, 0%, 10%, .85 ) 95%, hsla( 0, 0%, 12%, .85 ) 100% )",
       "linear-gradient( 90deg, hsl( 0, 0%, 98% ), hsl( 0, 0%, 98% ) 55%, hsl( 0, 0%, 94% ) 91.5% )",
       "linear-gradient( 90deg, hsl( 207, 90%, 54% ), hsl( 207, 90%, 54% ) 55%, hsl( 207, 76%, 47% ) 96% )" );

// Sombras
$bs: ( "0 .1rem .3rem rgba( 245, 245, 245, .25 )", "0 .2rem .5rem .1rem rgba( 0, 0, 0, .25 )",
       "0 .2rem .4rem rgba( 0, 0, 0, .25 )", "0 .4rem 1.5rem rgba( 0, 0, 0, .1 )",
       "0 .2rem .6rem 0rem rgba( 0, 0, 0, .15 )", ".5rem .5rem 1.5rem rgba( 0, 0, 0, .1 )",
       "0 0 .5rem .2rem rgba( 0, 0, 0, .20 )", "0 .5rem .8rem rgba( 0, 0, 0, .25 )" );

$ds: ( "0.4rem 0.2rem 0.6rem rgba( 0, 0, 0, 0.3 )" );

// Transições & Animações
$a-dt: ( .5s ease-out, .3s ease-in-out, 1s ease-in,
         1.03s ease-out, 1.03s ease-in );

@keyframes rotate-to-backface
  { 0% { transform: rotateY( 0deg ) }
    97.5% { transform: rotateY( 90deg ) }
    100% { transform: rotateY( 90deg ) } }
@keyframes rotate-from-backface
  { 0% { transform: rotateY( -90deg ) }
    2.5% { transform: rotateY( -90deg ) }
    100% { transform: rotateY( 0deg ) } }

// Componentes
$default-bg: nth( $c-0, 2 ); $h-pad: ( default: 1.5rem );
