#fee-schedule { border-bottom: solid .4rem nth( $c-0, 5 );
  & .content-container { @include set-grid( ( 8rem, 6.2rem ) );
    & .heading-container { @include title-4( 8rem );
      & .title {
        @media ( max-width: 69.95em /* 1119px */ ) { font-size: 7rem; margin-bottom: 6rem }
        @media ( max-width: 49.95em /* 799px */ ) { font-size: 4rem; margin-bottom: 4.5rem }
        @media ( max-width: 34.95em /* 559px */ ) { font-size: 3.5rem; margin-bottom: 3.5rem }
        @media ( max-width: 24.95em /* 399px */ ) { font-size: 3rem } } }
    & .display-options { display: table; margin-left: 1.8rem; border-bottom: solid .1rem nth( $c-0, 11 ); border-collapse: collapse; margin-bottom: 3.8rem; position: relative;
        &::after { @include null-content( 95vw, .1rem ); background-color: nth( $c-0, 11 ); max-width: 112rem; position: absolute; left: -1.8rem; bottom: 0; z-index: -1;
          @media ( max-width: 49.95em /* 799px */ ) { width: 85vw } }
      & li { display: table-cell; font-size: 2rem; color: nth( $c-0, 7 ); padding: 0 .6rem 1.2rem; border-bottom: solid .4rem transparent; cursor: pointer; outline: none;
        @media ( max-width: 49.95em /* 799px */ ) { font-size: 1.7rem }
        @media ( max-width: 34.95em /* 559px */ ) { font-size: 1.3rem }
        @media ( max-width: 24.95em /* 399px */ ) {
          & .removable { display: none } }
        &.current { font-weight: 700; border-color: nth( $c-2, 2 ) }
        &:not( .current ):hover, &:not( .current ):focus { filter: brightness( 102% ); outline: none } } }
    & .schedule-table { text-align: left; border-collapse: collapse; border-radius: .5rem .5rem 0 0; overflow: hidden; cursor: default; margin-bottom: 4.4rem;
      @media ( max-width: 69.95em /* 1119px */ ) { width: 100% }
      & thead { font: { size: 1.6rem; weight: 700 }; text-transform: uppercase; color: white; background-color: nth( $c-2, 2 );
        @media ( max-width: 69.95em /* 1119px */ ) { font-size: 1.3rem }
        @media ( max-width: 49.95em /* 799px */ ) { font-size: 1.1rem }
        & th { @include table-measures-1( "2.8rem 1.2rem 2.8rem 2.8rem" ) } }
      & tbody { font-size: 1.6rem;
        @media ( max-width: 69.95em /* 1119px */ ) { font-size: 1.4rem }
        @media ( max-width: 49.95em /* 799px */ ) { font-size: 1.2rem }
        & tr { border: solid .1rem nth( $c-0, 11 );
          &:not( :first-child ) { border-top: none }
          & td { color: nth( $c-0, 10 ); @include table-measures-1; background-color: nth( $c-0, 2 );
            &:first-child { color: nth( $c-0, 7 ); background-color: darken( nth( $c-0, 2 ), 1% ) } } } } }
    & .table-nav { @include pages-nav-1( nth( $c-2, 2 ) ) } } }
