/* Pré-Configurações Gerais */
@import "../global/default-presets/rules", "../global/default-presets/mixins", "../global/default-presets/functions", "../global/default-presets/animations", "../global/default-presets/typography";

/* Pré-Configurações do Site */
@import "../global/site-presets/variables", "../global/site-presets/mixins";

/* Configurações Locais */
// Regras
body { font: 300 1.6rem/1 $f-sans-1; background-color: nth( $c-0, 1 ); overflow-x: hidden }
dt, dd { display: block;
  &::after { content: "" } }

// Variáveis
$header-bg: "../../multimedia/images/extra-large/ll-ambient-1.jpg";

/* Componentes */
@import "../global/site-presets/top-header/top-header", "../global/site-presets/top-header/profile-nav-container", "top-header/display-heading",
        "profile-info/profile-info", "profile-info/about", "profile-info/license", "profile-info/overview",
        "profile-info/company", "profile-info/profile-footer", "fee-schedule",
        "../global/site-presets/top-footer/profile-contact-info", "../global/site-presets/top-footer/profile-copyright";
