#top-header .display-heading { box-shadow: unquote( nth( $bs, 3 ) );
  & > .content-container { @include set-grid( ( 10rem, 0 ) ); height: 66rem; @include row-flex(); position: relative;
    @media ( max-width: 67.45em /* 1079px */ ) { flex-direction: column; justify-content: center; text-align: center; padding-top: 3rem }
    & .text-container { @include column-flex( $side: flex-start ); height: 34rem; max-width: 72rem;
      @media ( max-width: 67.45em /* 1079px */ ) { height: auto; max-width: none; align-items: center }
      & > .heading-container { margin-bottom: 3rem;
        & .subtitle { font: { size: 1.8rem; weight: 300 }; color: nth( $c-0, 2 ); margin-bottom: 2rem;
          @media ( max-width: 43.7em /* 699px */ ) { font-size: 1.6rem } }
        & .title { font: { size: 11rem; weight: 500 }; color: nth( $c-0, 1 ); letter-spacing: -.2rem;
          @media ( max-width: 71.85em /* 1149px */ ) { font-size: 9rem }
          @media ( max-width: 43.7em /* 699px */ ) { font-size: 7.5rem }
          @media ( max-width: 31.2em /* 499px */ ) { font-size: 6rem } } }
      & .info-list {
        & li { display: inline-block; margin-bottom: 2rem;
          &:not( :last-child ) { margin-right: 4.5rem;
            @media ( max-width: 43.7em /* 699px */ ) { margin-right: 3rem }
            @media ( max-width: 23.7em /* 379px */ ) { display: block; margin-right: 0 } }
          & .image-container { @include row-flex;
            & .ilustration { margin-right: 2.2rem;
              @media ( max-width: 71.85em /* 1149px */ ) { max-width: 4.5rem; margin-right: 1.8rem }
              @media ( max-width: 43.7em /* 699px */ ) { max-width: 3.5rem; margin-right: 1.4rem } }
            & .description-container { max-width: 11rem; line-height: 1.2; color: nth( $c-0, 5 );
              & .description { font: { size: 1.4rem; weight: 500 }; text-transform: uppercase;
                @media ( max-width: 71.85em /* 1149px */ ) { font-size: 1.2rem }
                @media ( max-width: 43.7em /* 699px */ ) { font-size: 1.1rem } } } } } } }
    @include form-1( true );
    & .last-login-box { padding: 1.4rem 1.5rem 1.4rem 2.5rem; background-color: nth( $c-0, 2 ); border-radius: .5rem .5rem 0 0; box-shadow: unquote( nth( $bs, 8 ) ); position: absolute; bottom: 0;
      @media ( max-width: 67.45em /* 1079px */ ) { padding: .6rem 1.2rem .6rem 1.8rem; bottom: 1rem }
      & .last-login { font-size: 1.4rem; cursor: default;
        dt { display: inline; font-weight: 700; color: nth( $c-0, 10 ); @include icon-before( "extra-small/ss-move-2.png", -1rem, -.4rem, relative ) }
        dd { display: inline; font-weight: 300; color: nth( $c-0, 7 ) } } } } }
