#top-header .nav-container { background-image: if( $header-bg, unquote( nth( $lg, 7 ) ), unquote( nth( $lg, 2 ) ) ); box-shadow: unquote( nth( $bs, 1 ) ); position: relative;
  @media( max-width: 102.45em /* 1639px */ ) { background-image: if( $header-bg, unquote( nth( $lg, 8 ) ), unquote( nth( $lg, 5 ) ) ) }
  @media( max-width: 86.2em /* 1379px */ ) { background: { image: none; color: nth( $c-0, 6 ) } }
  & .content-container { @include set-grid; @include row-flex( $side: stretch );
    @media ( max-width: 69.95em /* 1119px */ ) { align-items: flex-end; padding: { top: 1.5rem; bottom: 1.5rem } }
    & .logo {
      & img { height: 100%; object: { fit: scale-down; position: center } }
      @media ( max-width: 69.95em /* 1119px */ ) and ( min-width: 37.45em /* 600px */ ) { margin-bottom: .5rem }
      @media ( max-width: 24.95em /* 399px */ ) { width: 14rem } }
    & .links-container { color: nth( $c-0, 2 ); @include row-flex();
      @media ( max-width: 69.95em /* 1119px */ ) { align-items: flex-start }
      & .pages-menu { text-transform: uppercase; margin-right: 4.9rem;
        @media ( max-width: 69.95em /* 1119px */ ) { order: 1; margin-right: 0 }
        & .pages-list { font-size: 1.4rem; overflow: hidden; transition: height nth( $a-dt, 3 ); position: relative; outline: none;
          @media ( max-width: 69.95em /* 1119px */ ) { padding-left: 2.5rem }
          @media ( max-width: 24.95em /* 399px */ ) { font-size: 1.2rem; padding-left: 1.5rem }
          &::after {
            @media ( max-width: 69.95em /* 1119px */ ) { content: url( "../../multimedia/images/extra-small/ss-rarr-1.png" ); display: inline-block; transform: rotate( 90deg ); position: absolute; top: 3rem; left: 0; cursor: pointer } }
          & li { box-sizing: border-box; display: inline-block; padding: 3.8rem 0; border-bottom: solid .2rem transparent;
            @media ( max-width: 69.95em /* 1119px */ ) { display: block; padding: 2.4rem 0 .6rem }
            &:not( :last-child ) { margin-right: 4.6rem;
              @media ( max-width: 69.95em /* 1119px */ ) { margin-right: 0 } }
            &.current { color: nth( $c-1, 1 ); border-color: nth( $c-1, 1 ); font-weight: 500 }
            & a { display: inline-block; transition: color $a-dt;
              &:hover, &:focus { color: mix( nth( $c-1, 1 ), nth( $c-0, 2 ), 50% ) }
              &:active { color: mix( nth( $c-1, 1 ), nth( $c-0, 2 ), 70% ) } } } } }
      & .contact-menu { @include row-flex; padding: 1.8rem 0 .8rem 3.9rem; border-left: solid .1rem nth( $c-0, 4 );
        @media ( max-width: 69.95em /* 1119px */ ) { border: { left: none; right: solid .1rem nth( $c-0, 4 ) }; padding: { left: 0; right: 2.5rem }; margin-right: 2rem }
        @media ( max-width: 37.45em /* 599px */ ) { display: none }
        & .contact-info { color: nth( $c-0, 2 ); font-weight: 500; margin-right: 3.6rem;
          @media ( max-width: 69.95em /* 1119px */ ) { display: none }
          & .message {
            & .action { display: block; font-size: 1.2rem; color: nth( $c-0, 3 ); margin-bottom: .8rem; cursor: default }
            & .tel { display: block; font-size: 1.8rem; padding-bottom: .4rem; border-bottom: solid .2rem nth( $c-1, 1 ); cursor: pointer } } }
        @include social-list-1( 2.1rem, 2.7rem, ( facebook: "facebook-1.png", linkedin: "linkedin-1.png", instagram: "instagram-1.png" ) ) {
          & li a { transition: filter nth( $a-dt, 1 );
            &:hover, &:focus { filter: sepia( 100% ) saturate( 6 ) hue-rotate( 150deg ) brightness( 85% ) }
            &:active { filter: sepia( 100% ) saturate( 10 ) hue-rotate( 150deg ) brightness( 85% ) } } } } } } }
